﻿@model CGM.Models.MyModels.SimpleBoundary
@if (ViewBag.AlreadyRead == "Registros ya adquiridos.")
{
    <div class="alert alert-light"><p>Se muestran los datos activos que corresponden a la adquisición activa. La presente instrucción omitió la adquisición de medidas, al ya tenerse un registro previo. </p>
    <hr />
    <p><strong>Fecha y hora de adquisición: @ViewBag.datetime.ToString("dd/MM/yyyy - hh:mm:ss tt", new System.Globalization.CultureInfo("en-US"))</strong></p></div>
}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="row">
            <div class="col-3"><h5>Frontera</h5></div>
            <div class="col-3"><h5>Código</h5></div>
            <div class="col-3"><h5>Medidor</h5></div>
            <div class="col-3"><h5>Tipo</h5></div>
        </div>
        <div class="row">
            <div class="col-3"><label class="small">@Model.boundaryName</label></div>
            <div class="col-3"><label class="small">@Model.boundaryCode</label></div>
            <div class="col-3"><label class="small">@Model.Meter</label></div>
            <div class="col-3"><label class="small">@Model.Tipo</label></div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="container-fluid">
        <table class="table table-striped table-sm small tblDetails">
            <thead>
                <tr>
                    <th>Hora</th>
                    @foreach (var item in Model.Measures.GroupBy(q => q.quantity).GroupBy(q => q.Key))
                    {
                        <th>@item.Key</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Measures.GroupBy(m => m.time).OrderBy(it => it.Key))
                {
                    <tr>
                        <td class="tblDetails">@item.Key.ToString("dd/MM/yyyy - hh:mm tt")</td>
                        @foreach (var measure in item.OrderBy(m => m.quantity))
                        {
                            <td class="align-content-center">@Math.Round(@measure.measure, 3)</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

