﻿
<div class="card">
    <div class="card-header">
        <h1 class="display">Resumen</h1>
    </div>
    <div class="card-body">
        <form id="formSummary">
            <div class="row form-group">
                <div class="col-lg-3 ml-2">
                    <label>Día de operación</label>
                    <div class="input-group" id="opday" data-target-input="nearest">
                        <input type="text" class="datetimepicker-input form-control" data-target="#opday" name="opday" />
                        <div class="input-group-append " data-target="#opday" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 form-group">
                    <label>Unidad de Negocio</label>
                    <select required id="report_type" class="form-control pick">
                        <option value="">------- Seleccione Unidad -------</option>
                        <option value="0">Generación</option>
                        <option value="1" selected="selected">Comercialización</option>
                    </select>
                </div>
                <div class="col-lg-3 form-group">
                    <label>Medición</label>
                    <select required id="quantityList" class="form-control pick">
                        <option value="">------- Seleccione Medición -------</option>
                    </select>
                </div>
            </div>
        </form>
        <hr />
        <br />
        <div id="summaryDataWrapper"></div>
    </div>
</div>

<script>
    $("#formSummary").submit(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $("#loader").show();

        //var opday = $('#opday').datetimepicker('viewDate')._i
        $.ajax({
            url: ROOT + 'Telemetry/Monitor/SummaryData',
            method: 'GET',
            data: {
                opDate: $('#opday').children('input')[0].value,// Tocó así. Muy extraño, pues de esta forma que ya se manejaba no funcionaa ahora: $("#opday").val(); o_O,
                negocio: $("#report_type option:selected").val(),
                quantity: $('#quantityList option:selected').val()
            },
            success: function (data) {
                $("#loader").hide();
                $("#summaryDataWrapper").html(data)
            }
        })
    })

    // Se llama el menú de cantidades de la base de datos
    $.ajax({
        type: "GET",
        url: "@Url.Content("~")api/Monitor/GetQuantities",
        contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { idsString: '1,3'}, //Identificador de las cantidades en la base de datos
            success: function (data) {
                var $dropdown = $("#quantityList");
                $dropdown.empty()
                $dropdown.append($("<option value='' />").text("------ Seleccione Medición ------"))
                $.each(data, function (key,item) {
                    $dropdown.append($("<option value/>").val(item.id).text(item.name))
                });

                $dropdown.val("1");
            }
    })

    var d = new Date()
    $('#opday').datetimepicker({
        locale: 'es',
        format: 'l', //Solamente la fecha
        formatDate: 'dd/MM/yyyy',
        maxDate: d.setDate(d.getDate() - 1)  // No se permiten fechas posteriores a la fecha de ayer.
    });

    //La página se vuelve a cargar después de cualquier cambio en el formulario. No hay botón de sumbit
    $('#opday').on('change.datetimepicker', function (e) {
        //console.log(e.date)
        $("#formSummary").submit()
    });
    $('#opday').on('change.datetimepicker', function (e) {
        //console.log(e.date)
        $("#formSummary").submit()
    });
    $(".pick").change(function () {
        $("#formSummary").submit()
    })

    // Se inicializa en los valores por defecto del formulario (Día de ayer, Comercialización, Energía Activa).
    $("#formSummary").submit()

</script>