﻿@model IEnumerable<CGM.Models.CGMModels.VMeasure>  

<div class="card">
    <div class="card-header">
        <h4>Reporte preliminar</h4>        
    </div>
    <div class="card-body"> 
      
                    <table id="tblBoundaries" class="table small"> 
                        <thead>
                            <tr>
                                <th>PRODUCTO</th>
                                <th>FECHA</th>
                                <th>AÑO</th>
                                <th>MES</th>
                                <th>DIA</th>
                                <th>TIPO DIA</th>
                                <th>ATOTAL</th>
                                <th>RTOTAL</th>
                                @for (int i = 1; i <= 24; i++)
                                { 
                                    <th>Activa H@(i)</th>
                                } 
                                @for (int i = 1; i <= 24; i++)
                                {
                                    <th>Reactiva H@(i)</th>
                                } 
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var boundary in Model.GroupBy(m => new Tuple<string, DateTime, string, bool?>(m.name, m.operation_date, m.code, m.is_backup)))
                            {
                            <tr>
                                <td>@Html.DisplayFor(model => boundary.Key.Item3)</td>
                                <td>@boundary.Key.Item2.ToShortDateString()</td>
                                <td>@Html.DisplayFor(model => boundary.Key.Item2.Year)</td>
                                <td>@Html.DisplayFor(model => boundary.Key.Item2.Month)</td>
                                <td>@Html.DisplayFor(model => boundary.Key.Item2.Day)</td>
                                <td>@ViewHelpers.MonthES(boundary.Key.Item2.DayOfWeek.ToString())</td>
                                <td>@Math.Round(@boundary.Where(m => m.unit == "kWh").Sum(m => m.measure),3).ToString().Replace(",", ".")</td>
                                <td>@Math.Round(@boundary.Where(m => m.unit == "kVARh").Sum(m => m.measure),3).ToString().Replace(",", ".")</td> 

                                @{ int contKwh = boundary.Where(m => m.unit == "kWh").Count(); } 
                                @foreach (var measure in boundary.Where(m => m.unit == "kWh").OrderBy(m => m.hour))
                                {
                                    <td class="text-center">@Math.Round(@measure.measure, 3).ToString().Replace(",", ".")</td>
                                }

                                @if (contKwh != 24)
                                {
                                    for (var i = contKwh; i < 24; i++)
                                    {
                                        <td class="text-center">0</td>
                                    }
                                }

                                @{ int contKvarh = boundary.Where(m => m.unit == "kVARh").Count(); }
                                @foreach (var measure in boundary.Where(m => m.unit == "kVARh").OrderBy(m => m.hour))
                                {
                                    <td class="text-center">@Math.Round(@measure.measure, 3).ToString().Replace(",", ".")</td>
                                }                               

                                @if (contKvarh != 24)
                                {
                                    for (var i = contKvarh; i < 24; i++)
                                    {
                                        <td class="text-center">0</td>
                                    }
                                }
                            </tr>
                            } 
                        </tbody> 
                    </table> 
                </div>
                <script>
                    $(function () {
                          var table = $('#tblBoundaries').DataTable(
                          {
                             dom:`<'row'<'col-sm-9 text-left'B><'col-sm-3'f>>
                                  <'row'<'col-sm-12'tr>>
                                  <'row'<'col-sm-5'i><'col-sm-7'p>>`
                                  ,
                            lengthChange: false,
                              buttons: [
                                  {
                                      extend: 'csv',
                                      title: 'HISTORICO INDIVIDUAL MATRIZ'
                                  },
                                  {
                                      extend: 'excel',
                                      title: 'HISTORICO INDIVIDUAL MATRIZ'
                                  }
                              ],
                               "language": {
                                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                                  },
                            "columnDefs": [
                                { "width": "90px", "targets": 1 }
                            ],
                              scrollY: "500px",
                              scrollX: true,
                              scrollCollapse: true,
                              paging: false,
                              
                              fixedColumns: {
                                  leftColumns: 2
                            },
                              "order": [[0, "desc"], [2, "desc"],[3, "desc"], [4, "desc"]]
                          })
                        table.buttons().container()
                            .appendTo($('.col-md-6:eq(0)', table.table().container()));                       
                    })
                </script>        
    </div>
