﻿@model IEnumerable<CGM.Models.CGMModels.VMeasure>  

<div class="card">
    <div class="card-header">
        <h4>Reporte preliminar</h4>        
    </div>
    <div class="card-body"> 
      
                <div class="table-responsive"> 
                    <table id="tblBoundaries" class="table small">
                        <thead>
                            <tr>
                                <th>CODIGO SIC</th>
                                <th style="width:500px;">USUARIOS</th>
                                <th>ACTIVA MEDIDOR</th>
                                <th>REACTIVA</th>
                                <th>REACTIVA CALCULADA</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var boundary in Model.GroupBy(m => new Tuple<string, string, bool?>(m.name, m.code, m.is_backup)))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => boundary.Key.Item2)</td>
                                    <td style="width:200px;">@Html.DisplayFor(model => boundary.Key.Item1)</td>
                                    <td>@Math.Round(@boundary.Where(m => m.unit == "kWh").Sum(m => m.measure), 3).ToString().Replace(",", ".")</td>
                                    <td>@Math.Round(@boundary.Where(m => m.unit == "kVARh").Sum(m => m.measure), 3).ToString().Replace(",", ".")</td>
                                    <td></td>
                                </tr>
                            }                            

                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>TOTALES</th>
                                <th>@Math.Round(Model.Where(m => m.unit == "kWh").Sum(m => m.measure), 3).ToString().Replace(",", ".")</th>
                                <th>@Math.Round(Model.Where(m => m.unit == "kVARh").Sum(m => m.measure), 3).ToString().Replace(",", ".")</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table> 
                </div>
                <script>
                    $(function () {
                          var table = $('#tblBoundaries').DataTable(
                          {
                             dom:`<'row'<'col-sm-9 text-left'B><'col-sm-3'f>>
                                  <'row'<'col-sm-12'tr>>
                                  <'row'<'col-sm-5'i><'col-sm-7'p>>`
                                  ,
                            lengthChange: false,
                              buttons: [
                                  {
                                      extend: 'csv',
                                      title: 'DATOS CALCULO ENERGIA REACTIVA'
                                  },
                                  {
                                      extend: 'excel',
                                      title: 'Titulo de Reporte',
                                      footer: true
                                  }
                              ],
                               "language": {
                                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                                  },
                            "columnDefs": [
                                { "width": "90px", "targets": 1 }
                            ],
                              scrollY: "500px",
                              scrollX: true,
                              scrollCollapse: true,
                              paging: false,
                              fixedColumns: {
                                  leftColumns: 2
                            },
                              "order": [[2, "desc"], [3, "desc"], [4, "desc"]]
                          })

                        table.buttons().container()
                            .appendTo($('.col-md-6:eq(0)', table.table().container()));                       
                    })
                </script>        
        <hr />
    </div>
</div>
