﻿@using CGM.Models.CGMModels;
@{
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    ViewBag.Title = "Home Page";
    var boundary = (List<Boundary>)TempData["boundary"];
}

@section styles {
}
<header>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="fa fa-2x fa-clock-o pr-2 pl-2"></div>
                <h1 class="display">
                    Reporte de Consumos Energeticos
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <form id="form_fechas" onsubmit="Graficar(this, event)" autocomplete="off">
                    <div class="form-group row">
                        <label for="tipoReporte" class="col-sm-2 col-form-label">Tipo de Reporte</label>
                        <div class="col-sm-10">
                            <select class="custom-select" id="tipoReporte">
                                <option value="1">Histórico Individual Matriz</option>
                                <option value="2">Reporte Diario CGM</option>
                                <option value="3">Comparativo Mensual</option>
                                <option value="4">Datos Cálculo Energia Reactiva</option>
                                <option value="5">Consumo Individual Horizontal</option>
                                <option value="6">Consumo Individual Vertical</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="rf" name="rangeFechas" class="custom-control-input" value="rf" checked>
                                <label class="custom-control-label" for="rf">Rango de Fecha</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="rm" name="rangeFechas" class="custom-control-input" value="rm">
                                <label class="custom-control-label" for="rm">Rango de Meses</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="ra" name="rangeFechas" class="custom-control-input" value="ra">
                                <label class="custom-control-label" for="ra">Rango de Años</label>
                            </div>
                            @*<div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="fronteras" name="fronteras" class="custom-control-input" disabled >
                                    <label class="custom-control-label" for="fronteras">Todas las Fronteras</label>
                                </div>*@
                        </div>
                        <div class="col-3 mb-3">
                            <div class="form-group">
                                <label>Fecha Inicial</label>
                                <input type="date" class="form-control" name="fechaIni" id="fechaIni" required />
                            </div>
                        </div>
                        <div class="col-3 mb-3">
                            <div class="form-group">
                                <label>Fecha Final</label>
                                <input type="date" class="form-control" name="fechaFin" id="fechaFin" required />
                            </div>
                        </div>
                        <div class="col-2 mb-3">
                            <div class="form-group">
                                <label for="annoI">Año Inicio</label>
                                @{
                                    DateTime fechaActual = DateTime.Today;
                                }
                                <select class="form-control" id="annoIni" disabled>
                                    @for (int i = fechaActual.Year; i >= 1980; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-2 mb-3">
                            <div class="form-group">
                                <label for="annoF">Año Fin</label>
                                <select class="form-control" id="annoFin" disabled>
                                    @for (int i = fechaActual.Year; i >= 1980; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                        @*<div class="col-8 mb-3">
                                <div class="form-group">
                                    <select size="10" class="form-control" id="fronterasArray" name="fronterasArray[]" required>
                                        @foreach (var b in boundary.OrderBy(m => m.code))
                                        {
                                            <option value="@b.id" selected>@b.code - @b.name</option>
                                        }
                                    </select>
                                </div>
                            </div>*@

                        <div class="col-4 mb-3 offset-2 align-self-center">
                            <div class="form-group">
                                <a class="btn btn-dark btn-lg btn-block text-white" data-toggle="modal" data-target=".bd-modal">Seleccionar Fronteras</a>
                                <div class="alert alert-warning" id="success-alert">
                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                    <strong>Seleccione! </strong>
                                    al menos una frontera
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-3 align-self-center" style="border-left:groove">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-lg btn-block">Mostrar Reporte</button>
                            </div>
                        </div>
                    </div>
                </form>

                @section fluid {
                    <div id="contentReport" class="d-none">

                        <div class="row">

                            <div class="col-lg-12 col-md-12">
                                <div id="resporteTable"></div>
                            </div>

                        </div>

                    </div>
                }

                <div id="div_mje" class="alert alert-info d-none">
                    No se encuentran registros para ese rango de fechas
                </div>

                <div id="modal_cargando" class="modal" backdrop="static" keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Por favor espere, cargando datos...</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade bd-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Seleccionar fronteras</h5>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <table id="tblBoundariesData" class="tblBoundariesData table table-sm small respons" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>Código</th>
                                                <th>Frontera</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in boundary.Where(m => m.is_active == true).OrderBy(m => m.name))
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(model => item.id)</td>
                                                    <td>@Html.DisplayFor(model => item.code)</td>
                                                    <td>@Html.DisplayFor(model => item.name)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsbody {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    @Scripts.Render("~/bundles/dataTablesScript")
    <script src="@Url.Content("~")Content/vendor/datatablesCHK/dataTables.checkboxes.min.js"></script>
    <script>

        $(function init() {
            $("#fechaIni").prop("value", "2017-01-01")
            $("#fechaFin").prop("value", "2017-05-01")
        })

        let modalCargando = $('#modal_cargando');

        function Graficar(form, e) {
            e.preventDefault();

            $('#contentReport').addClass('d-none');
            $('#div_mje').addClass('d-none');

            var fronteras = table.column(0).checkboxes.selected().join('/')
            if (fronteras == "") {
                $("#success-alert").fadeTo(1000, 500).slideUp(500, function () {
                    $("#success-alert").slideUp(500);
                })
                return
            }

            let json = {
                tipoReporte: $("#tipoReporte").val(),
                opcFecha: $("input:radio[name=rangeFechas]:checked").val(),
                fechaIni: $("#fechaIni").val(),
                fechaFin: $("#fechaFin").val(),
                annoIni: $("#annoIni").val(),
                annoFin: $("#annoFin").val(),
                fronteras: fronteras,
                report_type: 1
            }

            modalCargando.modal({ backdrop: 'static', keyboard: false }); //dale
            $.get('/ReportBoundary/ViewByDate', json, function (resp) {

                if (resp.length > 0) {
                    $('#contentReport').removeClass('d-none');
                    $('#resporteTable').html(resp)
                } else {
                    //SIN DATOS
                    $('#div_mje').removeClass('d-none');
                }
                modalCargando.modal('hide');
            });
        }

        $(function () {

            $("#success-alert").hide();

            table = $('#tblBoundariesData').DataTable(
            {
                    "language": {
                        "url": "@Url.Content("~")Scripts/es-CO.txt"
                     } ,
                    "pageLength": 20,
                     'columnDefs': [
                         {
                             'targets': 0,
                             'checkboxes': {
                                 'selectRow': true
                             }
                         }
                     ],
                     'select': {
                         'style': 'multi'
                    }
                }
            );

            table.order([1, 'asc']).draw()

            $("input[name=rangeFechas]").on("change", function () {

                let optRango = $("input:radio[name=rangeFechas]:checked").val();

                $("#fechaIni").prop("disabled", false)
                $("#fechaFin").prop("disabled", false)

                $("#annoIni").prop("disabled", true)
                $("#annoFin").prop("disabled", true)

                switch (optRango) {
                    case "rf":
                        $("#fechaIni").prop("type", "date")
                        $("#fechaFin").prop("type", "date")
                        break;
                    case "rm":
                        $("#fechaIni").prop("type", "month")
                        $("#fechaFin").prop("type", "month")
                        break;
                    case "ra":
                        $("#fechaIni").prop("disabled", true)
                        $("#fechaFin").prop("disabled", true)
                        $("#annoIni").prop("disabled", false)
                        $("#annoFin").prop("disabled", false)
                        break;
                }

            })

            $("#fronteras").on("change", function () {
                elem = document.getElementById("fronterasArray").options;
                for (i = 0; i < elem.length; i++)
                    elem[i].selected = $("#fronteras").prop("checked");
            })

            $("#fronterasArray").on("change", function () {
                $("#fronteras").prop("checked", false)
            })

            $("#tipoReporte").on("change", function () {
                let val = $(this).val()
                let tpInd = ['6', '5', '1']

                $("#fronterasArray").prop('multiple', true)
                $("#fronteras").prop("disabled", false)
                $("#fronteras").prop("checked", true)
                $("#fronteras").trigger('change');

                if (tpInd.includes(val)) {
                    $("#fronterasArray").removeAttr('multiple')
                    $("#fronteras").prop("disabled", true)
                    $("#fronteras").prop("checked", false)
                }

            })

        })

        function intlRound(numero, decimales = 2, usarComa = false) {
            var opciones = {
                maximumFractionDigits: decimales,
                useGrouping: false
            };
            usarComa = usarComa ? "es" : "en";
            let ret = new Intl.NumberFormat(usarComa, opciones).format(numero);
            return parseFloat(ret)
        }

    </script>
}
