﻿@model IEnumerable<CGM.Areas.SurveyApp.Models.Procedure>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Procedimientos</h2>
@if (User.IsInRole("Administrator") || User.IsInRole("Creator"))
{
    <p>
        @Html.ActionLink("Nuevo procedimiento", "Create")
    </p>
}
<table class="table" id="tbl_procedure">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="@Url.Content("~"+item.Url)" target="_blank"><span class="glyphicon glyphicon-download"></span>Descargar</a>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Creator"))
                    {
                        <label>|</label>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        <label>|</label>
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                        <label>|</label>
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scriptsbody{
    <script>
        $(function () {
            $('#tbl_procedure').DataTable({
                "language": {
                    "url": "@Url.Content("~/Scripts/es-CO.txt")"
                }
            });
        })
    </script>
}
