﻿@model CGM.Models.CGMModels.Alarm

@{
    ViewBag.Title = "Eliminar";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row align-content-center">
        <div class="pr-4 fa fa-2x fa-trash"></div>
        <h1>Realmente quiere archivar este elemento?</h1>
    </div>
</header>
<hr />

@Html.DisplayFor(model => model)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">
        <span class="fa fa-times"></span>
        Archivar
    </button>

    <button type="button" class="btn btn-default back">
        <span class="fa fa-arrow-left "></span>
        Volver
    </button>
}

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
    $(".back").click(function (e) {
        document.location = "@Url.Action("Index")";
    });
    </script>
}
@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


