﻿@model CGM.Models.CGMModels.Alarm

@{
    ViewBag.Title = "Editar alarma";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

    bool active_mails_bool = false;
    List<CGM.Models.CGMModels.AspNetUsers> usersInMailList = ViewBag.usersInMailList;
    List<CGM.Models.CGMModels.AspNetUsers> users = ViewBag.users;
    List<CGM.Models.CGMModels.Filtro> filtros = ViewBag.filtros;
}

@ViewHelpers.NavBar("Alarmas", "Alarmas establecidas", Url.Content("~"))
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>

@Html.Partial("_TempResult")


@using (Html.BeginForm("Edit", "Alarms", FormMethod.Post, new { @id = "createForm" }))
{
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header mb-2"><h2>Alarma</h2></div>
                <div class="card-body">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.isFiled)
                    @Html.HiddenFor(model => model.send_mail)
                    <input id="user_names" type="text" name="user_names" hidden />


                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Caso</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("alarmCase_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                                @Html.ValidationMessageFor(model => model.alarmCase_id, "", new { @class = "text-danger small" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Nombre</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre", required = "required" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Prioridad</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("priority_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                                @Html.ValidationMessageFor(model => model.priority_id, "", new { @class = "text-danger small" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label"></label>
                            <div class="col-sm-10">
                                <div class="i-checks">
                                    @*@Html.CheckBoxFor(m => m.isActive, new { @class = "form-control-custom" })*@
                                    <input id="isActive" type="checkbox" name="isActive" checked="@Model.isActive" class="form-control-custom">
                                    <label for="isActive">Activa?</label>
                                </div>
                            </div>
                        </div>
                        <input id="parameters" name="parameters" class="displaynone" />
                        <input id="mail_params" name="mail_params" class="displaynone" />
                    </div>

                </div>
            </div>
        </div>
        <div class="card col-xl-6">
            <div class="card-header"><h2><a href="@Url.Content("~")Filtros/Index" target="_blank">Filtros incluidos</a></h2></div>
            <div class="card-body">
                <div class="row m-lg-3">
                    <div class="table-responsive">
                        <select multiple="multiple" id="selectList" name="selectList" class="searchable" style="width: 100%;">
                            @foreach (var item in filtros)
                            {
                                <option value='@item.Id'>@item.Name</option>
                            }
                            @foreach (var item in Model.Filtros)
                            {
                                <option value='@item.Id' selected>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row p-4 justify-content-md-center">
                    <div class="col-lg-4">
                        <button class="btn btn-block btn-primary btn-lg" type="button" id="btnSubmit">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header"><h2>3. Configuración</h2></div>
            <div class="card-body">
                <form id="parametersForm" class="">
                    <div id="alarmCasesForms" class="row">
                        <div id="alarmcase1" class="alarmcase col-xl-12">@case1()</div>
                        <div id="alarmcase3" class="alarmcase col-xl-12"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header"><h2>4. Envíos de mensajes por correo</h2></div>
            <div class="card-body">
                <form id="mail_params_form" class="">
                    <div class="form-group">
                        <label class="form-control-label">Usuarios</label>
                        <select multiple="multiple" id="email_users" name="email_users">
                            @foreach (var user in users.Where(u => !Model.Users.Select(uu=>uu.Id).ToList().Contains(u.Id)).ToList())
                            {
                                <option value="@user.UserName">"@user.UserName" - @user.Email</option>
                            }
                            @foreach (var user in Model.Users)
                            {
                                <option value="@user.UserName" selected>"@user.UserName" - @user.Email</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label class="form-control-label col-xl-3">Alarmas acumuladas para enviar notificación por correo.</label>
                        <div class="col-xl-3">
                            <input type="number" value="1" required class="form-control" name="acum_alarms" id="acum_alarms" />
                        </div>


                        <label class="form-control-label col-xl-3">Envío de correos activo?</label>
                        <div class="col-xl-1">
                            <input type="checkbox" required class="form-control" checked name="active_mails" id="active_mails" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@helper case1()
{
    <div class="form-group row">
        <label class="col-sm-3 form-control-label">Medida</label>
        <div class="col-sm-9">
            @Html.DropDownList("acq_item_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
        </div>
    </div>

    <hr />
    @ViewSnippets.alarm1Parameters()
    <hr />
    @*<div class="form-group row">
            <label class="col-sm-2 form-control-label">Rango</label>
            <div class="col-sm-10">
                <div id="energyRange0">
                    <div id="slider0" class="col sliderEnergy"></div>
                    <div class="row mt-4 valueboxes">
                        <div class="col">
                            <label class="small">Valor mínimo</label>
                            <input type="number" id="input-with-keypress-00" class="form-control" name="min_active">
                        </div>
                        <div class="col">
                            <label class="small">Valor máximo</label>
                            <input type="number" id="input-with-keypress-10" class="form-control" name="max_active">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <label class="text-secondary">Max.</label>
                            <button type=button value="0" class="btn btn-success btn-xs updateSlider">20</button>
                            <button type=button value="0" class="btn btn-success btn-xs updateSlider">100</button>
                            <button type=button value="0" class="btn btn-success btn-xs updateSlider">500</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />*@

    @*<div class="form-group row">
            <label class="col-sm-2 form-control-label">Placeholder</label>
            <div class="col-sm-10">
                <input type="text" placeholder="placeholder" class="form-control">
            </div>
        </div>*@

    @*<div class="form-group row">
            <label class="col-sm-2 form-control-label">Hora del día (por desarrollar)<br><small class="text-primary"> por desarrollar</small></label>
            <div class="col-sm-10">
                <div class="i-checks">
                    <input id="radioValueSource1" type="radio" value="option1" checked="" name="radioValueSource" class="form-control-custom radio-custom">
                    <label for="radioValueSource1">Tomar valor de cada frontera</label>
                </div>
                <div class="i-checks">
                    <input id="radioValueSource2" type="radio" disabled="" value="option2" name="radioValueSource" class="form-control-custom radio-custom">
                    <label for="radioValueSource2">Definir rango específico (Por desarrollar)</label>
                </div>
            </div>
        </div>*@

    <hr />

    <script>

        $(function () {
            multiSelectListSearchable('#selectList');
            multiSelectListSearchable('#email_users');
            $("#ms-email_users").find("span").css("font-size", "12px")
            $("#ms-email_users").css('height', '50%')
            $('.ms-container').css("width", "100%")

            // Not efficient at all -__-

            // Radio buttons
            $("input[name='compareTo'][value=" + @ViewBag.alarmParams["compareTo"] + "]").prop("checked", true)
            $("input[name='excessValuePick'][value=" + @ViewBag.alarmParams["excessValuePick"] + "]").prop("checked", true)

            // Text field
            $("input[name='excessValue']").val(@ViewBag.alarmParams["excessValue"])


            // ===== Mail Parameters =====
            // Add emails extra - Tags input
            
            @*@if (ViewBag.mailParams.ContainsKey("active_mails"))
            {
                @active_mails_bool = true;
            }*@

            $("#active_mails").prop("checked", @(Model.send_mail ? "true" : "false"));

        })

        $("#btnSubmit").click(function (e) {
            // Verifica que los campos del formulario estén compilados correctamente
            var form = document.querySelector('form')
            var formValidity = form.reportValidity()
            if (!formValidity) { return; }


            $("#parameters").val(JSON.stringify($("#parametersForm").serializeArray()))
            $("#isActive").val($("#isActive").prop("checked"))
            $("#user_names").val($("#email_users").val())
            $("#send_mail").val($("#active_mails").prop("checked"))

            if ($("#selectList").val().length == 0) {
                alert("Seleccione al menos un elemento del listado.")
                return;
            }

            $.ajax({
                url: ROOT + "Alarms/Create_nameCheck/",
                data: $("#createForm").serialize(),
                success: function (data) {
                    if (data == "True") {
                        alert("El nombre de alarma ingresado ya existe en otro elemento. Ingrese un nombre diferente.")
                        return;
                    }
                    else {
                        $("#createForm").submit()
                    }
                },
                error: function (data) {
                    console.log(data)
                }
            });


        })

    </script>

}

@section scriptshead{
    <script src="@Url.Content("~")Content/vendor/multiselect/js/jquery.multi-select.js"></script>
    <script src="@Url.Content("~")Content/vendor/jquery.quicksearch.js"></script>
    <script src="@Url.Content("~")Scripts/Helpers.js"></script>
    <script src="@Url.Content("~")Content/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
}
@section styles{
    <link href="@Url.Content("~")Content/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="@Url.Content("~")Content/vendor/multiselect/css/multi-select.css" rel="stylesheet" />
}
