﻿@model CGM.Models.CGMModels.Report

@{
    ViewBag.Title = "Edit";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";    
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>
<div>
    @Html.ActionLink(" ", "Index", null, new { @class = "mif-arrow-left  mif-2x", data_role = "hint", data_hint_background = "bg-blue", data_hint_color = "fg-white", data_hint_mode = "2", data_hint = "Agregar|Agregar registro.", data_hint_position = "right" })
</div>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>Reports</h2></div>
        <div class="card-body">

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

            <div class="form-group-material">
                @Html.DropDownList("asp_net_users_id", null, htmlAttributes: new { @class = "js-select full-size", @style = "width: 100%"})
            @Html.LabelFor(model => model.asp_net_users_id, "asp_net_users_id", htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.asp_net_users_id, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
  
                                <div class="input-control text full-size" data-role="datepicker">
                                    <input type="text" id="date_and_time_to_report" name="date_and_time_to_report">
                                    <button class="button"><span class="mif-calendar"></span></button>
                                </div>
            @Html.LabelFor(model => model.date_and_time_to_report, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.date_and_time_to_report, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
  
                                <div class="input-control text full-size" data-role="datepicker">
                                    <input type="text" id="date_and_time_report" name="date_and_time_report">
                                    <button class="button"><span class="mif-calendar"></span></button>
                                </div>
            @Html.LabelFor(model => model.date_and_time_report, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.date_and_time_report, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
                <label class="switch" >
					<input type="checkbox" />
				    <span class="check"></span>
				</label>
                    @Html.EditorFor(model => model.is_active, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger small" })
						
							<label class="switch" >
								<input type="checkbox" />
								<span class="check"></span>
                            </label>
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.result, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.result, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.result, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
                @Html.DropDownList("dates_to_report_id", null, htmlAttributes: new { @class = "js-select full-size", @style = "width: 100%"})
            @Html.LabelFor(model => model.dates_to_report_id, "dates_to_report_id", htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.dates_to_report_id, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.time_elapsed, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.time_elapsed, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.time_elapsed, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.report_class, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.report_class, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.report_class, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.external_report_id, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.external_report_id, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.external_report_id, "", new { @class = "text-danger small" })
            </div>
        @Html.Partial("_BtnSubmit","Guardar")

}
        </div>
    </div>
</div>

        
