﻿@model IEnumerable<CGM.Models.CGMModels.AlarmCase>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Casos de alarmas";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Alarmas", "Casos de alarmas", Url.Content("~"))


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display"><i class="fa fa-bell-o mr-3">))</i>Casos de Alarmas</h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @*@Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })*@
            </div>
        </div>
    </div>
</header>


<div class="row">
    <div class="col-lg-10">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2> Listado</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@modelName" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.id)</th>
                                <th>@Html.DisplayNameFor(model => model.name)</th>
                                <th>Área</th>
                                <th>@Html.DisplayNameFor(model => model.Priority.name)</th>
                                <th>@Html.DisplayNameFor(model => model.description)</th>
                                <th>@Html.DisplayNameFor(model => model.allows_multiple)</th>
                                <th>@Html.DisplayNameFor(model => model.parameters)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Destination.name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Priority.name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.allows_multiple)</td>
                                    <td>@Html.DisplayFor(modelItem => item.parameters)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }

                }
            );
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


