﻿@model CGM.Models.CGMModels.Alarm

@{
    ViewBag.Title = "Detalles";
}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Alarma</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.AlarmCase.description)</th>
                                <td>@Html.DisplayFor(model => model.AlarmCase.description)</td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Priority.name)</th>
                                <td>@Html.DisplayFor(model => model.Priority.name)</td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.parameters)</th>
                                <td>@ViewSnippets.printAlarmParameters(Model.parameters)</td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.isActive)</th>
                                <td><h5>@Html.DisplayFor(model => model.isActive)</h5></td>
                            </tr>
                            <tr>
                                <th>Filtros</th>
                                <td>
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <tbody>
                                                @foreach (var filtro in Model.Filtros)
                                                {
                                                    <tr>
                                                        <td>@filtro.Name</td>
                                                        <td>
                                                            @Ajax.ActionLink(" ", "Details","Filtros", new { id = filtro.Id, display = 0 }, new AjaxOptions()
                                                           {
                                                               HttpMethod = "GET",
                                                               UpdateTargetId = "detailsFiltroWrapper"
                                                           }, new { @class = "fa fa-list",title = "Detalles" })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div id="detailsFiltroWrapper"></div>
    </div>
</div>

<p>
    <button type="submit" class="btn btn-info edit">
        <div class="fa fa-pencil"></div>
        @Html.ActionLink("Editar", "Edit", "Alarms", new { id = Model.id }, new { @class = "", @style = "text-decoration: none; color:white", id = "nuevoElemento" })
    </button>
<p />

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}




