﻿@model CGM.Models.CGMModels.Program

@{
    ViewBag.Title = "Crear Programa";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", null, null, new { href=Request.UrlReferrer, @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display">Nuevo Programa </h1>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(p => p.multiple)
    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header mb-2 text-center"><h2>Programa <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top" title="<b>Tenga en cuenta: </b><span>Por defecto, se realiza la adquisición de medidas o reporte del día inmediatamente anterior.'</span>" data-html="true"></i></h2></div>

                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-lg-3"><label>Tipo de programa</label></div>
                        <div class="col-lg-4">
                            <div class="i-checks">
                                <input id="radioTipo1" type="radio" value="1" name="destination_id" style="display:none" class="form-control-custom radio-custom TipoPick">
                                <label for="radioTipo1">Adquisición de medidas (fronteras).</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="i-checks">
                                <input id="radioTipo2" type="radio" value="2" name="destination_id" style="display:none" class="form-control-custom radio-custom TipoPick">
                                <label for="radioTipo2">Reporte al mercado (fronteras).</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3"><label>Cantidad</label></div>
                        <div class="col-lg-4">
                            <div class="i-checks">
                                <input style="display:none" id="rdFreq0" required type="radio" value="0" name="radioMul" class="form-control-custom radio-custom freqPick">
                                <label for="rdFreq0">Una sola operación</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="i-checks">
                                <input style="display:none" id="rdFreq1" type="radio" value="1" name="radioMul" class="form-control-custom radio-custom freqPick">
                                <label for="rdFreq1">Diario (múltiple)</label>
                            </div>
                        </div>
                    </div>
                    <div id="opdayBlock" class="form-group row pickTime pick0">
                        <div class="col-lg-3">
                            <label>Día de operación</label>
                        </div>
                        <div class='col-lg-6'>
                            <div class="input-group" id="opday" data-target-input="nearest">
                                <input type="text" class="datetimepicker-input form-control h4" data-target="#opday" name="opday" />
                                <div class="input-group-append " data-target="#opday" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="daysBackBlock" class="form-group row pickTime pick1">
                        <div class="col-lg-3">
                            <label>Días atrás  <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top" title="Días atrás respecto al día presente. Seleccione '1' para el día anterior."></i></label>
                        </div>
                        <div class='col-lg-6'>
                            <input type="number" class="form-control h4" data-target="#daysBack" min="1" value="1" name="daysBack" />
                        </div>
                    </div>
                    <div id="continuousBlock" class="form-group row pickTime">
                        <div class="col-lg-3"></div>
                        <div class='col-lg-6'>
                            <label>Modo continuo <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top" title="Desde el momento de la asignación, el software busca actualizar las medidas sin una hora en particular."></i></label>
                        </div>
                    </div>
                    <div id="pick0" class="form-group row pickTime pick0">
                        <div class="col-lg-3"><label>Fecha y hora de ejecución</label></div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                        <input type="text" class="datetimepicker-input form-control h4" data-target="#datetimepicker1" id="execution_time" name="execution_time" />
                                        <div class="input-group-append " data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="i-checks">
                                        <input type="checkbox" id="chkNow" name="chkNow" value="true" checked class="form-control-custom"/>
                                        <label for="chkNow">En este momento</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="pick1" class="form-group row pickTime pick1">
                        <div class="col-lg-3"><label>Hora en el día</label></div>
                        <div class='col-lg-6'>
                            <div class="input-group" id="timepicker1" data-target-input="nearest">
                                <input type="text" class="datetimepicker-input form-control h4" data-target="#timepicker1" name="frequency" />
                                <div class="input-group-append " data-target="#timepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div id="IdFiltroBlock" class="form-group row">
                        <div class="col-lg-3">
                            @Html.ActionLink("Grupo de elementos", "Index", "Filtros")
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12"><select class="js-select full-size form-control" id="IdFiltro" name="IdFiltro" style="width: 100%"></select></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                        @Ajax.ActionLink("+ Nuevo grupo", "Create", new { controller = "Filtros"} , new AjaxOptions()
                       {
                           HttpMethod = "GET",
                           UpdateTargetId = "elementsWrapper"
                       }, new { @class = "btn btn-primary small btn-sm btn-xs"})
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-lg-3">
                            @Html.ActionLink("Elementos de adquisición", "Index", new { Area = "Telemetry", controller = "Acquisitions" })
                            <label></label>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-12"><select id="acquisition_id" name="acquisition_id" class="form-control"></select></div>
                            </div>
                            <div class="row">
                                <div class="col-12 boxNoScrollBar">
                                    <div class="table-responsive"><div id="aqList"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "form-control-label" })
                        </div>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "input form-control", required = "required",
                           oninvalid = "this.setCustomValidity('Ingrese un nombre para el programa')", oninput = "this.setCustomValidity('')"
                       } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
                        </div>
                    </div>
                    <div id="loaderCreate" style="text-align:center; display:none">
                        <p>Espere un momento.</p>
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                    </div>

                    @Html.Partial("_BtnSubmit", "Crear")
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div><div id="loader" style="display:none" class="lds-ellipsis  p-4"><div></div><div></div><div></div><div></div></div></div>

            <div id="elementsWrapper"></div>
        </div>
    </div>
}

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")

    <script src="@Url.Content("~")Content/vendor/tempusdominus/moment-with-locales.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tether.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#timepicker1').datetimepicker({
                locale: 'es',
                format: 'LT'
            });

            var d = new Date()
            $('#opday').datetimepicker({
                locale: 'es',
                format: 'l', //Solamente la fecha
                formatDate: 'dd/MM/yyyy',
                maxDate: d.setDate(d.getDate() - 1)
            });

            $('#datetimepicker1').datetimepicker({
                locale: 'es',
                defaultDate: moment(),
            })
        });
        function disableDate(obj) {
            // obj = $("#execution_time") 
            obj.prop("disabled", "true")
            obj.css("color", "gray")
        }

        // Method to enable or disable the execution time box
        $("#chkNow").change(function () {
            chk = $(this).prop("checked")
            if (chk) disableDate($("#execution_time")) //Si no lo habilito, la fecha llega como nula
            else {
                $("#execution_time").removeAttr("disabled")
                $("#execution_time").css("color", "black")
            }
        })  
        
    </script>
    <script>
        $(function init() {
            $('.pickTime').hide()
            disableDate($("#execution_time"))
            var adqId = $(this).val();
            $.ajax({
                type: "GET",
                url: "@Url.Content("~")api/Acquisitions/GetAcquisitionByType",
                contentType: "application/json; charset=utf-8",
                data: { type: 0 },//Solamente Perfil de carga
                success: function (data) {
                    var $dropdown = $("#acquisition_id");
                    $dropdown.empty()
                    $dropdown.append($("<option value='0' />").text("---- Seleccione conjunto de medidas ----"))
                    $.each(data, function (key, item) {
                        $dropdown.append($("<option value/>").val(item.id).text(item.Name))
                    })
                }
            })
            $("#radioTipo1").click()
            $("#rdFreq0").click()

            // Get the list of filters. Does not apply to 0 destination (meters programs), since they were deprecated
            $.ajax({
                type: "GET",
                url: "@Url.Content("~")api/Filtros/GetFiltroDestination",
                contentType: "application/json; charset=utf-8",
                 dataType: "json",
                    data: { destination: 1 },
                 success: function (data) {
                    var $dropdown = $("#IdFiltro");
                        $dropdown.empty()
                        $dropdown.append($("<option value='0' />").text("------ Seleccione grupo ------"))
                        $.each(data, function (key,item) {
                            $dropdown.append($("<option value/>").val(item.Id).text(item.Name))
                     });
                     $("#elementsWrapper").empty()
                    }
            })
            
        })
        // Select the first Acquisition. Gets executed later since it has to charge the options, and it does not work inmediately
        $(function () {
            setTimeout(function () {
                $("#acquisition_id").val($("#acquisition_id").children()[1].value).trigger('change') 
            }, 300);
        })
        

        function updateForm() {
            var multiple = $("input[name='radioMul']:checked").val() // (múltiple or single instruction) 
            var dest = $("input[name='destination_id']:checked").val() // type (1:Adquisición o 2:reporte)

            var multipleNo = 1 - multiple; //En un principio se trató de hacerse un código super compacto opero no se pudo, hubo que agregar ifs
            $('.pick' + multiple).show()
            $('.pick' + multipleNo).hide()
            if (multiple == 1) {
                $("#multiple").val(true)
                if (dest == 1) { // Adquisición
                    $('#daysBackBlock').hide()
                    $('#pick1').hide()
                    $('#continuousBlock').show()
                    $("#rdFreq0").prop('disabled', false)
                }
                else if (dest == 2) { // Reporte al mercado
                    $('#daysBackBlock').show()
                    $('#continuousBlock').hide()
                    $('#pick1').show()
                }
            }
            if (multiple == 0) {
                $("#multiple").val(false)
                $('#continuousBlock').hide()

                if (dest == 2) { // Reporte al mercado
                    $("#rdFreq0").prop('disabled', true)
                    $("#rdFreq1").click()
                }
            }
        }

        $(".freqPick").change(function () {
            updateForm()
        })

    </script>

    <script>
        $("form").submit(function () {
            $("loaderCreate").show()
            $("#execution_time").removeAttr("disabled")
            $("input[type=submit]").attr("disabled", "disabled");
        })
        $(".TipoPick").change(function () {

            var dest = $("input[name='destination_id']:checked").val()
            var pick = $("input[name='radioMul']:checked").val()
            updateForm()

            $.ajax({
                type: 'GET',
                url: "@Url.Content("~")api/Programs/getSuggestedName",
                data: { destination: dest },
                success: function (suggestedName) {
                    $("#name").val(suggestedName)
                }
            })

        })
        $('#IdFiltro').change(function () {
            var filId = $("#IdFiltro option:selected").val();
            $('#loader').show();
            if (filId != 0) {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Content("~")Filtros/Details",
                    data: { id: filId },
                    success: function (data) {
                        $("#elementsWrapper").html(data)
                        $('#loader').hide();
                    }
                })
            }
            else {
                $("#elementsWrapper").empty()
            }
        })

      
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>

        $('#acquisition_id').change(function () {
            var adqId = $(this).val();
            console.log(adqId);
            if (adqId != '0') {
                $.ajax({
                    type: "GET",
                    url: "@Url.Content("~")Acquisition_Item/GetAcquisition_Items",
                    contentType: "application/json; charset=utf-8",
                    data: { id: adqId },
                    UpdateTargetId: "aqList",
                    success: function (data) {
                        $("#aqList").empty();
                        $("#aqList").html(data);
                    }
                 })
            }
            else {
                $("#aqList").empty();
            }
        })

        

    </script>
}

@section styles{
    @Styles.Render("~/bundles/dataTablesStyle")
    <link href="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}
