﻿@model CGM.Models.CGMModels.Program

@{
    ViewBag.Title = "Eliminar";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row align-content-center">
        <div class="pr-4 fa fa-2x fa-trash"></div>
        <h1>Realmente quiere eliminar este elemento?</h1>
    </div>
</header>
<hr />
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Programas</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.name)</td>
                                <th><label>@Html.DisplayFor(model => model.name)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">Destino</td>
                                <th><label>@Html.DisplayFor(model => model.Destination.name)</label></th>
                            </tr>
                            @if (Model.multiple)
                            {
                                if (Model.destination_id == 1) // modo continuo
                                {
                                    <tr>
                                        <td scope="row">@Html.DisplayNameFor(model => model.execution_time)</td>
                                        <th><label>Modo continuo</label></th>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td scope="row">@Html.DisplayNameFor(model => model.execution_time)</td>
                                        <th><label>@Html.DisplayFor(model => model.execution_time)</label></th>
                                    </tr>
                                }
                            }
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Filtro.Name)</td>
                                <th><a id="@Model.IdFiltro" class="filtroitem">@Html.DisplayFor(model => model.Filtro.Name)</a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="elementsWrapper"></div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">
        <span class="fa fa-times"></span>
        Eliminar
    </button>

    <button type="button" class="btn btn-default back">
        <span class="fa fa-arrow-left"></span>
        Volver
    </button>
}
<script>
    $('.filtroitem').click(function () {
            var filId = $(this).prop("id");
            $('#loader').show();
            if (filId != 0) {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Content("~")Filtros/Details",
                    data: { id: filId , display:0},
                    success: function (data) {
                        $("#elementsWrapper").html(data)
                        $('#loader').hide();
                    }
                })
            }
            else {
                $("#elementsWrapper").empty()
            }
    })

    $('#@Model.IdFiltro').click()
</script>
@section scriptsbody{
    <script>
    $(".back").click(function (e) {
        document.location = "@Url.Action("Index")";
    });
    </script>
}
