﻿@model CGM.Areas.SurveyApp.Models.DataSourceItem
@Html.AntiForgeryToken()

<div class="card-body">
    @Html.HiddenFor(model=>model.Id_DataSource)
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.key, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.key, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.key, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
        </div>
    </div>

   @Html.Partial("_BtnSubmit","Guardar")
</div>
