﻿
@{
    ViewBag.Title = "Plataforma de gestión";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-user"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Fronteras</strong><span>Activas</span>
                        <div class="count-number">@ViewBag.ActiveBoundaries</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-padnote"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Fronteras</strong><span>No activas</span>
                        <div class="count-number">@ViewBag.NonActiveBoundaries</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-check"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Medidores</strong><span>Registrados</span>
                        <div class="count-number">@ViewBag.Meters</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-bill"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Alarmas disparadas</strong><span>Últimos dos días</span>
                        <div class="count-number">1</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-list"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Informes </strong><span>Disponibles del último mes</span>
                        <div class="count-number">15</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-list-1"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Reintentos </strong><span>de lectura hoy</span>
                        <div class="count-number">10</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="" >
        <div class="row d-flex">
            <div class="col">
                <div class="card" style="padding:20px">
                    <div class="card-body">
                        <h2 class="display h2">Inicio</h2>

                        <h4>Bienvenido al Centro de Medida del Operador de Red</h4>
                        <br />
                        @if (USER.CLIENT == "ASC")
                        {
                            <p style="margin: 0px 20px">
                                Por medio de este asistente se administra el Centro de Gestión de Medida (CGM) de ASC Ingeniería S.A. E.S.P.,
                                y le permitirá gestionar el envío de reportes de medidas al Administrador de Sistemas de Intercambios comerciales XM S.A E.S.P.
                            </p>
                        }
                        @if (USER.CLIENT == "CEDENAR")
                        {
                            <p style="margin: 0px 20px">
                                Por medio de este asistente se administra el Centro de Gestión de Medida (CGM) de CEDENAR S.A. E.S.P.,
                                y le permitirá gestionar el envío de reportes de medidas al Administrador de Sistemas de Intercambios comerciales XM S.A E.S.P.
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <h4>Ir a procesos activos</h4>
                                <p class="text-gray">Asistente de visualización de adquisición de medidas</p>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-4"><i class="fa fa-3x fa-wifi"></i></div>
                            <div class="col"><a class="btn btn-success btn-block btn" href="@Url.Content("~")Telemetry/Monitor">Monitor</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="statistics">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-4">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-line-chart"></i></div>
                    <div class="number">126,418</div><strong class="text-primary">Adquisiciones realizadas</strong>
                    <p>Realizadas durante este año.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Monthly Usage-->
                <div class="card data-usage">
                    <h2 class="display h4">Progreso de adquisiciones - @(DateTime.Now.ToString("dd/MM/yyyy"))</h2>
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-6">
                            <div id="progress-circle" class="d-flex align-items-center justify-content-center gmpc" style="height: 200px; width: 200px;"><div class="gmpc-percent-text" style="font-size: 28px; font-family: Helvetica;">80%</div><canvas height="200" width="200"></canvas></div>
                        </div>
                        <div class="col-sm-6"><strong class="text-primary">80.56 kWh</strong><small>Progreso</small><span>Estimado de 100 kWh</span></div>
                    </div>
                    <p>No se ha encontardo errores hasta el momento.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- User ActiVity-->
                <div class="card user-activity">
                    <h2 class="display h4">Fronteras reportadas al mercado</h2>
                    <div class="number">100</div>
                    <h3 class="h4 display">Fronteras</h3>
                    <div class="progress">
                        <div role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar bg-primary"></div>
                    </div>
                    <div class="page-statistics d-flex justify-content-between">
                        <div class="page-statistics-left"><span>Faltantes</span><strong>37</strong></div>
                        <div class="page-statistics-right"><span>Porcentaje</span><strong>73.4%</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


