﻿@model IEnumerable<CGM.Areas.SurveyApp.Models.QuestionImage>
@{
    ViewBag.Title = "Dialog";
}

@foreach (var item in Model)
{
    

    <div class="item" id="@string.Format("image-{0}",item.Id_Question)">
        <img class="thumbnail img-responsive" title="@string.Format("Imágenes pregunta {0}",ViewBag.Enum_Label)" src="@Url.Content("~"+item.Path)" style="height:350px;margin:auto">
    </div>

}

