﻿<h1 style="text-align:center">@Model </h1>

<form id="question_survey" method="post">
    <input type="hidden" name="Id_ShareQuestion" value="@Model.Id_ShareQuestion" />
    <input type="hidden" name="Id_Question" value="@Model.FirstQuestion" />
</form>