﻿@model IEnumerable<CGM.Models.CGMModels.NotificationGroup>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Notificaciones";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                Notificaciones
            </h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-lg-10">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2> Listado</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@modelName" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Alarm.name)</th>
                                <th>@Html.DisplayNameFor(model => model.message)</th>
                                <th>Elementos</th>
                                <th>Fecha y hora</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(i => item.Alarm.name)</td>
                                <td>@Html.DisplayFor(i => item.message)</td>
                                <td>@Html.DisplayFor(i => item.Notifications.Count)</td>
                                <td>@item.Notifications.OrderByDescending(n => n.date_created).FirstOrDefault().date_created</td>
                                <td><span data-utcdate="@item.Notifications.OrderByDescending(n => n.date_created).FirstOrDefault().date_created.ToString("s", System.Globalization.CultureInfo.InvariantCulture)"></span></td>
                                <th><a id="@item.id" href="#" class="btnDetails">Ver</a></th>
                                <td>
                                    @Html.ActionLink(" ", "Index", new { controller = "AlarmFires"}, new { @class = "fa fa-list", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Ir a Alarmas disparadas" }) &nbsp;
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>

        /* Formatting function for row details - modify as you need */
        function format(d) {
            // `d` is the original data object for the row
            var innerTable = '<table class="table-borderless small ml-4" cellspacing="0" border="0">' +
                '<tr>' +
                '<th></th><th>Mensaje</th> <th>Fecha y hora</th>' +
                '<th></th>' +
                '</tr>';

            d.Notifications.forEach(function (item, index) {
                var date = new Date(item.date_created)
                innerTable += '<tr>' +
                                 '<td>' + (index+1) + '</td>' +
                                 '<td>' + item.message + '</td>' +
                                 '<td>' + date.toLocaleString() + '</td>' +
                                 '<td><a href="' + ROOT + 'AlarmFires/Details/' + item.alarmFire_id + '">Detalles</a></td>' +
                              '</tr>';
                })
                
            innerTable += '</table>';
            return innerTable;
        }

        $(document).ready(function () {
            // Get the NotifGroup object to print the innerTables in the rows
            $.ajax(
                {
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    url: ROOT + "Notifications/GetNotificationGroups",
                    //data: { ids: ids, value: $(this).val() },
                    success: function (res) {
                        NotifGroups = res
                    }
                }
            )

            $(".detailsRow").remove()

            var table = $('#@modelName').DataTable(
                {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    },
                    "columnDefs": [
                        { "width": "10%", "targets": 0 }, // nombre
                        { "width": "50%", "targets": 1 } // descripción
                    ]
                }
            );

            table.order([[3, 'desc']])

            // Method to open the subtable to show details about each alarm
            $(".btnDetails").click(function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var id = this.id
                var data = NotifGroups.filter(function (x) { return x.id == id })[0]

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(data)).show();
                    tr.addClass('shown');
                    $(".table-borderless").find('*').css("margin", "0px")
                }

            })
        });
        moment.locale('es')
        $(function () {
            $('[data-utcdate]').each(function () {
                var d = moment($(this).attr('data-utcdate')).fromNow();
                $(this).text(d);
            });
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


