﻿@model CGM.Models.MyModels.ParamConditional
@{
    SelectList objsToChoose = ViewBag.objsToChoose;
    SelectList operators = ViewBag.operators;

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input id="id" name="id" value="@ViewBag.id" style="display:none" />
    <input id="Class" name="Class" value="@ViewBag.Class" style="display:none" />

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group mb-3">
                <label>Elemento</label>
                @Html.DropDownList("objId", objsToChoose, "---- Seleccionar Objeto ----", htmlAttributes: new { @class = "form-control", @style = "width: 100%", required = "required" })
            </div>

            <div class="form-group mb-3">
                <label>Operador de condicional</label>
                @Html.DropDownList("operatorId", operators, "---- Seleccionar Objeto ----", htmlAttributes: new { @class = "form-control", @style = "width: 100%", required = "required" })
            </div>

            <div class="form-group m-3">
                <label>Valor</label>
                <input type="text" id="valueText" name="value" class="form-control displaynone" />
                <label id="isRadioLabel" class="text-secondary displaynone form-control">El elemento seleccionado es del tipo "botón de radio" (Ya tiene valor).</label>
            </div>
        </div>
    </div>
    <script>

        isRadioButton = JSON.parse("@ViewBag.isRadioOption".replace(/&quot;/g, '"'))

        // Si se escoge una opción de Radio button, no se da opción de escribir un valor, pues ya lo tiene.
        // En caso contrario, se habilita una caja de texto.
        $("#objId").on('change', function () {
            console.log($(this).val())
            console.log(isRadioButton.includes($(this).val()))
            if (isRadioButton.includes(parseInt($(this).val()))) {
                $("#isRadioLabel").show()
                $("#valueText").hide()
            }
            else {
                $("#isRadioLabel").hide()
                $("#valueText").show()
            }
        })
    </script>

    <hr />
    @Html.Partial("_BtnSubmit", "Guardar")
}
