﻿@model CGM.Areas.SurveyApp.Models.Norm


<h2>Detalles</h2>
    @Html.DisplayForModel()

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
