﻿@model CGM.Models.CGMModels.AspNetUsers

@{
    ViewBag.Title = "Eliminar usuario";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row align-content-center">
        <div class="pr-4 fa fa-2x fa-trash"></div>
        <h1>Realmente quiere eliminar este elemento?</h1>
    </div>
</header>
<hr />
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Usuario</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td scope="row">Rol de usuario</td>
                                <th><label>@Model.AspNetRoles.FirstOrDefault().Name</label></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Name)</td>
                                <th><label>@Html.DisplayFor(model => model.Name)</label></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.LastName)</td>
                                <th><label>@Html.DisplayFor(model => model.LastName)</label></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Email)</td>
                                <th><label>@Html.DisplayFor(model => model.Email)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.EmailConfirmed)</td>
                                <th><label>@Html.DisplayFor(model => model.EmailConfirmed)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.PasswordHash)</td>
                                <th><label>@Html.DisplayFor(model => model.PasswordHash)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.SecurityStamp)</td>
                                <th><label>@Html.DisplayFor(model => model.SecurityStamp)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.PhoneNumber)</td>
                                <th><label>@Html.DisplayFor(model => model.PhoneNumber)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.PhoneNumberConfirmed)</td>
                                <th><label>@Html.DisplayFor(model => model.PhoneNumberConfirmed)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.TwoFactorEnabled)</td>
                                <th><label>@Html.DisplayFor(model => model.TwoFactorEnabled)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.LockoutEndDateUtc)</td>
                                <th><label>@Html.DisplayFor(model => model.LockoutEndDateUtc)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.LockoutEnabled)</td>
                                <th><label>@Html.DisplayFor(model => model.LockoutEnabled)</label></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.AccessFailedCount)</td>
                                <th><label>@Html.DisplayFor(model => model.AccessFailedCount)</label></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">
        <span class="fa fa-times"></span>
        Eliminar
    </button>

    <button type="button" class="btn btn-default back">
        <span class="fa fa-arrow-left "></span>
        Volver
    </button>
}

@section scriptsbody{
    <script>
    $(".back").click(function (e) {
        document.location = "@Url.Action("Index")";
    });
    </script>
}
