﻿@model IEnumerable<CGM.Models.CGMModels.Boundary>

@{
    ViewBag.Title = "Reporte manual";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Mercado", "Reporte manual", Url.Content("~"))


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                Reporte Manual
            </h1>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")

<form id="formPreReport">
    <div class="row">
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <h2>Parámetros</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg form-group">
                            <label>Unidad de Negocio</label>
                            <select required id="report_type" class="form-control">
                                <option value="">------- Seleccione -------</option>
                                <option value="0">Generación</option>
                                <option value="1">Comercialización</option>
                            </select>
                        </div>
                        <div class="col-lg">
                            <label class="form-control-label">Inicio</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input required id="opday" type="text" class="datetimepicker-input form-control" data-target="#datetimepicker1" name="opday" />
                                <div class="input-group-append " data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg text-center">
                            <button type="button" class=" mt-4 btn btn-primary" data-toggle="modal" data-target=".bd-modal">Seleccionar fronteras</button>
                        </div>
                        <div class="col-lg text-center" style="border-left:groove">
                            <button id="btn_previs" class=" mt-4 btn btn-success">Previsualizar reporte</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div id="loader" style="display:none" class="lds-ellipsis p-4"><div></div><div></div><div></div><div></div></div>
    <div id="prereportWrapper" class="col-12"></div>
</div>
<div class="modal fade bd-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seleccionar fronteras</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model != null)
                {
                    <div>
                        <table id="tblBoundaries" class="tblBoundaries table table-sm small">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.id)</th>
                                    <th>@Html.DisplayNameFor(model => model.code)</th>
                                    <th>@Html.DisplayNameFor(model => model.name)</th>
                                    <th>@Html.DisplayNameFor(model => model.is_active)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => item.id)</td>
                                        <td>@Html.DisplayFor(model => item.code)</td>
                                        <td>@Html.DisplayFor(model => item.name)</td>
                                        <td>@ViewHelpers.IsActive(item.is_active)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    @ViewHelpers.NoElements()
                }

            </div>
        </div>
    </div>
</div>
@section scriptsbody
{
    @Scripts.Render("~/bundles/dataTablesScript")
    @Scripts.Render("~/bundles/tablebuttons")
    <script src="@Url.Content("~")Content/vendor/datatablesCHK/dataTables.checkboxes.min.js"></script>

    <script src="@Url.Content("~")Content/vendor/tempusdominus/moment-with-locales.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tether.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
    @*<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>*@


<script>
    //Para pruebas
    $("#report_type").val(1);
    setTimeout(function () { $(".btn-success").click() }, 500);

    $("#formPreReport").submit(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $("#loader").show();
        var ids = tableAllBoundaries.column(0).checkboxes.selected().join(',')
        if (ids == "") {
            alert("Debe seleccionar al menos una frontera.");
            $("#loader").hide();

            return;
        }
        var opday = $("#opday").val()
        $.ajax({
            url: ROOT + 'Reports/GetPreReport',
            method: 'GET',
            data: {
                ids: ids,
                opday: $("#opday").val(),
                curvaTipId: $("#curvaTipSelector option:selected").val(),
                report_type: $("#report_type option:selected").val()
            },
            success: function (data) {
                $("#loader").hide();
                $("#prereportWrapper").html(data)
            }
        })
    })



</script>
<script>
    $(function myfunction() {
        var d = new Date()

        $(function () {
            $('.date').datetimepicker({
                //defaultDate: moment().add(-2, 'days'),
                locale: 'es',
                format: 'l', //Sólamente la fecha.
                formatDate: 'dd/MM/yyyy',
                maxDate: d.setDate(d.getDate() - 1)
            });
        });
    })

</script>
<script>
        $(function () {
        tableAllBoundaries = $('#tblBoundaries').DataTable(
            {
                "language": {
                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                 }
                 ,
                "pageLength": 20,
                'initComplete': function (settings) {
                    var api = this.api();

                    api.cells(
                        api.rows(function (idx, data, node) {
                            return (data[3].includes('No')) ? true : false;
                        }).indexes(),
                        0
                    ).checkboxes.disable();
                    api.cells().checkboxes.select()
                },
                 'columnDefs': [
                     {
                         'targets': 0,
                         'checkboxes': {
                             'selectRow': true
                         }
                     }
                 ],
                 'select': {
                     'style': 'multi'
                }
            }
        );
            tableAllBoundaries.order([2, 'asc']).draw()
    })
</script>
}
@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
    <link href="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}
