﻿@model CGM.Models.CGMModels.Filtro
@if (Model.Meters.Any())
{
    <table class="table">
        @foreach (var item in Model.Meters)
        {
            <tr>
                <td class="p-0">#@item.serial - @item.Model_Meter.brand </td>
                @if (item.Boundary != null)
                {
                    <td class="p-0">@item.Boundary.code - @item.Boundary.name - @item.Model_Meter.model</td>
                }
            </tr>
        }
    </table>
}
else
{
    <strong>No contiene elementos</strong>    
}

