﻿@model CGM.Models.MyModels.FiltroViewModel

@{
    ViewBag.Title = "Editar";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("General", "Filtros", Url.Content("~"))
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>
@Html.Partial("_TempResult")

<div class="col-lg-8">
    <div class="card">
        <div class="card-header mb-2"><h2>Filtro</h2></div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.filtro.Id)
                @Html.HiddenFor(model => model.filtro.destination_id)

                if (Model.boundaries != null)
                {
                    <div class="row m-lg-3">
                        <div class="table-responsive">
                            <select multiple="multiple" id="selectList" name="selectList" class="searchable" style="width: 100%;">
                                @foreach (var item in Model.boundaries)
                                {
                                    <option value='@item.id'>@item.code - @item.name</option>
                                }
                                @foreach (var item in Model.filtro.Boundaries)
                                {
                                    <option value='@item.id' selected>@item.code - @item.name</option>
                                }
                            </select>
                        </div>
                    </div>
                }
                if (Model.meters != null)
                {
                    <div class="row m-lg-3">
                        <div class="table-responsive">
                            <select multiple="multiple" id="selectList" name="selectList" class="searchable" style="width: 100%;">
                                @foreach (var item in Model.meters)
                                {
                                    <option value='@item.id'>@item.Model_Meter.brand @item.Model_Meter.model - #@item.serial</option>
                                }
                                @foreach (var item in Model.filtro.Meters)
                                {
                                    <option value='@item.id' selected>@item.Model_Meter.brand @item.Model_Meter.model - #@item.serial</option>
                                }
                            </select>
                        </div>
                    </div>
                }

                <br />
                <div class="col-12">
                    <div class="form-group-material">
                        @Html.EditorFor(model => model.filtro.Name, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                        @Html.LabelFor(model => model.filtro.Name, htmlAttributes: new { @class = "label-material" })
                        @Html.ValidationMessageFor(model => model.filtro.Name, "", new { @class = "text-danger small" })
                    </div>
                </div>
                @Html.Partial("_BtnSubmit", "Guardar")
            }
        </div>
    </div>
</div>

@section scriptsbody{
    <script src="@Url.Content("~")Content/vendor/multiselect/js/jquery.multi-select.js"></script>
    <script src="@Url.Content("~")Content/vendor/jquery.quicksearch.js"></script>
    <script src="@Url.Content("~")Scripts/Helpers.js"></script>
    <script>
        $(function () {
            multiSelectListSearchable('#selectList');
            $('.ms-container').css("width", "100%")
        })
    </script>

}
@section styles{
    <link href="@Url.Content("~")Content/vendor/multiselect/css/multi-select.css" rel="stylesheet" />
}
