﻿@model List<CGM.Models.MyModels.SimpleBoundary>
@{
    bool date = false;
}

<div class="card">
    <div class="card-body">
        @if (Model.Count == 0)
        {
            <h6 class="alert alert-secondary">No se encuentra registros de este período.</h6>
        }
        else
        {
            <div class="table-responsive">
                <table id="tblReport" class="table small">
                    <thead>
                        <tr>
                            <th>Frontera</th>
                            <th>Código</th>
                            <th>Tipo</th>
                            <th>Fecha</th>
                            <th>Medida</th>
                            @for (int i = 1; i <= 24; i++)
                            {
                                <th>H@(i)</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sb in Model)
                        {
                            foreach (var quantity in sb.Quantities)
                            {
                                { date = false; }
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => sb.boundaryName)</td>
                                    <td>@Html.DisplayFor(modelItem => sb.boundaryCode)</td>
                                    <td>@Html.DisplayFor(modelItem => sb.Tipo)</td>
                                    <td>@quantity.shortname</td>
                                    @foreach (var measure in quantity.measures.OrderBy(m => m.time))
                                    {
                                        if (!date)
                                        {
                                            <td>@measure.time.Date.ToString("dd/MM/yyyy")</td>
                                            date = true;
                                        }
                                        <td>@Math.Round(measure.measure, 3)</td>
                                    }
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        }
</div>
</div>

        @Scripts.Render("~/bundles/dataTablesScript")
        <script>
            $(document).ready(function () {
                $('#tblReport').DataTable(
                    {
                        "language": {
                            "url": "../Scripts/es-CO.txt"
                        }
                    }
                );
            });
        </script>


        <!-- Datatables stylesheet-->
        @Styles.Render("~/bundles/dataTablesStyle")



