﻿@model CGM.Models.MyModels.ReportDest

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Archivo";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <h1><i class="fa fa-files-o"></i></h1>
                <h1 class="display ml-3">
                    Archivo
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-header">
                <h4>Consulta</h4>
            </div>
            <div class="card-body">
                <form id="form1">
                    <div class="row">
                        <div class="col-lg-1"><label class="form-control-label">Elementos</label></div>
                        <div class="col-lg-3 ">
                            <div class="row m-1 text-left">
                                <div class="col-6">
                                    <div class="i-checks">
                                        <input id="radioTipo0" required type="radio" value="1" name="dest" class="form-control-custom radio-custom TipoPick">
                                        <label class="" for="radioTipo0">Fronteras</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="i-checks">
                                        <input id="radioTipo1" type="radio" value="0" name="dest" class="form-control-custom radio-custom TipoPick">
                                        <label class="" for="radioTipo1">Medidores</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12"><select class="js-select full-size form-control required" id="item" required name="item" style="width: 100%"></select></div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-lg-push-2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form-control-label">Inicio</label>
                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                        <input required id="dateStart" type="text" class="datetimepicker-input form-control" data-target="#datetimepicker1" name="dateStart" />
                                        <div class="input-group-append " data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-control-label">Fin</label>
                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                        <input required id="dateEnd" type="text" class="datetimepicker-input form-control" data-target="#datetimepicker2" name="dateEnd" />
                                        <div class="input-group-append " data-target="#datetimepicker2" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 text-right">
                        </div>
                        <button id="submitbtn" type="submit" style="visibility:hidden"></button>

                    </div>
                </form>
              <button id="btnConsultar" type="submit" class="btn btn-primary align-text-bottom mt-4">Consultar</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

                <div id="resultWrapper"></div>
            </div>
        </div>

@section scriptsbody{

    <script>

        $(function () {
            boundaries = getListParameters(1);
            meters = getListParameters(0); 
            form = $("#form1");
        })

        document.getElementById('btnConsultar').addEventListener('click', function () {
            if (form[0].checkValidity()) {
                submitForm();
            }
            else {
                $('#submitbtn').click()
                console.log('not a valid submission')
            }
        },false) 

        function getListParameters(p) {
            var response
            if (p == 0) {var url = "@Url.Content("~")api/Boundaries/GetMeters";}
            if (p == 1) {var url = "@Url.Content("~")api/Boundaries/GetBoundaries";}
            $.ajax({
                'async': false,
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { destination: p },
                success: function (data) {
                    response = data
                }
            })
            return response;
        }

        $(".TipoPick").change(function () {
            var pick = $("input[name='dest']:checked").val()
            var $dropdown = $("#item");
            var dataList;
            if (pick == 1) {dataList = boundaries}
            if (pick == 0) { dataList = meters }

            $dropdown.empty()
            $dropdown.append($("<option value='' />").text("------ Seleccione ------"))
            $.each(dataList, function (key, item) {
                if (pick == 0) {
                    $dropdown.append($("<option value/>").val(item.id).text(item.Model_Meter.brand + " - " + item.serial))
                }
                if (pick == 1) {
                    $dropdown.append($("<option value/>").val(item.id).text(item.name + " - " + item.code))
                }
            })
        })

        function submitForm() {
            var $form = $('#form1')
            
                $.ajax({
                    type: 'GET',
                    url: "@Url.Content("~")Measures/getArchive",
                    data: $form.serialize(),
                    success: function (data) {
                        $("#resultWrapper").html(data)
                    }
                })

        }
    </script>

    <script src="@Url.Content("~")Content/vendor/tempusdominus/moment-with-locales.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tether.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.date').datetimepicker({
                //defaultDate: moment().add(-2, 'days'),
                locale: 'es',
                format: 'l', //Sólamente la fecha.
                maxDate: new Date()
            });
        });
    </script>

}
@section styles{
    <link href="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}
