﻿@using CGM.Models.CGMModels;
@{
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    ViewBag.Title = "Home Page";
    var boundary = (List<Boundary>)TempData["boundary"];
}

<header>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="fa fa-2x fa-clock-o pr-2 pl-2"></div>
                <h1 class="display">
                    Registro de medidas
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <form id="form_fechas" onsubmit="Graficar(this, event)" autocomplete="off">
                    <div class="row">
                        <div class="col-2">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="rf" name="rangeFechas" class="custom-control-input" value="rf" checked>
                                <label class="custom-control-label" for="rf">Rango de Fecha</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="rm" name="rangeFechas" class="custom-control-input" value="rm">
                                <label class="custom-control-label" for="rm">Rango de Meses</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="ra" name="rangeFechas" class="custom-control-input" value="ra">
                                <label class="custom-control-label" for="ra">Rango de Años</label>
                            </div>
                        </div>
                        <div class="col-3 mb-3">
                            <div class="form-group">
                                <label>Fecha Inicial</label>
                                <input type="date" class="form-control" name="fechaIni" id="fechaIni" value="" required />
                            </div>
                        </div>
                        <div class="col-3 mb-3">
                            <div class="form-group">
                                <label>Fecha Final</label>
                                <input type="date" class="form-control" name="fechaFin" id="fechaFin" value="" required />
                            </div>
                        </div>
                        <div class="col-2 mb-3">
                            <div class="form-group">
                                <label for="annoI">Año Inicio</label>
                                @{
                                    DateTime fechaActual = DateTime.Today;
                                }
                                <select class="form-control" id="annoIni" disabled>
                                    @for (int i = fechaActual.Year; i >= 1980; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-2 mb-3">
                            <div class="form-group">
                                <label for="annoF">Año Fin</label>
                                <select class="form-control" id="annoFin" disabled>
                                    @for (int i = fechaActual.Year; i >= 1980; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-3 mb-3 offset-2 align-self-center">
                            <div class="form-group">
                                <a class="btn btn-dark btn-lg btn-block text-white small" data-toggle="modal" data-target=".bd-modal">Seleccionar Fronteras</a>
                                <div class="alert alert-warning" id="success-alert">
                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                    <strong>Seleccione! </strong>
                                    al menos una frontera
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mb-3 align-self-center " style="border-left:groove">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-lg btn-block small">Mostrar Gráficas</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>

    <div id="highcharts-95272cde-65ba-45f7-8150-cf44c2792f35"></div>
    <script>
        (function () {
            var files = ["https://code.highcharts.com/stock/highstock.js", "https://code.highcharts.com/highcharts-more.js", "https://code.highcharts.com/highcharts-3d.js", "https://code.highcharts.com/modules/data.js", "https://code.highcharts.com/modules/exporting.js", "https://code.highcharts.com/modules/funnel.js", "https://code.highcharts.com/modules/annotations.js", "https://code.highcharts.com/modules/solid-gauge.js"], loaded = 0; if (typeof window["HighchartsEditor"] === "undefined") { window.HighchartsEditor = { ondone: [cl], hasWrapped: false, hasLoaded: false }; include(files[0]); } else { if (window.HighchartsEditor.hasLoaded) { cl(); } else { window.HighchartsEditor.ondone.push(cl); } } function isScriptAlreadyIncluded(src) { var scripts = document.getElementsByTagName("script"); for (var i = 0; i < scripts.length; i++) { if (scripts[i].hasAttribute("src")) { if ((scripts[i].getAttribute("src") || "").indexOf(src) >= 0 || (scripts[i].getAttribute("src") === "http://code.highcharts.com/highcharts.js" && src === "https://code.highcharts.com/stock/highstock.js")) { return true; } } } return false; } function check() { if (loaded === files.length) { for (var i = 0; i < window.HighchartsEditor.ondone.length; i++) { try { window.HighchartsEditor.ondone[i](); } catch (e) { console.error(e); } } window.HighchartsEditor.hasLoaded = true; } } function include(script) { function next() { ++loaded; if (loaded < files.length) { include(files[loaded]); } check(); } if (isScriptAlreadyIncluded(script)) { return next(); } var sc = document.createElement("script"); sc.src = script; sc.type = "text/javascript"; sc.onload = function () { next(); }; document.head.appendChild(sc); } function each(a, fn) { if (typeof a.forEach !== "undefined") { a.forEach(fn); } else { for (var i = 0; i < a.length; i++) { if (fn) { fn(a[i]); } } } } var inc = {}, incl = []; each(document.querySelectorAll("script"), function (t) { inc[t.src.substr(0, t.src.indexOf("?"))] = 1; }); function cl() {
                if (typeof window["Highcharts"] !== "undefined") {
                    options = { "title": { "text": null }, "subtitle": { "text": "My Untitled Chart" }, "exporting": {}, "chart": { "panning": true, "pinchType": "x" }, "navigator": { "enabled": true }, "scrollbar": { "enabled": true }, "rangeSelector": { "enabled": true, "selected": 4 }, "tooltip": { "split": true, "crosshairs": true, "pointFormat": "<span style=\"color:{series.color}\">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>", "valueDecimals": 2 }, "legend": { "enabled": false }, "plotOptions": { "line": { "marker": { "enabled": false, "radius": 2 } }, "spline": { "marker": { "enabled": false, "radius": 2 } }, "area": { "marker": { "enabled": false, "radius": 2 } }, "areaspline": { "marker": { "enabled": false, "radius": 2 } }, "arearange": { "marker": { "enabled": false, "radius": 2 } }, "areasplinerange": { "marker": { "enabled": false, "radius": 2 } }, "column": { "shadow": false, "borderWidth": 0 }, "columnrange": { "shadow": false, "borderWidth": 0 }, "candlestick": { "shadow": false, "borderWidth": 0 }, "ohlc": { "shadow": false, "borderWidth": 0 }, "series": { "compare": "percent", "showInNavigator": true, "animation": false } }, "yAxis": [{ "labels": { "y": -2 }, "opposite": true, "showLastLabel": false, "title": { "text": null }, "plotLines": [{ "value": 0, "width": 2, "color": "silver" }], "index": 0 }], "series": [{ "name": "MSFT", "_colorIndex": 0, "_symbolIndex": 0, "compare": "percent" }, { "name": "AAPL", "_colorIndex": 1, "_symbolIndex": 1, "compare": "percent" }, { "name": "GOOG", "_colorIndex": 2, "_symbolIndex": 2, "compare": "percent" }], "xAxis": [{ "minPadding": 0, "maxPadding": 0, "overscroll": 0, "ordinal": true, "title": { "text": null }, "labels": { "overflow": "justify" }, "showLastLabel": true, "type": "datetime", "categories": null, "startOnTick": false, "endOnTick": false, "index": 0, "isX": true }], "isStock": true, "data": { "csv": "\"DateTime\";\"MSFT\";\"AAPL\";\"GOOG\"\n\"2017-01-17 14:30:00\";62.53;120;804.61\n\"2017-01-18 14:30:00\";62.5;119.99;806.07\n\"2017-01-19 14:30:00\";62.3;119.78;802.17\n\"2017-01-20 14:30:00\";62.74;120;805.02\n\"2017-01-23 14:30:00\";62.96;120.08;819.31\n\"2017-01-24 14:30:00\";63.52;119.97;823.87\n\"2017-01-25 14:30:00\";63.68;121.88;835.67\n\"2017-01-26 14:30:00\";64.27;121.94;832.15\n\"2017-01-27 14:30:00\";65.78;121.95;823.31\n\"2017-01-30 14:30:00\";65.13;121.63;802.32\n\"2017-01-31 14:30:00\";64.65;121.35;796.79\n\"2017-02-01 14:30:00\";63.58;128.75;795.7\n\"2017-02-02 14:30:00\";63.17;128.53;798.53\n\"2017-02-03 14:30:00\";63.68;129.08;801.49\n\"2017-02-06 14:30:00\";63.64;130.29;801.34\n\"2017-02-07 14:30:00\";63.43;131.53;806.97\n\"2017-02-08 14:30:00\";63.34;132.04;808.38\n\"2017-02-09 14:30:00\";64.06;132.42;809.56\n\"2017-02-10 14:30:00\";64;132.12;813.67\n\"2017-02-13 14:30:00\";64.72;133.29;819.24\n\"2017-02-14 14:30:00\";64.57;135.02;820.45\n\"2017-02-15 14:30:00\";64.53;135.51;818.98\n\"2017-02-16 14:30:00\";64.52;135.35;824.16\n\"2017-02-17 14:30:00\";64.62;135.72;828.07\n\"2017-02-21 14:30:00\";64.49;136.7;831.66\n\"2017-02-22 14:30:00\";64.36;137.11;830.76\n\"2017-02-23 14:30:00\";64.62;136.53;831.33\n\"2017-02-24 14:30:00\";64.62;136.66;828.64\n\"2017-02-27 14:30:00\";64.23;136.93;829.28\n\"2017-02-28 14:30:00\";63.98;136.99;823.21\n\"2017-03-01 14:30:00\";64.94;139.79;835.24\n\"2017-03-02 14:30:00\";64.01;138.96;830.63\n\"2017-03-03 14:30:00\";64.25;139.78;829.08\n\"2017-03-06 14:30:00\";64.27;139.34;827.78\n\"2017-03-07 14:30:00\";64.4;139.52;831.91\n\"2017-03-08 14:30:00\";64.99;139;835.37\n\"2017-03-09 14:30:00\";64.73;138.68;838.68\n\"2017-03-10 14:30:00\";64.93;139.14;843.25\n\"2017-03-13 13:30:00\";64.71;139.2;845.54\n\"2017-03-14 13:30:00\";64.41;138.99;845.62\n\"2017-03-15 13:30:00\";64.75;140.46;847.2\n\"2017-03-16 13:30:00\";64.64;140.69;848.78\n\"2017-03-17 13:30:00\";64.87;139.99;852.12\n\"2017-03-20 13:30:00\";64.93;141.46;848.4\n\"2017-03-21 13:30:00\";64.21;139.84;830.46\n\"2017-03-22 13:30:00\";65.03;141.42;829.59\n\"2017-03-23 13:30:00\";64.87;140.92;817.58\n\"2017-03-24 13:30:00\";64.98;140.64;814.43\n\"2017-03-27 13:30:00\";65.1;140.88;819.51\n\"2017-03-28 13:30:00\";65.29;143.8;820.92\n\"2017-03-29 13:30:00\";65.47;144.12;831.41\n\"2017-03-30 13:30:00\";65.71;143.93;831.5\n\"2017-03-31 13:30:00\";65.86;143.66;829.56\n\"2017-04-03 13:30:00\";65.55;143.7;838.55\n\"2017-04-04 13:30:00\";65.73;144.77;834.57\n\"2017-04-05 13:30:00\";65.56;144.02;831.41\n\"2017-04-06 13:30:00\";65.73;143.66;827.88\n\"2017-04-07 13:30:00\";65.68;143.34;824.67\n\"2017-04-10 13:30:00\";65.53;143.17;824.73\n\"2017-04-11 13:30:00\";65.48;141.63;823.35\n\"2017-04-12 13:30:00\";65.23;141.8;824.32\n\"2017-04-13 13:30:00\";64.95;141.05;823.56\n\"2017-04-17 13:30:00\";65.48;141.83;837.17\n\"2017-04-18 13:30:00\";65.39;141.2;836.82\n\"2017-04-19 13:30:00\";65.04;140.68;838.21\n\"2017-04-20 13:30:00\";65.5;142.44;841.65\n\"2017-04-21 13:30:00\";66.4;142.27;843.19\n\"2017-04-24 13:30:00\";67.53;143.64;862.76\n\"2017-04-25 13:30:00\";67.92;144.53;872.3\n\"2017-04-26 13:30:00\";67.83;143.68;871.73\n\"2017-04-27 13:30:00\";68.27;143.79;874.25\n\"2017-04-28 13:30:00\";68.46;143.65;905.96\n\"2017-05-01 13:30:00\";69.41;146.58;912.57\n\"2017-05-02 13:30:00\";69.3;147.51;916.44\n\"2017-05-03 13:30:00\";69.08;147.06;927.04\n\"2017-05-04 13:30:00\";68.81;146.53;931.66\n\"2017-05-05 13:30:00\";69;148.96;927.13\n\"2017-05-08 13:30:00\";68.94;153.01;934.3\n\"2017-05-09 13:30:00\";69.04;153.99;932.17\n\"2017-05-10 13:30:00\";69.31;153.26;928.78\n\"2017-05-11 13:30:00\";68.46;153.95;930.6\n\"2017-05-12 13:30:00\";68.38;156.1;932.22\n\"2017-05-15 13:30:00\";68.43;155.7;937.08\n\"2017-05-16 13:30:00\";69.41;155.47;943\n\"2017-05-17 13:30:00\";67.48;150.25;919.62\n\"2017-05-18 13:30:00\";67.71;152.54;930.24\n\"2017-05-19 13:30:00\";67.69;153.06;934.01\n\"2017-05-22 13:30:00\";68.45;153.99;941.86\n\"2017-05-23 13:30:00\";68.68;153.8;948.82\n\"2017-05-24 13:30:00\";68.77;153.34;954.96\n\"2017-05-25 13:30:00\";69.62;153.87;969.54\n\"2017-05-26 13:30:00\";69.96;153.61;971.47\n\"2017-05-30 13:30:00\";70.41;153.67;975.88\n\"2017-05-31 13:30:00\";69.84;152.76;964.86\n\"2017-06-01 13:30:00\";70.1;153.18;966.95\n\"2017-06-02 13:30:00\";71.76;155.45;975.6\n\"2017-06-05 13:30:00\";72.28;153.93;983.68\n\"2017-06-06 13:30:00\";72.52;154.45;976.57\n\"2017-06-07 13:30:00\";72.39;155.37;980.94\n\"2017-06-08 13:30:00\";71.95;154.99;983.41\n\"2017-06-09 13:30:00\";70.32;148.98;949.83\n\"2017-06-12 13:30:00\";69.78;145.42;942.9\n\"2017-06-13 13:30:00\";70.65;146.59;953.4\n\"2017-06-14 13:30:00\";70.27;145.16;950.76\n\"2017-06-15 13:30:00\";69.9;144.29;942.31\n\"2017-06-16 13:30:00\";70;142.27;939.78\n\"2017-06-19 13:30:00\";70.87;146.34;957.37\n\"2017-06-20 13:30:00\";69.91;145.01;950.63\n\"2017-06-21 13:30:00\";70.27;145.87;959.45\n\"2017-06-22 13:30:00\";70.26;145.63;957.09\n\"2017-06-23 13:30:00\";71.21;146.28;965.59\n\"2017-06-26 13:30:00\";70.53;145.82;952.27\n\"2017-06-27 13:30:00\";69.21;143.73;927.33\n\"2017-06-28 13:30:00\";69.8;145.83;940.49\n\"2017-06-29 13:30:00\";68.49;143.68;917.79\n\"2017-06-30 13:30:00\";68.93;144.02;908.73\n\"2017-07-03 13:30:00\";68.17;143.5;898.7\n\"2017-07-05 13:30:00\";69.08;144.09;911.71\n\"2017-07-06 13:30:00\";68.57;142.73;906.69\n\"2017-07-07 13:30:00\";69.46;144.18;918.59\n\"2017-07-10 13:30:00\";69.98;145.06;928.8\n\"2017-07-11 13:30:00\";69.99;145.53;930.09\n\"2017-07-12 13:30:00\";71.15;145.74;943.83\n\"2017-07-13 13:30:00\";71.77;147.77;947.16\n\"2017-07-14 13:30:00\";72.78;149.04;955.99\n\"2017-07-17 13:30:00\";73.35;149.56;953.42\n\"2017-07-18 13:30:00\";73.3;150.08;965.4\n\"2017-07-19 13:30:00\";73.86;151.02;970.89\n\"2017-07-20 13:30:00\";74.22;150.34;968.15\n\"2017-07-21 13:30:00\";73.79;150.27;972.92\n\"2017-07-24 13:30:00\";73.6;152.09;980.34\n\"2017-07-25 13:30:00\";74.19;152.74;950.7\n\"2017-07-26 13:30:00\";74.05;153.46;947.8\n\"2017-07-27 13:30:00\";73.16;150.56;934.09\n\"2017-07-28 13:30:00\";73.04;149.5;941.53\n\"2017-07-31 13:30:00\";72.7;148.73;930.5\n\"2017-08-01 13:30:00\";72.58;150.05;930.83\n\"2017-08-02 13:30:00\";72.26;157.14;930.39\n\"2017-08-03 13:30:00\";72.15;155.57;923.65\n\"2017-08-04 13:30:00\";72.68;156.39;927.96\n\"2017-08-07 13:30:00\";72.4;158.81;929.36\n\"2017-08-08 13:30:00\";72.79;160.08;926.79\n\"2017-08-09 13:30:00\";72.47;161.06;922.9\n\"2017-08-10 13:30:00\";71.41;155.32;907.24\n\"2017-08-11 13:30:00\";72.5;157.48;914.39\n\"2017-08-14 13:30:00\";73.59;159.85;922.67\n\"2017-08-15 13:30:00\";73.22;161.6;922.22\n\"2017-08-16 13:30:00\";73.65;160.95;926.96\n\"2017-08-17 13:30:00\";72.4;157.86;910.98\n\"2017-08-18 13:30:00\";72.49;157.5;910.67\n\"2017-08-21 13:30:00\";72.15;157.21;906.66\n\"2017-08-22 13:30:00\";73.16;159.78;924.69\n\"2017-08-23 13:30:00\";72.72;159.98;927\n\"2017-08-24 13:30:00\";72.69;159.27;921.28\n\"2017-08-25 13:30:00\";72.82;159.86;915.89\n\"2017-08-28 13:30:00\";72.83;161.47;913.81\n\"2017-08-29 13:30:00\";73.05;162.91;921.29\n\"2017-08-30 13:30:00\";74.01;163.35;929.57\n\"2017-08-31 13:30:00\";74.77;164;939.33\n\"2017-09-01 13:30:00\";73.94;164.05;937.34\n\"2017-09-05 13:30:00\";73.61;162.08;928.45\n\"2017-09-06 13:30:00\";73.4;161.91;927.81\n\"2017-09-07 13:30:00\";74.34;161.26;935.95\n\"2017-09-08 13:30:00\";73.98;158.63;926.5\n\"2017-09-11 13:30:00\";74.76;161.5;929.08\n\"2017-09-12 13:30:00\";74.68;160.86;932.07\n\"2017-09-13 13:30:00\";75.21;159.65;935.09\n\"2017-09-14 13:30:00\";74.77;158.28;925.11\n\"2017-09-15 13:30:00\";75.31;159.88;920.29\n\"2017-09-18 13:30:00\";75.16;158.67;915\n\"2017-09-19 13:30:00\";75.44;158.73;921.81\n\"2017-09-20 13:30:00\";74.94;156.07;931.58\n\"2017-09-21 13:30:00\";74.21;153.39;932.45\n\"2017-09-22 13:30:00\";74.41;151.89;928.53\n\"2017-09-25 13:30:00\";73.26;150.55;920.97\n\"2017-09-26 13:30:00\";73.26;153.14;924.86\n\"2017-09-27 13:30:00\";73.85;154.23;944.49\n\"2017-09-28 13:30:00\";73.87;153.28;949.5\n\"2017-09-29 13:30:00\";74.49;154.12;959.11\n\"2017-10-02 13:30:00\";74.61;153.81;953.27\n\"2017-10-03 13:30:00\";74.26;154.48;957.79\n\"2017-10-04 13:30:00\";74.69;153.48;951.68\n\"2017-10-05 13:30:00\";75.97;155.39;969.96\n\"2017-10-06 13:30:00\";76;155.3;978.89\n\"2017-10-09 13:30:00\";76.29;155.84;977\n\"2017-10-10 13:30:00\";76.29;155.9;972.6\n\"2017-10-11 13:30:00\";76.42;156.55;989.25\n\"2017-10-12 13:30:00\";77.12;156;987.83\n\"2017-10-13 13:30:00\";77.49;156.99;989.68\n\"2017-10-16 13:30:00\";77.65;159.88;992\n\"2017-10-17 13:30:00\";77.59;160.47;992.18\n\"2017-10-18 13:30:00\";77.61;159.76;992.81\n\"2017-10-19 13:30:00\";77.91;155.98;984.45\n\"2017-10-20 13:30:00\";78.81;156.25;988.2\n\"2017-10-23 13:30:00\";78.83;156.17;968.45\n\"2017-10-24 13:30:00\";78.86;157.1;970.54\n\"2017-10-25 13:30:00\";78.63;156.41;973.33\n\"2017-10-26 13:30:00\";78.76;157.41;972.56\n\"2017-10-27 13:30:00\";83.81;163.05;1019.27\n\"2017-10-30 13:30:00\";83.89;166.72;1017.11\n\"2017-10-31 13:30:00\";83.18;169.04;1016.64\n\"2017-11-01 13:30:00\";83.18;166.89;1025.5\n\"2017-11-02 13:30:00\";84.05;168.11;1025.58\n\"2017-11-03 13:30:00\";84.14;172.5;1032.48\n\"2017-11-06 14:30:00\";84.47;174.25;1025.9\n\"2017-11-07 14:30:00\";84.27;174.81;1033.33\n\"2017-11-08 14:30:00\";84.56;176.24;1039.85\n\"2017-11-09 14:30:00\";84.09;175.88;1031.26\n\"2017-11-10 14:30:00\";83.87;174.67;1028.07\n\"2017-11-13 14:30:00\";83.93;173.97;1025.75\n\"2017-11-14 14:30:00\";84.05;171.34;1026\n\"2017-11-15 14:30:00\";82.98;169.08;1020.91\n\"2017-11-16 14:30:00\";83.2;171.1;1032.5\n\"2017-11-17 14:30:00\";82.4;170.15;1019.09\n\"2017-11-20 14:30:00\";82.53;169.98;1018.38\n\"2017-11-21 14:30:00\";83.72;173.14;1034.49\n\"2017-11-22 14:30:00\";83.11;174.96;1035.96\n\"2017-11-24 14:30:00\";83.26;174.97;1040.61\n\"2017-11-27 14:30:00\";83.87;174.09;1054.21\n\"2017-11-28 14:30:00\";84.88;173.07;1047.41\n\"2017-11-29 14:30:00\";83.34;169.48;1021.66\n\"2017-11-30 14:30:00\";84.17;171.85;1021.41\n\"2017-12-01 14:30:00\";84.26;171.05;1010.17\n\"2017-12-04 14:30:00\";81.08;169.8;998.68\n\"2017-12-05 14:30:00\";81.59;169.64;1005.15\n\"2017-12-06 14:30:00\";82.78;169.01;1018.38\n\"2017-12-07 14:30:00\";82.49;169.32;1030.93\n\"2017-12-08 14:30:00\";84.16;169.37;1037.05\n\"2017-12-11 14:30:00\";85.23;172.67;1041.1\n\"2017-12-12 14:30:00\";85.58;171.7;1040.48\n\"2017-12-13 14:30:00\";85.35;172.27;1040.61\n\"2017-12-14 14:30:00\";84.69;172.22;1049.15\n\"2017-12-15 14:30:00\";86.85;173.97;1064.19\n\"2017-12-18 14:30:00\";86.38;176.42;1077.14\n\"2017-12-19 14:30:00\";85.83;174.54;1070.68\n\"2017-12-20 14:30:00\";85.52;174.35;1064.95\n\"2017-12-21 14:30:00\";85.5;175.01;1063.63\n\"2017-12-22 14:30:00\";85.51;175.01;1060.12\n\"2017-12-26 14:30:00\";85.4;170.57;1056.74\n\"2017-12-27 14:30:00\";85.71;170.6;1049.37\n\"2017-12-28 14:30:00\";85.72;171.08;1048.14\n\"2017-12-29 14:30:00\";85.54;169.23;1046.4\n\"2018-01-02 14:30:00\";85.95;172.26;1065\n\"2018-01-03 14:30:00\";86.35;172.23;1082.48\n\"2018-01-04 14:30:00\";87.11;173.03;1086.4\n\"2018-01-05 14:30:00\";88.19;175;1102.23\n\"2018-01-08 14:30:00\";88.28;174.35;1106.94\n\"2018-01-09 14:30:00\";88.22;174.33;1106.26\n\"2018-01-10 14:30:00\";87.82;174.29;1102.61\n\"2018-01-11 14:30:00\";88.08;175.28;1105.52\n\"2018-01-12 14:30:00\";89.6;177.09;1122.26\n\"2018-01-16 14:30:00\";88.35;176.19;1121.76\n\"2018-01-17 14:30:00\";90.14;179.1;1131.98\n\"2018-01-18 14:30:00\";90.1;179.26;1129.79\n\"2018-01-19 14:30:00\";90;178.46;1137.51\n\"2018-01-22 14:30:00\";91.61;177;1155.81\n\"2018-01-23 14:30:00\";91.9;177.04;1169.97\n\"2018-01-24 14:30:00\";91.82;174.22;1164.24\n\"2018-01-25 14:30:00\";92.33;171.11;1170.37\n\"2018-01-26 14:30:00\";94.06;171.51;1175.84\n\"2018-01-29 14:30:00\";93.92;167.96;1175.58\n\"2018-01-30 14:30:00\";92.74;166.97;1163.69\n\"2018-01-31 14:30:00\";95.01;167.43;1169.94\n\"2018-02-01 14:30:00\";94.26;167.78;1167.7\n\"2018-02-02 14:30:00\";91.78;160.5;1111.9\n\"2018-02-05 14:30:00\";88;156.49;1055.8\n\"2018-02-06 14:30:00\";91.33;163.03;1080.6\n\"2018-02-07 14:30:00\";89.61;159.54;1048.58\n\"2018-02-08 14:30:00\";85.01;155.15;1001.52\n\"2018-02-09 14:30:00\";88.18;156.41;1037.78\n\"2018-02-12 14:30:00\";89.13;162.71;1051.94\n\"2018-02-13 14:30:00\";89.83;164.34;1052.1\n\"2018-02-14 14:30:00\";90.81;167.37;1069.7\n\"2018-02-15 14:30:00\";92.66;172.99;1089.52\n\"2018-02-16 14:30:00\";92;172.43;1094.8\n\"2018-02-20 14:30:00\";92.72;171.85;1102.46\n\"2018-02-21 14:30:00\";91.49;171.07;1111.34\n\"2018-02-22 14:30:00\";91.73;172.5;1106.63\n\"2018-02-23 14:30:00\";94.06;175.5;1126.79\n\"2018-02-26 14:30:00\";95.42;178.97;1143.75\n\"2018-02-27 14:30:00\";94.2;178.39;1118.29\n\"2018-02-28 14:30:00\";93.77;178.12;1104.73\n\"2018-03-01 14:30:00\";92.85;175;1069.52\n\"2018-03-02 14:30:00\";93.05;176.21;1078.92\n\"2018-03-05 14:30:00\";93.64;176.82;1090.93\n\"2018-03-06 14:30:00\";93.32;176.67;1095.06\n\"2018-03-07 14:30:00\";93.86;175.03;1109.64\n\"2018-03-08 14:30:00\";94.43;176.94;1126\n\"2018-03-09 14:30:00\";96.54;179.98;1160.04\n\"2018-03-12 13:30:00\";96.77;181.72;1164.5\n\"2018-03-13 13:30:00\";94.41;179.97;1138.17\n\"2018-03-14 13:30:00\";93.85;178.44;1149.49\n\"2018-03-15 13:30:00\";94.18;178.65;1149.58\n\"2018-03-16 13:30:00\";94.6;178.02;1135.73\n\"2018-03-19 13:30:00\";92.89;175.3;1099.82\n\"2018-03-20 13:30:00\";93.13;175.24;1097.71\n\"2018-03-21 13:30:00\";92.48;171.27;1090.88\n\"2018-03-22 13:30:00\";89.79;168.85;1049.08\n\"2018-03-23 13:30:00\";87.18;164.94;1021.57\n\"2018-03-26 13:30:00\";93.78;172.77;1053.21\n\"2018-03-27 13:30:00\";89.47;168.34;1005.1\n\"2018-03-28 13:30:00\";89.39;166.48;1004.56\n\"2018-03-29 13:30:00\";91.27;167.78;1031.79\n\"2018-04-02 13:30:00\";88.52;166.68;1006.47\n\"2018-04-03 13:30:00\";89.71;168.39;1013.41\n\"2018-04-04 13:30:00\";92.33;171.61;1025.14\n\"2018-04-05 13:30:00\";92.38;172.8;1027.81\n\"2018-04-06 13:30:00\";90.23;168.38;1007.04\n\"2018-04-09 13:30:00\";90.77;170.05;1015.45\n\"2018-04-10 13:30:00\";92.88;173.25;1031.64\n\"2018-04-11 13:30:00\";91.86;172.44;1019.97\n\"2018-04-12 13:30:00\";93.58;174.14;1032.51\n\"2018-04-13 13:30:00\";93.08;174.73;1029.27\n\"2018-04-16 13:30:00\";94.17;175.82;1037.98\n\"2018-04-17 13:30:00\";96.07;178.24;1074.16\n\"2018-04-18 13:30:00\";96.44;177.84;1072.08\n\"2018-04-19 13:30:00\";96.11;172.8;1087.7\n\"2018-04-20 13:30:00\";95;165.72;1072.96\n\"2018-04-23 13:30:00\";95.35;165.24;1067.45\n\"2018-04-24 13:30:00\";93.12;162.94;1019.98\n\"2018-04-25 13:30:00\";92.31;163.65;1021.18\n\"2018-04-26 13:30:00\";94.26;164.22;1040.04\n\"2018-04-27 13:30:00\";95.82;162.32;1030.05\n\"2018-04-30 13:30:00\";93.52;165.26;1017.33\n\"2018-05-01 13:30:00\";95;169.1;1037.31\n\"2018-05-02 13:30:00\";93.51;176.57;1024.38\n\"2018-05-03 13:30:00\";94.07;176.89;1023.72\n\"2018-05-04 13:30:00\";95.16;183.83;1048.21\n\"2018-05-07 13:30:00\";96.22;185.16;1054.79\n\"2018-05-08 13:30:00\";95.81;186.05;1053.91\n\"2018-05-09 13:30:00\";96.94;187.36;1082.76\n\"2018-05-10 13:30:00\";97.91;190.04;1097.57\n\"2018-05-11 13:30:00\";97.7;188.59;1098.26\n\"2018-05-14 13:30:00\";98.03;188.15;1100.2\n\"2018-05-15 13:30:00\";97.32;186.44;1079.23\n\"2018-05-16 13:30:00\";97.15;188.18;1081.77\n\"2018-05-17 13:30:00\";96.18;186.99;1078.59\n\"2018-05-18 13:30:00\";96.36;186.31;1066.36\n\"2018-05-21 13:30:00\";97.6;187.63;1079.58\n\"2018-05-22 13:30:00\";97.5;187.16;1069.73\n\"2018-05-23 13:30:00\";98.66;188.36;1079.69\n\"2018-05-24 13:30:00\";98.31;188.15;1079.24\n\"2018-05-25 13:30:00\";98.36;188.58;1075.66\n\"2018-05-29 13:30:00\";98.01;187.9;1060.32\n\"2018-05-30 13:30:00\";98.95;187.5;1067.8\n\"2018-05-31 13:30:00\";98.84;186.87;1084.99\n\"2018-06-01 13:30:00\";100.79;190.24;1119.5\n\"2018-06-04 13:30:00\";101.67;191.83;1139.29\n\"2018-06-05 13:30:00\";102.19;193.31;1139.66\n\"2018-06-06 13:30:00\";102.49;193.98;1136.88\n\"2018-06-07 13:30:00\";100.88;193.46;1123.86\n\"2018-06-08 13:30:00\";101.63;191.7;1120.87\n\"2018-06-11 13:30:00\";101.05;191.23;1129.99\n\"2018-06-12 13:30:00\";101.31;192.28;1139.32\n\"2018-06-13 13:30:00\";100.85;190.7;1134.79\n\"2018-06-14 13:30:00\";101.42;190.8;1152.12\n\"2018-06-15 13:30:00\";100.13;188.84;1152.26\n\"2018-06-18 13:30:00\";100.86;188.74;1173.46\n\"2018-06-19 13:30:00\";100.86;185.69;1168.06\n\"2018-06-20 13:30:00\";101.87;186.5;1169.84\n\"2018-06-21 13:30:00\";101.14;185.46;1157.66\n\"2018-06-22 13:30:00\";100.41;184.92;1155.48\n\"2018-06-25 13:30:00\";98.39;182.17;1124.81\n\"2018-06-26 13:30:00\";99.08;184.43;1118.46\n\"2018-06-27 13:30:00\";97.54;184.16;1103.98\n\"2018-06-28 13:30:00\";98.63;185.5;1114.22\n\"2018-06-29 13:30:00\";98.61;185.11;1115.65\n\"2018-07-02 13:30:00\";100.01;187.18;1127.46\n\"2018-07-03 13:30:00\";99.05;183.92;1102.89\n\"2018-07-05 13:30:00\";99.76;185.4;1124.27\n\"2018-07-06 13:30:00\";101.16;187.97;1140.17\n\"2018-07-09 13:30:00\";101.85;190.58;1154.05\n\"2018-07-10 13:30:00\";102.12;190.35;1152.84\n\"2018-07-11 13:30:00\";101.98;187.88;1153.9\n\"2018-07-12 13:30:00\";104.19;191.03;1183.48\n\"2018-07-13 13:30:00\";105.43;191.33;1188.82\n\"2018-07-16 13:30:00\";104.91;190.91;1183.86\n\"2018-07-17 13:30:00\";105.95;191.45;1198.8\n\"2018-07-18 13:30:00\";105.12;190.4;1195.88\n\"2018-07-19 13:30:00\";104.4;191.88;1186.96\n\"2018-07-20 13:30:00\";106.27;191.44;1184.91\n\"2018-07-23 13:30:00\";107.97;191.61;1205.5\n\"2018-07-24 13:30:00\";107.66;193;1248.08\n\"2018-07-25 13:30:00\";110.83;194.82;1263.7\n\"2018-07-26 13:30:00\";109.62;194.21;1268.33\n\"2018-07-27 13:30:00\";107.68;190.98;1238.5\n\"2018-07-30 13:30:00\";105.37;189.91;1219.74\n\"2018-07-31 13:30:00\";106.08;190.29;1217.26\n\"2018-08-01 13:30:00\";106.28;201.5;1220.01\n\"2018-08-02 13:30:00\";107.57;207.39;1226.15\n\"2018-08-03 13:30:00\";108.04;207.99;1223.71\n\"2018-08-06 13:30:00\";108.13;209.07;1224.77\n\"2018-08-07 13:30:00\";108.88;207.11;1242.22\n\"2018-08-08 13:30:00\";109.49;207.25;1245.61\n\"2018-08-09 13:30:00\";109.67;208.88;1249.1\n\"2018-08-10 13:30:00\";109;207.53;1237.61\n\"2018-08-13 13:30:00\";108.21;208.87;1235.01\n\"2018-08-14 13:30:00\";109.56;209.75;1242.1\n\"2018-08-15 13:30:00\";107.66;210.24;1214.38\n\"2018-08-16 13:30:00\";107.64;213.32;1206.49\n\"2018-08-17 13:30:00\";107.58;217.58;1200.96\n\"2018-08-20 13:30:00\";106.87;215.46;1207.77\n\"2018-08-21 13:30:00\";105.98;215.04;1201.62\n\"2018-08-22 13:30:00\";107.06;215.05;1207.33\n\"2018-08-23 13:30:00\";107.56;215.49;1205.38\n\"2018-08-24 13:30:00\";108.4;216.16;1220.65\n\"2018-08-27 13:30:00\";109.6;217.94;1241.82\n\"2018-08-28 13:30:00\";110.26;219.7;1231.15\n\"2018-08-29 13:30:00\";112.02;222.98;1249.3\n\"2018-08-30 13:30:00\";111.95;225.03;1239.12\n\"2018-08-31 13:30:00\";112.33;227.63;1218.19\n\"2018-09-04 13:30:00\";111.71;228.36;1197\n\"2018-09-05 13:30:00\";108.49;226.87;1186.48\n\"2018-09-06 13:30:00\";108.74;223.1;1171.44\n\"2018-09-07 13:30:00\";108.21;221.3;1164.83\n\"2018-09-10 13:30:00\";109.38;218.33;1164.64\n\"2018-09-11 13:30:00\";111.24;223.85;1177.36\n\"2018-09-12 13:30:00\";111.71;221.07;1162.82\n\"2018-09-13 13:30:00\";112.91;226.41;1175.33\n\"2018-09-14 13:30:00\";113.37;223.84;1172.53\n\"2018-09-17 13:30:00\";112.14;217.88;1156.05\n\"2018-09-18 13:30:00\";113.21;218.24;1161.22\n\"2018-09-19 13:30:00\";111.7;218.37;1171.09\n\"2018-09-20 13:30:00\";113.57;220.03;1186.87\n\"2018-09-21 13:30:00\";114.26;217.66;1166.09\n\"2018-09-24 13:30:00\";114.67;220.79;1173.37\n\"2018-09-25 13:30:00\";114.45;222.19;1184.65\n\"2018-09-26 13:30:00\";113.98;220.42;1180.49\n\"2018-09-27 13:30:00\";114.41;224.95;1194.64\n\"2018-09-28 13:30:00\";114.37;225.74;1193.47\n\"2018-10-01 13:30:00\";115.61;227.26;1195.31\n\"2018-10-02 13:30:00\";115.15;229.28;1200.11\n\"2018-10-03 13:30:00\";115.17;232.07;1202.95\n\"2018-10-04 13:30:00\";112.79;227.99;1168.19\n\"2018-10-05 13:30:00\";112.13;224.29;1157.35\n\"2018-10-08 13:30:00\";110.85;223.77;1148.97\n\"2018-10-09 13:30:00\";112.26;226.87;1138.82\n\"2018-10-10 13:30:00\";106.16;216.36;1081.22\n\"2018-10-11 13:30:00\";105.91;214.45;1079.32\n\"2018-10-12 13:30:00\";109.57;222.11;1110.08\n\"2018-10-15 13:30:00\";107.6;217.36;1092.25\n\"2018-10-16 13:30:00\";111;222.15;1121.28\n\"2018-10-17 13:30:00\";110.71;221.19;1115.69\n\"2018-10-18 13:30:00\";108.5;216.02;1087.97\n\"2018-10-19 13:30:00\";108.66;219.31;1096.46\n\"2018-10-22 13:30:00\";109.63;220.65;1101.16\n\"2018-10-23 13:30:00\";108.1;222.73;1103.69\n\"2018-10-24 13:30:00\";102.32;215.09;1050.71\n\"2018-10-25 13:30:00\";108.3;219.8;1095.57\n\"2018-10-26 13:30:00\";106.96;216.3;1071.47\n\"2018-10-29 13:30:00\";103.85;212.24;1020.08\n\"2018-10-30 13:30:00\";103.73;213.3;1036.21\n\"2018-10-31 13:30:00\";106.81;218.86;1076.77\n\"2018-11-01 13:30:00\";105.92;222.22;1070\n\"2018-11-02 13:30:00\";106.16;207.48;1057.79\n\"2018-11-05 14:30:00\";107.51;201.59;1040.09\n\"2018-11-06 14:30:00\";107.72;203.77;1055.81\n\"2018-11-07 14:30:00\";111.96;209.95;1093.39\n\"2018-11-08 14:30:00\";111.75;208.49;1082.4\n\"2018-11-09 14:30:00\";109.57;204.47;1066.15\n\"2018-11-12 14:30:00\";106.87;194.17;1038.63\n\"2018-11-13 14:30:00\";106.94;192.23;1036.05\n\"2018-11-14 14:30:00\";104.97;186.8;1043.66\n\"2018-11-15 14:30:00\";107.28;191.41;1064.71\n\"2018-11-16 14:30:00\";108.29;193.53;1061.49\n\"2018-11-19 14:30:00\";104.62;185.86;1020\n\"2018-11-20 14:30:00\";101.71;176.98;1025.76\n\"2018-11-21 14:30:00\";103.11;176.78;1037.61\n\"2018-11-23 14:30:00\";103.07;172.29;1023.88\n\"2018-11-26 14:30:00\";106.47;174.62;1048.62\n\"2018-11-27 14:30:00\";107.14;174.24;1044.41\n\"2018-11-28 14:30:00\";111.12;180.94;1086.23\n\"2018-11-29 14:30:00\";110.19;179.55;1088.3\n\"2018-11-30 14:30:00\";110.89;178.58;1094.43\n\"2018-12-03 14:30:00\";112.09;184.82;1106.43\n\"2018-12-04 14:30:00\";108.52;176.69;1050.82\n\"2018-12-06 14:30:00\";109.19;174.72;1068.73\n\"2018-12-07 14:30:00\";104.82;168.49;1036.58\n\"2018-12-10 14:30:00\";107.59;169.6;1039.55\n\"2018-12-11 14:30:00\";108.59;168.63;1051.75\n\"2018-12-12 14:30:00\";109.08;169.1;1063.68\n\"2018-12-13 14:30:00\";109.45;170.95;1061.9\n\"2018-12-14 14:30:00\";106.03;165.48;1042.1\n\"2018-12-17 14:30:00\";102.89;163.94;1016.53\n\"2018-12-18 14:30:00\";103.97;166.07;1028.71\n\"2018-12-19 14:30:00\";103.69;160.89;1023.01\n\"2018-12-20 14:30:00\";101.51;156.83;1009.41\n\"2018-12-21 14:30:00\";98.23;150.73;979.54\n\"2018-12-24 14:30:00\";94.13;146.83;976.22\n\"2018-12-26 14:30:00\";100.56;157.17;1039.46\n\"2018-12-27 14:30:00\";101.18;156.15;1043.88\n\"2018-12-28 14:30:00\";100.39;156.23;1037.08\n\"2018-12-31 14:30:00\";101.57;157.74;1035.61\n\"2019-01-02 14:30:00\";101.12;157.92;1045.85\n\"2019-01-03 14:30:00\";97.4;142.19;1016.06\n\"2019-01-04 14:30:00\";101.93;148.26;1070.71\n\"2019-01-07 14:30:00\";102.06;147.93;1068.39\n\"2019-01-08 14:30:00\";102.8;150.75;1076.28\n\"2019-01-09 14:30:00\";104.27;153.31;1074.66\n\"2019-01-10 14:30:00\";103.6;153.8;1070.33\n\"2019-01-11 14:30:00\";102.8;152.29;1057.19\n\"2019-01-14 21:00:01\";102.05;150;1044.69", "googleSpreadsheetKey": false, "googleSpreadsheetWorksheet": false } };/*
// Sample of extending options:
Highcharts.merge(true, options, {
        chart: {
            backgroundColor: "#bada55"
        },
        plotOptions: {
            series: {
                cursor: "pointer",
                events: {
                    click: function(event) {
                        alert(this.name + " clicked\n" +
                              "Alt: " + event.altKey + "\n" +
                              "Control: " + event.ctrlKey + "\n" +
                              "Shift: " + event.shiftKey + "\n");
                    }
                }
            }
        }
});
*/
                    //new Highcharts.Chart("highcharts-95272cde-65ba-45f7-8150-cf44c2792f35", options);
                }
            }
        })();
    </script>
</div>

@section fluid {
<div id="graficas" class="d-none">

    <div class="card mt-3">
        <div class="card-header">
            Consumos - Por dias
        </div>
        <div class="card-body">
            <div id="grafica4" style="width:100%; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            Consumos - Por Columnas
        </div>
        <div class="card-body">
            <div id="grafica1" style="width:100%; height: 800px; margin: 0 auto"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-xl-6 " id="graTorta">
            <div class="card mt-3">
                <div class="card-header">
                    Porcentaje de consumos - Torta
                </div>
                <div class="card-body">
                    <div id="grafica2" style="width:100%; height: 800px; margin: 0 auto"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-xl-6" id="graMaxMin">

            <div class="card mt-3">
                <div class="card-header">
                    Maximos y Minimos de consumo - Diamante
                </div>
                <div class="card-body">
                    <div id="grafica3" style="width:100%; height: 800px; margin: 0 auto"></div>
                </div>
            </div>

        </div>

    </div>


</div>
}

<div id="div_mje" class="alert alert-info d-none">
    No se encuentran registros para ese rango de fechas
</div>

<div id="modal_cargando" class="modal" backdrop="static" keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Por favor espere, cargando datos...</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seleccionar fronteras</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <table id="tblBoundaries" class="tblBoundaries table table-sm small hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Código</th>
                                <th>Frontera</th>
                                <th>Activa?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in boundary.OrderBy(m => m.name))
                            {
                            <tr>
                                <td>@Html.DisplayFor(model => item.id)</td>
                                <td>@Html.DisplayFor(model => item.code)</td>
                                <td>@Html.DisplayFor(model => item.name)</td>
                                <td>@ViewHelpers.IsActive(item.is_active)</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsbody {

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/dataTablesScript")
    <script src="@Url.Content("~")Content/vendor/datatablesCHK/dataTables.checkboxes.min.js"></script>
    <script>
        let modalCargando = $('#modal_cargando');

        $(function init() {
            $("#fechaIni").prop("value", "2016-01-01")
            $("#fechaFin").prop("value", "2017-05-01")
        })

        function Graficar(form, e) {
            e.preventDefault();

            $('#graficas').addClass('d-none');
            $('#div_mje').addClass('d-none');

            var fronteras = table.column(0).checkboxes.selected()
            if (fronteras.length == 0) {
                $("#success-alert").fadeTo(1000, 500).slideUp(500, function () {
                    $("#success-alert").slideUp(500);
                })
                return
            }

            numFront = fronteras.length
            fronteras = fronteras.join("/")

            let json = {
                opcFecha: $("input:radio[name=rangeFechas]:checked").val(),
                fechaIni: $("#fechaIni").val(),
                fechaFin: $("#fechaFin").val(),
                annoIni: $("#annoIni").val(),
                annoFin: $("#annoFin").val(),
                fronteras: fronteras
            }

            modalCargando.modal({ backdrop: 'static', keyboard: false }); //dale
            $.get('/Measures/GetByDate', json, function (resp) {

                if (resp.length > 0) {

                    $('#graficas').removeClass('d-none');
                    
                    Grafica1_columnas(resp, numFront)
                    Grafica2_torta(resp, numFront)
                    Grafica3_diamante(resp, numFront)
                    Grafica4_stock(resp, numFront)

                } else {
                    //SIN DATOS
                    $('#div_mje').removeClass('d-none');
                }
                modalCargando.modal('hide');
            }, 'json');
        }

        $(function () {

            $("#success-alert").hide();

            table = $('#tblBoundaries').DataTable(
            {
                    "language": {
                        "url": "@Url.Content("~")Scripts/es-CO.txt"
                    },
                    "scrollCollapse": true,
                    "paging": false,
                    "pageLength": 20,
                    'initComplete': function (settings) {
                        var api = this.api();
                        api.cells(
                            api.rows(function (idx, data, node) {
                                return (data[1] === 'FRT02444' || data[1] === 'FRT02455' ) ? true : false;
                            }).indexes(),
                            0
                        ).checkboxes.select();
                    },
                    'columnDefs': [
                        {
                            'targets': 0,
                            'checkboxes': {
                                'selectRow': true
                            }
                        }
                    ],
                     'select': {
                         'style': 'multi'
                    }
                }
            );
            table.order([1, 'asc']).draw()

            $("input[name=rangeFechas]").on("change", function () {

                let optRango = $("input:radio[name=rangeFechas]:checked").val();

                $("#fechaIni").prop("disabled", false)
                $("#fechaFin").prop("disabled", false)

                $("#annoIni").prop("disabled", true)
                $("#annoFin").prop("disabled", true)

                switch (optRango) {
                    case "rf":
                        $("#fechaIni").prop("type", "date")
                        $("#fechaFin").prop("type", "date")
                        break;
                    case "rm":
                        $("#fechaIni").prop("type", "month")
                        $("#fechaFin").prop("type", "month")
                        break;
                    case "ra":
                        $("#fechaIni").prop("disabled", true)
                        $("#fechaFin").prop("disabled", true)
                        $("#annoIni").prop("disabled", false)
                        $("#annoFin").prop("disabled", false)
                        break;
                }

            })

        })

        Grafica1_columnas = (data, numFront) => {

            let d = new Array()
            let dri = new Array()

            for (i = 0; i < data.length; i++) {

                //ACTIVA

                let driData = new Array

                d.push({
                    "name": data[i].boundary.name,
                    "drilldown": data[i].boundary.id,
                    "y": data[i].sumatoria_activa
                })

                for (f = 0; f < data[i].measure_activa.length; f++) {
                    driData.push([data[i].measure_activa[f].measure_date, data[i].measure_activa[f].measure])
                }

                dri.push({
                    "name": data[i].boundary.name,
                    "id": data[i].boundary.id,
                    "data": driData
                })

                //REACTIVA
                if (numFront == 1) {

                    let driData_R = new Array

                    d.push({
                        "name": data[i].boundary.name + " - REACTIVA",
                        "drilldown": data[i].boundary.id + "-r",
                        "y": data[i].sumatoria_reactiva
                    })

                    for (f = 0; f < data[i].measure_reactive.length; f++) {
                        driData_R.push([data[i].measure_reactive[f].measure_date, data[i].measure_reactive[f].measure])
                    }

                    dri.push({
                        "name": data[i].boundary.name + " - REACTIVA",
                        "id": data[i].boundary.id + "-r",
                        "data": driData_R
                    })

                }
            }

            Highcharts.chart('grafica1', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Informe de Mediciones de Fronteras (' + $("#fechaIni").val() + ' - ' + $("#fechaFin").val() + ')'
                },
                subtitle: {
                    text: 'Información basada en cosnumo por dia - frontera, de clic en el valor para ver mas detalladamente la medición <br> (Si la frontera no aparece es porque tiene de valor 0)'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Total consumo por frontera'
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y: .1f}'
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y: .2f}</b> <br />'
                },
                "series": [
                    {
                        "name": "Fronteras",
                        "colorByPoint": true,
                        "data": d
                    }
                ],
                "drilldown": {
                    "series": dri
                }
            });
        }

        Grafica2_torta = (data, numFront) => {

            let total = 0

            // ACTIVA
            for (i = 0; i < data.length; i++) {
                total += data[i].sumatoria_activa
            }

            // REACTIVA
            if (numFront == 1) { total += data[0].sumatoria_reactiva }

            let d = new Array()

            //ACTIVA
            for (i = 0; i < data.length; i++) {

                let por = intlRound(((data[i].sumatoria_activa * 100) / total))

                d.push([
                    data[i].boundary.name,
                    parseFloat(por),
                    false])
            }

            // REACTIVA
            if (numFront == 1) {

                let por_R = intlRound(((data[0].sumatoria_reactiva * 100) / total))

                d.push([
                    data[0].boundary.name + ' - REACTIVA',
                    parseFloat(por_R),
                    false])
            }

            Highcharts.chart('grafica2', {

                title: {
                    text: 'Porcentaje de consumos - Torta (' + $("#fechaIni").val() + ' - ' + $("#fechaFin").val() + ')'
                },
                series: [{
                    type: 'pie',
                    allowPointSelect: true,
                    keys: ['name', 'y', 'selected', 'sliced'],
                    data: d,
                    showInLegend: true
                }]
            });
        }

        Grafica3_diamante = (data, numFront) => {

            let nombres = new Array()
            let minimos = new Array()
            let maximos = new Array()

            for (i = 0; i < data.length; i++) {
                nombres.push(data[i].boundary.name)
                maximos.push(data[i].boundary.max_active)
                minimos.push(data[i].boundary.min_active)
            }

            if (numFront == 1) {
                nombres.push(data[0].boundary.name + ' - REACTIVA')
                maximos.push(data[0].boundary.max_reactive)
                minimos.push(data[0].boundary.min_reactive)
            }

            Highcharts.chart('grafica3', {

                chart: {
                    polar: true,
                    type: 'line'
                },

                title: {
                    text: 'Minimos vs Maximos (' + $("#fechaIni").val() + ' - ' + $("#fechaFin").val() + ')',
                    x: -80
                },

                pane: {
                    size: '90%'
                },

                xAxis: {
                    categories: nombres,
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },

                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0
                },

                tooltip: {
                    shared: true,
                    pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.2f}</b><br/>'
                },

                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    y: 70,
                    layout: 'vertical'
                },

                series: [{
                    name: 'Valor Minimo',
                    data: minimos,
                    pointPlacement: 'on'
                }, {
                    name: 'Valor Maximo',
                    data: maximos,
                    pointPlacement: 'on'
                }]

            });

        }

        Grafica4_stock = (data, numFront) => {

            var maxRate = {}, minRate = {}
            var seriesOptions = [];

            for (i = 0; i < data.length; i++) {

                let dataAux = []
                let fechaMilSeg = 0

                for (f = 0; f < data[i].measure_activa.length; f++) {

                    let dateForm = data[i].measure_activa[f].measure_date.split("/")
                    let tmpDate = new Date(dateForm[2] + "-" + dateForm[1] + "-" + dateForm[0])
                    //let tmpDate = new Date(dateForm[0])
                    fechaMilSeg = tmpDate.getTime();

                    dataAux.push([fechaMilSeg, data[i].measure_activa[f].measure])

                }

                seriesOptions.push({ name: data[i].boundary.name, data: dataAux, showInNavigator: false})

            }

            if (numFront == 1) {

                var maxRate =
                {
                    value: data[0].boundary.max_measure_active,
                    color: 'red',
                    dashStyle: 'shortdash',
                    width: 3,
                    label: {
                        text: `Rango Maximo (${ data[0].boundary.max_measure_active })`
                    }
                }

                var minRate =
                {
                    value: data[0].boundary.min_measure_active,
                    color: 'green',
                    dashStyle: 'shortdash',
                    width: 3,
                    label: {
                        text: `Rango Minimo (${data[0].boundary.min_measure_active})`
                    }
                }

                let dataAux_R = []
                let fechaMilSeg_R = 0

                for (f = 0; f < data[0].measure_reactive.length; f++) {

                    let dateForm = data[0].measure_reactive[f].measure_date.split("/")
                    let tmpDate_R = new Date(dateForm[2] + "-" + dateForm[1] + "-" + dateForm[0])
                    fechaMilSeg_R = tmpDate_R.getTime();

                    dataAux_R.push([fechaMilSeg_R, data[0].measure_reactive[f].measure])

                }

                seriesOptions.push({ name: data[0].boundary.name + ' - REACTIVA', data: dataAux_R, showInNavigator: false})

            }

            Highcharts.stockChart('grafica4', {

                rangeSelector: {
                    selected: 1
                },

                yAxis: {
                    labels: {
                        formatter: function () {
                            return (this.value > 0 ? ' + ' : '') + this.value;
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }, maxRate, minRate]
                },

                legend: {
                    enabled: true
                },

                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                    valueDecimals: 2,
                    split: true
                },

                series: seriesOptions
            });
        }

        function intlRound(numero, decimales = 2, usarComa = false) {
            var opciones = {
                maximumFractionDigits: decimales,
                useGrouping: false
            };
            usarComa = usarComa ? "es" : "en";
            let ret = new Intl.NumberFormat(usarComa, opciones).format(numero);
            return parseFloat(ret)
        }

        Highcharts.setOptions({
            lang: {
                months: [
                    'Enero', 'Febrero', 'Marzo', 'Abril',
                    'Mayo', 'Junio', 'Julio', 'Agosto',
                    'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                ],
                weekdays: [
                    'Domingo', 'Lunes', 'Martes', 'Miércoles',
                    'Jueves', 'Viernes', 'Sábado'
                ]
            }
        });

    </script>
}