﻿@model CGM.Models.MyModels.ParamConditional

@{
    ViewBag.Title = "Crear";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Añadir nuevo </h1>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")


<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>Create</h2></div>
        <div class="card-body">

		@using (Html.BeginForm()) 
				{
			@Html.AntiForgeryToken()
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="row">
				<div class="col-lg-12">
							<div class="form-group-material">
		                             
											@Html.EditorFor(model => model.Class, "", new { htmlAttributes = new { @class = "input-material"} })
														@Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger small" })
														@Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "label-material" })
								</div>
							<div class="form-group-material">
		                             
											@Html.EditorFor(model => model.type, "", new { htmlAttributes = new { @class = "input-material"} })
														@Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger small" })
														@Html.LabelFor(model => model.type, htmlAttributes: new { @class = "label-material" })
								</div>
							<div class="form-group-material">
		                             
											@Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "input-material"} })
														@Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
														@Html.LabelFor(model => model.name, htmlAttributes: new { @class = "label-material" })
								</div>
							<div class="form-group-material">
		                             
											@Html.EditorFor(model => model.operatorId, "", new { htmlAttributes = new { @class = "input-material"} })
														@Html.ValidationMessageFor(model => model.operatorId, "", new { @class = "text-danger small" })
														@Html.LabelFor(model => model.operatorId, htmlAttributes: new { @class = "label-material" })
								</div>
							<div class="form-group-material">
		                             
											@Html.EditorFor(model => model.value, "", new { htmlAttributes = new { @class = "input-material"} })
														@Html.ValidationMessageFor(model => model.value, "", new { @class = "text-danger small" })
														@Html.LabelFor(model => model.value, htmlAttributes: new { @class = "label-material" })
								</div>
				</div>
		</div>
        @Html.Partial("_BtnSubmit", "Crear")
		}
		</div>
    </div>
</div>

