﻿@model IEnumerable<CGM.Models.MyModels.ParamConditionalsFull>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Condicionales";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                Cláusulas condicionales
            </h1>
            <hr />
        </div>
    </div>
</header>
<p>Para añadir nuevos elementos, dirigirse directamente a la página del formulario.</p>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2> Listado</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@modelName" class="table">
                        <thead>
                            <tr>
                                <th><label>Clase </label></th>
                                <th><label>Tipo </label></th>
                                <th><label>Id </label></th>
                                <th><label>Nombre </label></th>
                                <th><label>Condición Id</label></th>
                                <th><label>Condición nombre</label></th>
                                <th><label>Condición tipo</label></th>
                                <th><label>Operador</label></th>
                                <th><label>Valor</label></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            foreach (var conditions in item.conditionals)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Class)</td>
                                <td>@Html.DisplayFor(modelItem => item.type)</td>
                                <td>@Html.DisplayFor(modelItem => item.id)</td>
                                <td>@Html.DisplayFor(modelItem => item.name)</td>
                                <td>@conditions.Id</td>
                                <td>@conditions.name</td>
                                <td>@conditions.type</td>
                                <td>@conditions.operatorId</td>
                                <td>@conditions.value</td>
                                <td>@Html.ActionLink(" ", "Delete", new { id = item.id, condId = conditions.Id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Eliminar", onclick = "return confirm('¿Confirma eliminar este elemento?');" })</td>
                            </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }
                }
            );
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


