﻿@model IEnumerable<CGM.Models.CGMModels.AlarmFire>
@using CGM.Models.CGMModels

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Alarmas disparadas";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Alarmas", "Alarmas disparadas", Url.Content("~"))

<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                <i class="fa fa-bullhorn mr-2 text-danger">))</i>
                Alarmas disparadas
            </h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>
@if (Model.Count() > 0)
{

    foreach (var alarmFireGroup in Model.GroupBy(a => a.Alarm))
    {
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div>
                        <div class="card-header">
                            <h4>Alarma: @Html.ActionLink(alarmFireGroup.Key.name, "Details", new { controller = "Alarms", @id = @alarmFireGroup.Key.id }) </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            @if (alarmFireGroup.Key.alarmCase_id == 0) // Valor excedido
                            {
                                @case0(alarmFireGroup.ToList())
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    @ViewHelpers.NoElements()
}



@helper case0(List<AlarmFire> alarmFires)
{
    <table class="table alarmCase0s small">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Report_Inform.Boundary.name)</th>
                <th>@Html.DisplayNameFor(model => model.firedOn)</th>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.isActive)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in alarmFires.OrderBy(a => a.firedOn))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Report_Inform.Boundary.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.firedOn)</td>
                    <td><span data-utcdate="@item.firedOn.ToString("s", System.Globalization.CultureInfo.InvariantCulture)"></span></td>
                    <td>@Html.DisplayFor(modelItem => item.isActive)</td>
                    <td>
                        @Ajax.ActionLink(" ", "Details","AlarmFires", new { id = item.id, display = 0 }, new AjaxOptions()
                                                              {
                                                                  HttpMethod = "GET",
                                                                  UpdateTargetId = "detailsWrapper"
                                                              }, new { @class = "fa fa-list",title = "Detalles", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div id="detailsWrapper"></div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    @Scripts.Render("~/bundles/tablebuttons")
    @Scripts.Render("~/bundles/highcharts")
    <script>
        $(document).ready(function () {
            table = $('table').DataTable(
                {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }
                }
            );
            table.order([[1, 'desc']])
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


