﻿
@{
    ViewBag.Title = "Plataforma de gestión";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-user"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Fronteras</strong><span>Activas</span>
                        <div class="count-number">@ViewBag.ActiveBoundaries</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-padnote"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Fronteras</strong><span>No activas</span>
                        <div class="count-number">@ViewBag.NonActiveBoundaries</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-check"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Medidores</strong><span>Registrados</span>
                        <div class="count-number">@ViewBag.Meters</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-bill"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Alarmas disparadas</strong><span>Últimos dos días</span>
                        <div class="count-number">@ViewBag.AlarmsFired</div>
                    </div>
                </div>
            </div>
            @*<!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-list"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Informes </strong><span>Disponibles del último mes</span>
                        <div class="count-number">15</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-list-1"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Reintentos </strong><span>de lectura hoy</span>
                        <div class="count-number">10</div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>

<section class="">
    <div class="row d-flex">
        <div class="col">
            <div class="card" style="padding:20px">
                <div class="card-body">
                    <h2 class="display h2">Inicio</h2>


                    @if (USER.CLIENT == "ASC")
                    {
                        <h4>Bienvenido al Centro de Medida del Comercializador de Red</h4>
                        <br />
                        <p style="margin: 0px 20px">
                            Por medio de este asistente se administra el Centro de Gestión de Medida (CGM) de ASC Ingeniería S.A. E.S.P.,
                            y le permitirá gestionar el envío de reportes de medidas al Administrador de Sistemas de Intercambios comerciales XM S.A E.S.P.
                        </p>
                    }
                    @if (USER.CLIENT == "CEDENAR")
                    {
                        <h4>Bienvenido al Centro de Medida del Operador de Red</h4>
                        <br />
                        <p style="margin: 0px 20px">
                            Por medio de este asistente se administra el Centro de Gestión de Medida (CGM) de CEDENAR S.A. E.S.P.,
                            y le permitirá gestionar el envío de reportes de medidas al Administrador de Sistemas de Intercambios comerciales XM S.A E.S.P.
                        </p>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Income-->
            <div class="card income text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h4>Ir a procesos activos</h4>
                            <p class="text-gray">Asistente de visualización de adquisición de medidas</p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4"><i class="fa fa-3x fa-wifi"></i></div>
                        <div class="col"><a class="btn btn-success btn-block btn" href="@Url.Content("~")Telemetry/Monitor">Monitor</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="statistics">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-4">
                <div class="card">
                    <h2 class="display h4">Adquisición (Energía Activa): @(DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy"))</h2>
                    <div id="piechart1" style="margin: 10px"></div>
                </div>
            </div>
            <div class="col-lg-4">
                @*@{ float }*@
                <div class="card">
                    <h2 class="display h4">Adquisición (Energía Activa): @(DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy"))</h2>
                    <div id="piechart2" style="margin: 10px"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- User ActiVity-->
                <div class="card user-activity">
                    <h2 class="display h4">Adquisiciones (Energía activa)</h2>
                    <h3 class="h4 display">@DateTime.Now.AddDays(-1).ToLongDateString()</h3>
                    <div class="progress">
                        @{float daybefore1percent = ViewBag.boundariesReadyDaysBefore1 * 100 / ViewBag.ActiveBoundaries;}
                        <div role="progressbar" style="width: @(daybefore1percent)%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar bg-primary"></div>
                    </div>
                    <div class="page-statistics d-flex justify-content-between">

                        <div class="page-statistics-left"><span>Faltantes</span><strong>@(ViewBag.ActiveBoundaries - ViewBag.boundariesReadyDaysBefore1)</strong></div>
                        <div class="page-statistics-right"><span>Porcentaje</span><strong>@(daybefore1percent)%</strong></div>
                    </div>
                    <hr />
                    <h3 class="h4 display">@DateTime.Now.AddDays(-2).ToLongDateString()</h3>
                    <div class="progress">
                        @{float daybefore2percent = ViewBag.boundariesReadyDaysBefore2 * 100 / ViewBag.ActiveBoundaries;}
                        <div role="progressbar" style="width: @(daybefore2percent)%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar bg-primary"></div>
                    </div>
                    <div class="page-statistics d-flex justify-content-between">
                        <div class="page-statistics-left"><span>Faltantes</span><strong>@(ViewBag.ActiveBoundaries - ViewBag.boundariesReadyDaysBefore2)</strong></div>
                        <div class="page-statistics-right"><span>Porcentaje</span><strong>@(daybefore2percent )%</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section scriptsbody
{
    <script src="@Url.Content("~")Content/vendor/highcharts/highcharts.js"></script>
    <script src="@Url.Content("~")Scripts/chartsCustom.js"></script>
    
    <script>
        // ------------------------------------------------------- //
        // Jquery Progress Circle
        // ------------------------------------------------------ //
        //var progress_circle_value = 30
    </script>

    <script>
        // ------------- Pie chart ------------------- //

        // Se hace la adquisición de los datos para el PieChart
        var data1 = JSON.parse(("@ViewBag.data1").replace(/&quot;/g, '"'))
        var data2 = JSON.parse(("@ViewBag.data2").replace(/&quot;/g, '"'))
        Chart_Pie_Summary(data1, 'piechart1')
        Chart_Pie_Summary(data2, 'piechart2')


    </script>

}
