﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all,follow">

    <title>@ViewBag.Title</title>
    <script>var ROOT = '@Url.Content("~")';</script>

    <link rel="icon" href="@Url.Content("~")Images/LogoASC.ico" type="image/x-icon">
    @Styles.Render("~/Content/vendor")
    @Styles.Render("~/Content/css")
    <link href="~/Content/css/custom.css?v=1.04" rel="stylesheet" />

    @RenderSection("styles", required: false)
    @RenderSection("scriptshead", required: false)

</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <!-- JavaScript files-->
    @*No tuve tiempo para ver porqué solamente funcionaba en ese orden*@

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery1")
    @Scripts.Render("~/bundles/jquery2")
    @Scripts.Render("~/bundles/otherJs1")
    @Scripts.Render("~/bundles/otherJs2")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Main File-->
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Content/js/front.js"></script>

    @*<script src="~/Content/vendor/jquery/jquery.min.js"></script>
            <script src="~/Content/vendor/popper.js/umd/popper.min.js"></script>
            <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/Content/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
            <script src="~/Content/vendor/jquery.cookie/jquery.cookie.js"></script>
            <script src="~/Content/vendor/jquery-validation/jquery.validate.min.js"></script>
            <script src="~/Content/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        @*<script src="~/Scripts/CMORScripts.js"></script>*@
    @*<script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            document.body.style.zoom = "90%"
        </script>*@

    @RenderSection("scriptsbody", required: false)


</body>
</html>
