﻿
@{
    ViewBag.Title = "Configuración General";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("General", "Configuración", Url.Content("~"))
<header>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="fa fa-2x fa-gears pr-2 pl-2"></div>
                <h1 class="display">
                    Configuración
                </h1>
            </div>
        </div>
    </div>
</header>
@Html.Partial("_TempResult")


<!-- Modal for mail update -->
<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mailModalLabel">Cambiar configuración de correo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                @using (Html.BeginForm("MailConfig", "Settings"))
                {
                    <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label">Contraseña actual:</label>
                                <input type="password" required class="form-control" name="passcurrent">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Repita contraseña actual:</label>
                                <input type="password" required class="form-control" name="passcurrent2">
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="col-form-label">Nuevo correo:</label>
                                <input type="email" required class="form-control" name="mailnew" value="@(ViewBag.CorreoCGM)">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Nueva contraseña:</label>
                                <input type="password" required class="form-control" name="passnew"> 
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>
                }
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3>General</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label class="bold form-control-label">Correo de aplicación</label>
                            <span class="text-xsmall text-gray help-block-none">Dirección de correo electrónico usada para enviar notificaciones a los usuarios.</span>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" disabled required value="@ViewBag.CorreoCGM" name="CorreoCGM">
                        </div>
                        <div class="col-sm-5">
                            <label class="bold form-control-label"></label>
                        </div>
                        <div class="col-sm-7">
                            <button type="button" class="btn btn-secondary small" data-toggle="modal" data-target="#mailModal">Cambiar configuración</button>
                        </div>
                    </div>
                    <hr />
                    @Html.Partial("_BtnSubmit", "Guardar")
                </div>
            </div>
        </div>
    </div>
}

<script>
    $("#Sobreescritura").prop("checked", ("@ViewBag.Sobreescritura").toLowerCase() == 'true')

    $(function () {
        if (("@ViewBag.newconfig").toLowerCase() == 'true') {
           $.ajax({
                url: "@Url.Content("~")Telemetry/Settings/NewConfigActions",
                type: 'POST',
                success: function (result) {
                   console.log(result)
                }
            })
        }
    })
</script>