﻿@model CGM.Areas.Telemetry.Models.Meter

@{
    ViewBag.Title = "Details";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Detalles</h1>
        </div>
    </div>
    <hr />
</header>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Meter</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Model_Meter.brand)</td>
                                <th><h5>@Html.DisplayFor(model => model.Model_Meter.brand)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.serial)</td>
                                <th><h5>@Html.DisplayFor(model => model.serial)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.multiplicative_factor)</td>
                                <th><h5>@Html.DisplayFor(model => model.multiplicative_factor)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.info)</td>
                                <th><h5>@Html.DisplayFor(model => model.info)</h5></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    <button type="submit" class="btn btn-info edit">
        <div class="fa fa-pencil"></div>
        @Html.ActionLink("Editar", "Edit", "Meter", new { id = Model.id }, new { @class = "", @style = "text-decoration: none; color:white", id = "nuevoElemento" })
    </button>

    <button type="button" class="btn btn-default back">
        <div class="fa fa-arrow-left "></div>
        Volver
    </button>

<p />


