﻿@model CGM.Areas.SurveyApp.Models.SurveyTemplate

@{
    ViewBag.Title = "Editar";
}

<h2>Actualizando plantilla de encuesta</h2>

@using (Html.BeginForm("Edit", "SurveyTemplates", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model=>model.Id)    
    @Html.EditorFor(model => model)
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
@section scriptsbody{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        $(function () {
            $("#url_Logo").fileinput({
                showUpload: false,
                initialPreview: [
                    "<img src='@String.Format("{0}{1}",Url.Content("~"),Model.url_Logo)' class='file-preview-image' alt='Desert' title='Desert' width=100px>"
                ],
                initialPreviewConfig: [
                {
                    width: '120px',

                }]

            });
            $("#url_Image").fileinput({
                showUpload: false,
                initialPreview: [
                    "<img src='@String.Format("{0}{1}",Url.Content("~"),Model.url_Image)' class='file-preview-image' alt='Desert' title='Desert' width=100px>"
                ],
                initialPreviewConfig: [
                {
                    width: '120px',

                }]

            });
        })
    </script>
}
