﻿
@{
    ViewBag.Title = "QR";
    Layout = "~/Views/Shared/_LayoutQR.cshtml";
}

<h2>QR</h2>

@section scriptsbody{
    <script>
        $('#qrcodeCanvas').qrcode({
            text: "Dali hermosa te amo..."
        });
    </script>
}


