﻿@model CGM.Models.CGMModels.Boundary

@{
    ViewBag.Title = "Crear";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Añadir nuevo </h1>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header mb-2"><h2>Crear Frontera</h2></div>
                <div class="card-body">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group-material m-1">
                                @Html.LabelFor(model => model.report_type_id, htmlAttributes: new { @class = "label-material text-secondary", required = "required" })
                                @Html.DropDownList("report_type_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                                @Html.ValidationMessageFor(model => model.report_type_id, "", new { @class = "text-danger small" })
                            </div>
                            <div class="form-group-material m-1">
                                @Html.EditorFor(model => model.code, "", new { htmlAttributes = new { @class = "input-material", required = "required" } })
                                @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger small" })
                                @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "label-material" })
                            </div>

                            <div class="form-group-material m-1">
                                @Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "input-material", required = "required" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
                                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "label-material" })
                            </div>

                            <div class="form-group-material m-1">
                                @Html.EditorFor(model => model.real_name, "", new { htmlAttributes = new { @class = "input-material" } })
                                @Html.ValidationMessageFor(model => model.real_name, "", new { @class = "text-danger small" })
                                @Html.LabelFor(model => model.real_name, htmlAttributes: new { @class = "label-material" })
                            </div>

                            <div class="form-group-material m-1">
                                @Html.LabelFor(model => model.source_id, htmlAttributes: new { @class = "label-material text-secondary", required = "required" })
                                @Html.DropDownList("source_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                                @Html.ValidationMessageFor(model => model.source_id, "", new { @class = "text-danger small" })
                            </div>



                            <div class="form-group-material m-1">
                                @Html.LabelFor(model => model.id_priority, htmlAttributes: new { @class = "label-material text-secondary", required = "required" })
                                @Html.DropDownList("id_priority", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                                @Html.ValidationMessageFor(model => model.report_type_id, "", new { @class = "text-danger small" })
                            </div>


                            <div class=" form-group-material mt-3 mb-4">
                                <div class="i-checks">
                                    <input id="is_active" name="is_active" type="checkbox" value="true" class="form-control-custom">
                                    <label for="is_active">Activa?</label>
                                </div>
                            </div>

                            <div class=" form-group-material mt-3 mb-4">
                                <div class="i-checks">
                                    <input id="has_backup2" name="has_backup2" type="checkbox" value="true" class="form-control-custom">
                                    <label for="has_backup2">Reporta respaldo?</label>
                                </div>
                            </div>

                            <div class="form-group-material m-1">
                                @Html.EditorFor(model => model.commentary, "", new { htmlAttributes = new { @class = "input-material" } })
                                @Html.ValidationMessageFor(model => model.commentary, "", new { @class = "text-danger small" })
                                @Html.LabelFor(model => model.commentary, htmlAttributes: new { @class = "label-material" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header mb-2">
                    <h5>Rangos permitidos</h5>

                </div>
                <div class="card-body">
                    <div class="col">

                        <div class="mb-5 energychkbox">
                            <div class="i-checks">
                                <input id="energychk0" type="checkbox" value="0" checked="" class="form-control-custom energychk" name="energychk">
                                <label class="text-bold" for="energychk0">Energía activa (kWh)</label>
                            </div>
                        </div>

                        <div id="energyRange0">
                            <div id="slider0" class="col sliderEnergy"></div>
                            <div class="row mt-4 valueboxes">
                                <div class="col">
                                    <label class="small">Valor mínimo</label>
                                    <input type="number" id="input-with-keypress-00" class="form-control" name="min_active">
                                </div>
                                <div class="col">
                                    <label class="small">Valor máximo</label>
                                    <input type="number" id="input-with-keypress-10" class="form-control" name="max_active">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <label class="text-secondary">Max.</label>
                                    <button type=button value="0" class="btn btn-success btn-xs updateSlider">20</button>
                                    <button type=button value="0" class="btn btn-success btn-xs updateSlider">100</button>
                                    <button type=button value="0" class="btn btn-success btn-xs updateSlider">500</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="col">
                        <div class="mb-5 mt-5 energychkbox">
                            <div class="i-checks">
                                <input id="energychk1" type="checkbox" value="1" checked="" class="form-control-custom energychk" name="energychk">
                                <label class="text-bold" for="energychk1">Energía reactiva (kVARh)</label>
                            </div>
                        </div>
                        <div id="energyRange1">
                            <div id="slider1" class="col sliderEnergy"></div>
                            <div class="row mt-4">
                                <div class="col">
                                    <label class="small">Valor mínimo</label>
                                    <input type="number" id="input-with-keypress-01" class="form-control" name="min_reactive">
                                </div>
                                <div class="col">
                                    <label class="small">Valor máximo</label>
                                    <input type="number" id="input-with-keypress-11" class="form-control" name="max_reactive">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <label class="text-secondary">Max.</label>
                                    <button type=button value="1" class="btn btn-success btn-xs updateSlider">20</button>
                                    <button type=button value="1" class="btn btn-success btn-xs updateSlider">100</button>
                                    <button type=button value="1" class="btn btn-success btn-xs updateSlider">500</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    @Html.Partial("_BtnSubmit", "Guardar")

                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_BtnSubmit", "Crear")
}

@section styles{
    <link href="@Url.Content("~")Content/vendor/noUiSlider-12.1.0/nouislider.min.css" rel="stylesheet" />
}
@section scriptshead{
    <script src="@Url.Content("~")Content/vendor/noUiSlider-12.1.0/nouislider.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/noUiSlider-12.1.0/wNumb.js"></script>
}
@section scriptsbody{
    <script>
        $(".energychk").change(
            function () {
                if ($(this).prop("checked")) $("#energyRange" + $(this).val()).slideDown()
                else $("#energyRange" + $(this).val()).hide()
            }
        )

        console.log("@Html.DisplayFor(model => model.max_active)")
        console.log("@Html.DisplayFor(model => model.min_active)")
        console.log("@Html.DisplayFor(model => model.max_reactive)")
        console.log("@Html.DisplayFor(model => model.min_reactive)")
        for (var i = 0; i < 2; i++) {

            var slider = document.getElementById('slider' + i);
            var inputs = [document.getElementById('input-with-keypress-0' + i),
                document.getElementById('input-with-keypress-1' + i)];
            if (i == 0) var minmax = ["@Html.DisplayFor(model => model.min_active)", "@Html.DisplayFor(model => model.max_active)"]
            if (i == 1) var minmax = ["@Html.DisplayFor(model => model.min_reactive)", "@Html.DisplayFor(model => model.max_reactive)"]


            if (minmax.includes("")) {
                $("#energychk" + i).prop("checked", false)
                $("#energychk" + i).trigger("change");
            }

            createSlider(slider, inputs, minmax)
        }

    </script>

}