﻿@model CGM.Models.CGMModels.Boundary

@{
    ViewBag.Title = "Eliminar";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header class="no-padding-bottom"><h1 class="text-dark"><i class="fa fa-trash"></i> Realmente quiere archivar este elemento?</h1></header>
<hr class="thin bg-grayLighter" />
<div class="row">
    <div class="col-sm-4">
		<div class="card">
			<div class="card-header">
				<h4>Frontera</h4>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
                        <tbody>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Boundary_Source.source)</td>
                                <th><h4>@Html.DisplayFor(model => model.Boundary_Source.source)</h4></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Report_Type.report_type1)</td>
                                <th><h4>@Html.DisplayFor(model => model.Report_Type.report_type1)</h4></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.name)</td>
                                <th><h4>@Html.DisplayFor(model => model.name)</h4></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.real_name)</td>
                                <th><h4>@Html.DisplayFor(model => model.real_name)</h4></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.has_backup)</td>
                                <th><h4>@Html.DisplayFor(model => model.has_backup)</h4></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.is_active)</td>
                                <th><h4>@Html.DisplayFor(model => model.is_active)</h4></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.max_active)</td>
                                <th><h4>@Html.DisplayFor(model => model.max_active)</h4></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.min_active)</td>
                                <th><h4>@Html.DisplayFor(model => model.min_active)</h4></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.max_reactive)</td>
                                <th><h4>@Html.DisplayFor(model => model.max_reactive)</h4></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.min_reactive)</td>
                                <th><h4>@Html.DisplayFor(model => model.min_reactive)</h4></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.is_filed)</td>
                                <th><h4>@Html.DisplayFor(model => model.is_filed)</h4></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.commentary)</td>
                                <th><h4>@Html.DisplayFor(model => model.commentary)</h4></th>
                            </tr>

                        </tbody>
					</table>
				</div>
			</div>
		</div>
    </div>        
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">
        Eliminar
        <span class="fa fa-times"></span>
    </button>

    <button type="button" class="btn btn-default back">
        Volver
        <span class="fa fa-arrow-left "></span>
    </button>
}

<script>
    $(".back").click(function (e) {
        document.location = "@Url.Action("Index")";
    });
</script>
