﻿@model CGM.Models.CGMModels.Boundary

@{
    ViewBag.Title = "Details";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Detalles</h1>
        </div>
    </div>
    <hr />
</header>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h4>Boundary</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Boundary_Source.source)</td>
                                <th><h3>@Html.DisplayFor(model => model.Boundary_Source.source)</h3></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Report_Type.report_type1)</td>
                                <th><h3>@Html.DisplayFor(model => model.Report_Type.report_type1)</h3></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.name)</td>
                                <th><h3>@Html.DisplayFor(model => model.name)</h3></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.real_name)</td>
                                <th><h3>@Html.DisplayFor(model => model.real_name)</h3></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.has_backup)</td>
                                <th><h3>@Html.DisplayFor(model => model.has_backup)</h3></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.is_active)</td>
                                <th><h3>@Html.DisplayFor(model => model.is_active)</h3></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.max_active)</td>
                                <th><h3>@Html.DisplayFor(model => model.max_active)</h3></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.min_active)</td>
                                <th><h3>@Html.DisplayFor(model => model.min_active)</h3></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.max_reactive)</td>
                                <th><h3>@Html.DisplayFor(model => model.max_reactive)</h3></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.min_reactive)</td>
                                <th><h3>@Html.DisplayFor(model => model.min_reactive)</h3></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.is_filed)</td>
                                <th><h3>@Html.DisplayFor(model => model.is_filed)</h3></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.commentary)</td>
                                <th><h3>@Html.DisplayFor(model => model.commentary)</h3></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    <button type="submit" class="btn btn-info edit">
        Editar
        <span class="fa fa-pencil"></span>
    </button>

    <button type="button" class="btn btn-default back">
        Volver
        <span class="fa fa-arrow-left "></span>
    </button>

<p />
<script>
        $(".edit").click(function (e) {
            document.location = "@Url.Action("Edit", new { id = Model.id })";
        });

        $(".back").click(function (e) {
            document.location = "@Url.Action("Index")";
        });
</script>



