﻿@model IEnumerable<CGM.Models.CGMModels.Boundary>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Fronteras";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Mercado", "Fronteras", Url.Content("~"))

<header>
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display">Fronteras</h1>
        </div>
        <div class="col-lg-6 text-right">
                @Html.ActionLink("Alumbado público", "Create", null, new { @class = "btn btn-warning" })
                @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
        </div>
    </div>
</header>
@Html.Partial("_TempResult")

<div class="container-fluid">
    <div class="row">
        @if (Model.Any(B => B.report_type_id == 0))
        {
            <div class="col-lg-10">
                <div class="card">
                    <div>
                        <div class="card-header">
                            <h2> Generación</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tabledata small">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.code)</th>
                                        <th>@*@Html.DisplayNameFor(model => model.Boundary_Source.source)*@Fuente</th>
                                        <th>@Html.DisplayNameFor(model => model.name)</th>
                                        <th>@*@Html.DisplayNameFor(model => model.MeterMain)*@Medidor principal</th>
                                        <th>@Html.DisplayNameFor(model => model.is_active)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Where(m => m.report_type_id == 0).Select(m => m))
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.code)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Boundary_Source.source)</td>
                                            <td>@Html.DisplayFor(modelItem => item.name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Meters.Where(m => m.is_backup == false).FirstOrDefault().Model_Meter.brand)
                                                -
                                                @Html.DisplayFor(modelItem => item.Meters.Where(m => m.is_backup == false).FirstOrDefault().serial)
                                            </td>
                                            <td>
                                                @if (item.is_active == true)
                                                {
                                                    <span><i class="fa fa-check pr-1 text-success"> </i><span class="text-success"> Sí</span></span>
                                                }
                                                else
                                                {
                                                    <span><i class="fa fa-times pr-1 text-danger"> </i><span class="text-danger"> No</span></span>
                                                }
                                            </td>
                                            <td>
                                                @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_placement = "top", title = "Editar" }) &nbsp;
                                                @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_placement = "top", title = "Detalles" }) &nbsp;
                                                @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_placement = "top", title = "Archivar" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.Any(B => B.report_type_id == 1))
        {
            <div class="col-lg-10">
                <div class="card">
                    <div>
                        <div class="card-header">
                            <h2> Comercialización</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tabledata small">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.code)</th>
                                        <th>@*@Html.DisplayNameFor(model => model.Boundary_Source.source)*@Fuente</th>
                                        <th width="30%">@Html.DisplayNameFor(model => model.name)</th>
                                        <th>@*@Html.DisplayNameFor(model => model.MeterMain)*@Medidor principal</th>
                                        <th>@*@Html.DisplayNameFor(model => model.MeterMain)*@Medidor de respaldo</th>
                                        <th>@Html.DisplayNameFor(model => model.is_active)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Where(m => m.report_type_id == 1).Select(m => m))
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.code)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Boundary_Source.source)</td>
                                            <td>@Html.DisplayFor(modelItem => item.name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Meters.Where(m => m.is_backup == false).FirstOrDefault().Model_Meter.brand)
                                                -
                                                @Html.DisplayFor(modelItem => item.Meters.Where(m => m.is_backup == false).FirstOrDefault().serial)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.Meters.Where(m => m.is_backup == true).FirstOrDefault().Model_Meter.brand)
                                                -
                                                @Html.DisplayFor(modelItem => item.Meters.Where(m => m.is_backup == true).FirstOrDefault().serial)
                                            </td>
                                            <td>
                                                @if (item.is_active == true)
                                                {
                                                    <span><i class="fa fa-check pr-1 text-success"> </i><span class="text-success"> Sí</span></span>
                                                }
                                                else
                                                {
                                                    <span><i class="fa fa-times pr-1 text-danger"> </i><span class="text-danger"> No</span></span>
                                                }
                                            </td>
                                            <td>
                                                @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_placement = "top", title = "Editar" }) &nbsp;
                                                @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_placement = "top", title = "Detalles" }) &nbsp;
                                                @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_placement = "top", title = "Archivar" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scriptsbody{
    <!-- Data Tables-->
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('.tabledata').DataTable(
                {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    },
                    "columnDefs": [
                        { "width": "10%", "targets": 5 },
                        //{ "width": "10%", "targets": 6 }
                    ]
                }
            );

        });
    </script>
}


@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}

