﻿
@{
    ViewBag.Title = "Configuración General";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Mercado", "Configuración", Url.Content("~"))

<header>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="fa fa-2x fa-gears pr-2 pl-2"></div>
                <h1 class="display">
                    Configuración
                </h1>
            </div>
        </div>
    </div>
</header>
@Html.Partial("_TempResult")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3>Mercado</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label class="bold form-control-label">Usuario para envío de reportes</label>
                            <span class="text-xsmall text-gray help-block-none">Proporcionado por el administrador del mercado, es parte de las credenciales para enviar reportes de medidas.</span>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" disabled class="form-control" required value="@ViewBag.WebServiceUser" name="WebServiceUser">
                        </div>
                        <div class="col-sm-5">
                            <label class="bold form-control-label">Contraseña</label>
                        </div>
                        <div class="col-sm-7">
                            <button type="button" class="btn btn-secondary">Cambiar contraseña</button>
                        </div>
                    </div>
                    <hr />
                    @Html.Partial("_BtnSubmit", "Guardar")
                </div>
            </div>
        </div>
    </div>
}

<script>
    $("#Sobreescritura").prop("checked", ("@ViewBag.Sobreescritura").toLowerCase() == 'true')

    $(function () {
        if (("@ViewBag.newconfig").toLowerCase() == 'true') {
           $.ajax({
                url: "@Url.Content("~")Telemetry/Settings/NewConfigActions",
                type: 'POST',
                success: function (result) {
                   console.log(result)
                }
            })
        }
    })
</script>