﻿@model CGM.Models.CGMModels.Alarm

@{
    ViewBag.Title = "Crear";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Añadir nueva Alarma</h1>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")


@using (Html.BeginForm("Create", "Alarms", FormMethod.Post, new { @id = "createForm" }))
{
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header mb-2"><h2>Alarma</h2></div>
                <div class="card-body">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Medida</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("quantity_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Caso</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("alarmCase_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                                @Html.ValidationMessageFor(model => model.alarmCase_id, "", new { @class = "text-danger small" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Nombre</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">Prioridad</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("priority_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                                @Html.ValidationMessageFor(model => model.priority_id, "", new { @class = "text-danger small" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label"></label>
                            <div class="col-sm-10">
                                <div class="i-checks">
                                    <input id="isActive" type="checkbox" value="" class="form-control-custom">
                                    <label for="isActive">Activa?</label>
                                </div>
                            </div>
                        </div>
                        <input id="parameters" name="parameters" class="displaynone" />
                    </div>

                </div>
            </div>
        </div>
        <div class="card col-xl-6">
            <div class="card-header"><h2>Filtros incluidos</h2></div>
            <div class="card-body">
                <div class="row m-lg-3">
                    <div class="table-responsive">
                        <select multiple="multiple" id="selectList" name="selectList" class="searchable" style="width: 100%;">
                            @foreach (var item in ViewBag.filtros)
                            {
                                <option value='@item.Id'>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                @Html.Partial("_BtnSubmit", "Crear")
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header"><h2>Parámetros</h2></div>
    <div class="card-body">
        <form id="parametersForm">
            <div id="alarmCasesForms">
                <div id="alarmcase1" class="alarmcase">@case1()</div>
                <div id="alarmcase3" class="alarmcase"></div>
            </div>
        </form>
    </div>
</div>


@helper case1()
{
    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Medida</label>
        <div class="col-sm-10">
            @Html.DropDownList("quantity_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Valores de comparación <br><small class="text-primary"> por desarrollar</small></label>
        <div class="col-sm-10">
            <div class="i-checks">
                <input id="radioValueSource1" type="radio" value="0" checked="" name="radioValueSource" class="form-control-custom radio-custom">
                <label for="radioValueSource1">Tomar valor de cada frontera</label>
            </div>
            <div class="i-checks">
                <input id="radioValueSource2" type="radio" disabled="" value="1" name="radioValueSource" class="form-control-custom radio-custom">
                <label for="radioValueSource2">Definir rango específico (Por desarrollar)</label>
            </div>
        </div>
    </div>
    <hr />
    @*<div class="form-group row">
            <label class="col-sm-2 form-control-label">Rango</label>
            <div class="col-sm-10">
                <div id="energyRange0">
                    <div id="slider0" class="col sliderEnergy"></div>
                    <div class="row mt-4 valueboxes">
                        <div class="col">
                            <label class="small">Valor mínimo</label>
                            <input type="number" id="input-with-keypress-00" class="form-control" name="min_active">
                        </div>
                        <div class="col">
                            <label class="small">Valor máximo</label>
                            <input type="number" id="input-with-keypress-10" class="form-control" name="max_active">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <label class="text-secondary">Max.</label>
                            <button type=button value="0" class="btn btn-success btn-xs updateSlider">20</button>
                            <button type=button value="0" class="btn btn-success btn-xs updateSlider">100</button>
                            <button type=button value="0" class="btn btn-success btn-xs updateSlider">500</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />*@

    @*<div class="form-group row">
            <label class="col-sm-2 form-control-label">Placeholder</label>
            <div class="col-sm-10">
                <input type="text" placeholder="placeholder" class="form-control">
            </div>
        </div>*@

    @*<div class="form-group row">
            <label class="col-sm-2 form-control-label">Hora del día (por desarrollar)<br><small class="text-primary"> por desarrollar</small></label>
            <div class="col-sm-10">
                <div class="i-checks">
                    <input id="radioValueSource1" type="radio" value="option1" checked="" name="radioValueSource" class="form-control-custom radio-custom">
                    <label for="radioValueSource1">Tomar valor de cada frontera</label>
                </div>
                <div class="i-checks">
                    <input id="radioValueSource2" type="radio" disabled="" value="option2" name="radioValueSource" class="form-control-custom radio-custom">
                    <label for="radioValueSource2">Definir rango específico (Por desarrollar)</label>
                </div>
            </div>
        </div>*@

    <hr />

    <script>
        function fireMulti() {
            multiSelectListSearchable('#selectList');
            $('.ms-container').css("width", "100%")

            $(".ms-list").click(function () {
                var xin = $(".ms-selectable").children().children().filter(function () {
                    return $(this).css('display') == 'none';
                })
                var xout = $(".ms-selection").children().children().filter(function () {
                    return $(this).css('display') == 'none';
                })

                $("#elem-included").text(xin.length)
                $("#elem-not-included").text(xout.length)
            })
            $(".ms-list").click()
            $('.ms-elem-selectable').css("font-size", "11px") // Did not work to add the class, idk why
            $('.ms-elem-selection').css("font-size", "11px") // Did not work to add the class, idk why
        }
        var inputs = [document.getElementById('input-with-keypress-00'),
        document.getElementById('input-with-keypress-10')];
        slider0 = document.getElementById('slider0')

        $(function () {
            multiSelectListSearchable('#selectList');
            $('.ms-container').css("width", "100%")
        })

        $("#createForm").submit(function (e) {
            $("#parameters").val(JSON.stringify($("#parametersForm").serializeArray()))

            if ($("#selectList").val().length == 0) {
                alert("Seleccione al menos un elemento del listado.")
                e.preventDefault()
            }
        })
    </script>

}

@section scriptsbody{
    createSlider(slider0, inputs, [0,20])
}

@section styles{
    <link href="@Url.Content("~")Content/vendor/noUiSlider-12.1.0/nouislider.min.css" rel="stylesheet" />
}
@section scriptshead{
    <script src="@Url.Content("~")Content/vendor/noUiSlider-12.1.0/nouislider.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/noUiSlider-12.1.0/wNumb.js"></script>
    <script src="@Url.Content("~")Content/vendor/multiselect/js/jquery.multi-select.js"></script>
    <script src="@Url.Content("~")Content/vendor/jquery.quicksearch.js"></script>
    <script src="@Url.Content("~")Scripts/Helpers.js"></script>
}