﻿@model CGM.Models.CGMModels.CurvaTip
@{ int cont = 0; string buffer = "";}

@{
    ViewBag.Title = "Detalles";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Medidas", "Alumbrado público", Url.Content("~"))

<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Detalles</h1>
        </div>
    </div>
    <hr />
</header>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Curva típica</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.Acquisition_Item.Quantity.name)</td>
                                <th><h5>@Html.DisplayFor(model => model.Acquisition_Item.Quantity.name)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.name)</td>
                                <th><h5>@Html.DisplayFor(model => model.name)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.fecha1)</td>
                                <th><h5>@Model.fecha1.ToShortDateString()</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.fecha2)</td>
                                @if (@Model.fecha2.HasValue)
	                            {
                                    <th><h5>@Model.fecha2.Value.ToShortDateString()</h5></th>
	                            }   
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.scope)</td>
                                <th><h5>@Html.DisplayFor(model => model.scope)</h5></th>
                            </tr>

                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.dateCreated)</td>
                                <th><h5>@Html.DisplayFor(model => model.dateCreated)</h5></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model.Groups.Count() != 0)
            {
                <div class="table-responsive">
                    <table id="tblBoundaries" class="table small">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Código</th>
                                <th style="padding-right: 180px">Frontera</th>
                                @for (int i = 1; i <= 24; i++)
                                {
                                    <th>H@(i)</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var group in Model.Groups)
                            {
                                { cont++; }

                                <tr>
                                    <td>@cont</td>
                                    <td>@Html.DisplayFor(model => group.Boundary.code)</td>
                                    <td>@Html.DisplayFor(model => group.Boundary.name)</td>
                                    @foreach (var measure in group.Measures)
                                    {
                                        <td class="text-center">@Math.Round(@measure.measure, 3)</td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <hr />

                if (cont == 1)
                {<p><strong>Total: @cont Frontera</strong></p>}
            else
            {<p><strong>Total: @cont Fronteras</strong></p>}

    }
    else
    {
        @ViewHelpers.NoElements()
    }
        </div>
    </div>
}
else
{
    <div class="row"><h4>Validación fallida.</h4></div>
    @Html.Partial("_TempResult")
}

<p>
    <button type="submit" class="btn btn-info edit">
        <div class="fa fa-pencil"></div>
        @Html.ActionLink("Editar", "Edit", "Meter", new { id = Model.id }, new { @class = "", @style = "text-decoration: none; color:white", id = "nuevoElemento" })
    </button>
<p />

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
    // We make sure that the numbers are correctly parsed. Sometimes it renders a comma separator, which messes up everything.

    var colorBar = getColorbar(parseFloat(("@ViewBag.min").replace(",", '.')),
                                parseFloat(("@ViewBag.max").replace(",", '.')))


    var table = $('#tblBoundaries').DataTable(
        {
            "language": {
                "url": "@Url.Content("~")Scripts/es-CO.txt"
            },
            "columnDefs": [{
                "targets": '_all',
                "createdCell": function (td, cellData, rowData, row, col) {
                    //console.log(col)
                    if (col >= 3) { // 3 is the column where the numeric values begin
                        num = parseFloat(cellData.replace(',', '.'))
                        rgb = colorBar(num)
                        //console.log(`rgb(${rgb[0]},${rgb[1]},${rgb[2]})`)
                        $(td).css('background-color', `rgb(${rgb[0]},${rgb[1]},${rgb[2]})`)
                    }
                }
            }]
        })
    table.columns.adjust().draw()
    </script>
}
@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}
