﻿@model IEnumerable<CGM.Models.CGMModels.CurvaTip>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Curvas típicas";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Medidas", "Curvas típicas", Url.Content("~"))


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                <i class="fa fa-bar-chart pr-2 pl-2"></i>
                Curvas típicas
            </h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>

@foreach (var group in Model.GroupBy(c => c.Acquisition_Item))
{
    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <div>
                    <div class="card-header">
                        <h3> @group.Key.Quantity.name - @group.Key.Tag_Line.name</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Acquisition_Item.Id)</th>
                                    <th>@Html.DisplayNameFor(model => model.name)</th>
                                    <th>@Html.DisplayNameFor(model => model.fecha1)</th>
                                    <th>@Html.DisplayNameFor(model => model.scope)</th>
                                    <th>@Html.DisplayNameFor(model => model.dateCreated)</th>
                                    <th></th>
                                    <th>Por defecto</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in group)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Acquisition_Item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.name)</td>
                                        <td>@item.fecha1.Year / @item.fecha1.Month</td>
                                        <td>@Html.DisplayFor(modelItem => item.scope)</td>
                                        <td>@Html.DisplayFor(modelItem => item.dateCreated)</td>
                                        <td>
                                            @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Editar" }) &nbsp;
                                        @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Detalles" }) &nbsp;
                                        @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Archivar" })
                                    </td>
                                    <td>
                                        @if (item.isDefault)
                                        {<button class="btn btn-success small btn-sm" disabled>Por defecto</button>}
                                        else
                                        {<button id="curva_@(item.id)" class="btnSetDefault btn btn-secondary small btn-sm">Establecer</button>}
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }
                }
            );
        });
    </script>
    <script>
        $(".btnSetDefault").click(function () {
            var idAlarm = this.id.split("_")[1];

            var xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');
            $.ajax({
                url: ROOT + 'CurvaTips/ChangeDefaultCurvaTip',
                method: 'POST',

                dataType: 'json',
                data: { id: idAlarm },

                success: function (response) {
                    if (response.result == "true") {
                        location.reload();
                    }
                    //alert(response.message);
                },
                error: function (response) {
                    alert(response)
                }
            });
        })

    </script>

}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


