﻿@model IEnumerable<CGM.Models.CGMModels.CurvaTip>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Alumbrado público";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Medidas", "Alumbrado público", Url.Content("~"))

<!-- Page Header-->


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display"><i class="fa fa-lightbulb-o mr-2"></i> Alumbrado Público</h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("+ Añadir nuevo elemento", "LoadFileAlumbrado", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")
@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <div>
                    <div class="card-header">
                        <h3> Curvas cargadas - Listado </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Acquisition_Item.Quantity.name)</th>
                                    <th>@Html.DisplayNameFor(model => model.fecha1)</th>
                                    <th>@Html.DisplayNameFor(model => model.fecha2)</th>
                                    <th>@Html.DisplayNameFor(model => model.dateCreated)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Acquisition_Item.Quantity.name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.fecha1)</td>
                                        <td>@Html.DisplayFor(modelItem => item.fecha2)</td>
                                        <td>@Html.DisplayFor(modelItem => item.dateCreated)</td>
                                        <td>
                                            @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Editar" }) &nbsp;
                                            @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Detalles" }) &nbsp;
                                            @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Archivar" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        @ViewHelpers.NoElements()
    </div>
}



@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }
                }
            );
        });
    </script>
    <script>
        $(".btnSetDefault").click(function () {
            var idAlarm = this.id.split("_")[1];

            var xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');
            $.ajax({
                url: ROOT + 'CurvaTips/ChangeDefaultCurvaTip',
                method: 'POST',

                dataType: 'json',
                data: { id: idAlarm },

                success: function (response) {
                    if (response.result == "true") {
                        location.reload();
                    }
                    //alert(response.message);
                },
                error: function (response) {
                    alert(response)
                }
            });
        })

    </script>

}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


