﻿
@{
    ViewBag.Title = "Carga de medidas";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

@ViewHelpers.NavBar("Medidas", "Alumbrado público", Url.Content("~"))

<!-- Page Header-->
<header>
    <h1 class="display"><i class="fa fa-lightbulb-o mr-2"></i> Alumbrado Público - Carga de Medidas</h1>
</header>
@Html.Partial("_TempResult")

<div class="row">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-header">
                <h4>Medidas estáticas - Archivo plano</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <span>
                            Puede cargar las medidas de fronteras de alumbrado público hacia la base de datos, por medio del formato utilizado en versiones anteriores de reportes.
                            Para ver descargar una muestra del formato, haga clic
                            <a class="text-primary" id="formato" href="#">aquí.</a>
                        </span>
                        <strong>Funcionamiento:</strong>
                        <p>Se elige un mes y un año para asignar medidas para fronteras de alumbrado público. Las medidas que se carguen se copiarán en cada uno de los días de dicho mes, de modo que se vean incluidas en los reportes y informes generados posteriormente.</p>
                    </div>
                    <div class="col-md-4">
                        <form class="dropzone dz-clickable" id="fileUpload" action="@Url.Content("~")CurvaTips/LoadFile/?is_alumbrado=true">
                            <div class="dz-message">
                                <p>Arrastre el archivo hasta aquí.</p>
                            </div>
                        </form>
                    </div>
                </div>
                <form action="@Url.Content("~")CurvaTips/UploadAlumbrado" method="post" id="formLoad">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        <div class="col-xl-1 m-0">
                            <label class="label"> Medida </label>
                        </div>
                        <div class='col-xl-3 m-0'>
                            @Html.DropDownList("acquisition_item_id", null, htmlAttributes: new { @class = "form-control", @style = "width: 100%" })
                        </div>
                    </div>
                    <div class="form-group row">
                       <div class="col-xl-2">
                            <label>Fecha Inicial</label>
                            <div class="input-group date" id="fechaIniPicker" data-target-input="nearest">
                                <input type="text" class="datetimepicker-input form-control" data-target="#fechaIniPicker" id="fechaIni" name="fechaIni" />
                                <div class="input-group-append " data-target="#fechaIniPicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <label>Fecha Final</label>
                            <div class="input-group date" id="fechaFinPicker" data-target-input="nearest">
                                <input type="text" class="datetimepicker-input form-control" data-target="#fechaFinPicker" id="fechaFin" name="fechaFin" />
                                <div class="input-group-append " data-target="#fechaFinPicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <input class="btn btn-primary btn-block" type="submit" disabled id="btnSubmit" value="Cargar" />
                        </div>
                    </div>
                </form>
                <br />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div id="LoadResult">
        </div>
    </div>
</div>

@ViewHelpers.modal_cargando()

@section scriptsbody{
    <!-- Dropzone.js-->
    <script src="~/Content/vendor/dropzone/dropzone.js"></script>
    <!-- Dropzone Init-->
    <script src="~/Content/js/forms-dropzone.js?v=0.4"></script>

    @*El archivo forms-dropzone está bastante editado por mí*@

    @Scripts.Render("~/bundles/dataTablesScript")

    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>

    <script src="@Url.Content("~")Content/vendor/tempusdominus/moment-with-locales.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tether.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>

    <script>
        $('.date').datetimepicker({
            format: 'l', //Solamente la fecha
            locale: 'es',
            //viewMode: 'years',
            format: 'YYYY-MM-DD',
            defaultDate: moment().startOf('month').calendar(null, formatDaysMoment),
        })

        let modalCargando = $('#modal_cargando');

        $("#formLoad").submit(function () {
            // Se muestra al ventana de espera, con el loader.
            modalCargando.modal({ backdrop: 'static', keyboard: false });
        })

    </script>



}

@section styles{
    @Styles.Render("~/bundles/dataTablesStyle")
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
}



