﻿@model IEnumerable<CGM.Areas.Telemetry.Models.MyModels.SummaryModel>
@{ int cont = 0; int cont2 = 0; string buffer = ""; double porcent = 0;}

<div class="row">
    <div class="col-lg-6 text-center">
        <h3>Fecha: @ViewBag.date.ToLongDateString()</h3>
        <hr />
        <div class="table-responsive text-center">
            <table class="table table-hover" style="vertical-align:middle; max-width:80%" align="center">
                <thead>
                    <tr>
                        <th class="text-right">Categoría</th>
                        <th>Cantidad</th>
                        <th>Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var summary in Model.OrderBy(m => m.statusCat).ToList())
                    {
                        { porcent = Math.Round(((float)summary.boundaries.Count / ViewBag.boundsTotal * 100), 2); }
                        <tr>
                            <td class="text-right">@summary.statusCatStr</td>
                            <td>@summary.boundaries.Count</td>
                            <td>@porcent%</td>
                            @{cont2++;}
                        </tr>
                    }
                    <tr>
                        @{ porcent = Math.Round(((float)@ViewBag.boundsProgrammed / ViewBag.boundsTotal * 100), 2); }
                        <th class="text-right">Total programadas</th>
                        <th>@ViewBag.boundsProgrammed</th>
                        <th>@porcent%</th>
                    </tr>
                    <tr>
                        <th class="thead-dark">Total</th>
                        <th>@ViewBag.boundsTotal</th>
                        <th>100%</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="piechart1" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<br />
<hr />

@if (Model.Where(M => M.statusCat == 5).FirstOrDefault().measures.Count > 0)
{
    <h3 id="quant"></h3>
    <br />  
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table id="tblBoundaries" class="table small">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th style="padding-right: 180px">Frontera</th>
                            <th>Tipo</th>
                            @for (int i = 1; i <= 24; i++)
                            {
                                <th>H@(i)</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var boundary in Model.Where(M => M.statusCat == 5).FirstOrDefault().measures
                                                       .GroupBy(m => new Tuple<string, string, bool?>(m.name, m.code, m.is_backup))
                                                       .OrderBy(g => g.Key.Item1))
                        {
                            if (boundary.Key.Item1 != buffer) { cont++; buffer = boundary.Key.Item1; }
                            <tr>
                                <td>@cont</td>
                                <td>@Html.DisplayFor(model => boundary.Key.Item2)</td>
                                <td>@Html.DisplayFor(model => boundary.Key.Item1)</td>
                                <td>@ViewHelpers.IsBackup(boundary.Key.Item3)</td>
                                @foreach (var measure in boundary.OrderBy(m => m.hour))
                                {
                                    <td class="text-center"><span>@Math.Round(@measure.measure, 3)</span></td>
                                }
                            </tr>
                        }

                    </tbody>
                </table>
                <script>
                    renderReportTable(@ViewBag.min.ToString().Replace(',','.'),@ViewBag.max.ToString().Replace(',', '.'), "@Url.Content("~")Scripts/es-CO.txt", "@ViewBag.fileName")
                </script>
            </div>
            <br />
            @if (cont == 1)
            {<p><strong>Total: @cont Frontera</strong></p>}
        else
        {<p><strong>Total: @cont Fronteras</strong></p>}
        </div>
    </div>
}
else
{
    <p>No existen registros en esa configuración.</p>
}
<hr />
<div class="row">
    <div class="col-lg-4">@boundaryTable(Model.Where(m => m.statusCat == 1).FirstOrDefault())</div>
    <div class="col-lg-4">@boundaryTable(Model.Where(m => m.statusCat == 3).FirstOrDefault())</div>
    <div class="col-lg-4">@boundaryTable(Model.Where(m => m.statusCat == 4).FirstOrDefault())</div>
</div>

@helper boundaryTable(CGM.Areas.Telemetry.Models.MyModels.SummaryModel summaryModel)
{
    <h2 class="display text-center">@summaryModel.statusCatStr</h2>
    if (summaryModel.boundaries.Count > 0)
    {
        <table class="table table-hover table-sm" style="vertical-align:middle; max-width:80%" align="center">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @{ int cont = 0; }
                @foreach (var boundary in summaryModel.boundaries.OrderBy(b => b.name))
                {
                    { cont++; }
                    <tr>
                        <td>@cont</td>
                        <td>@boundary.code</td>
                        <td>@boundary.name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br />
        <p>No se encontró registros.</p>
    }
}

<script>
    var d = new Date()
    var data = JSON.parse(("@ViewBag.data").replace(/&quot;/g, '"'))

    $(function () {
        $("#quant").text($("#quantityList").children('option:selected').text())
    })

    $(function () {
        Highcharts.chart('piechart1', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                animation: true
            },
            tooltip: {
                pointFormat: 'Fronteras: <b>{point.y}</b><br/>'+
                             'Porcentaje: <b>{point.percentage:.1f}%</b><br/>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    },
                    animation: false,
                    size:'90%'
                    
                }
            },
            title: {
                text: "@ViewBag.date.ToShortDateString()"
            },
            series: [{
                name: 'Fronteras',
                colorByPoint: true,
                data: data
            }]
        });
    })

    @*$.getJSON('@Url.Content("~")Content/vendor/highcharts/aapl-c.json', function (data) {
        // Create the chart
        Highcharts.stockChart('container2', {


            rangeSelector: {
                selected: 1
            },

            title: {
                text: 'AAPL Stock Price'
            },

            series: [{
                name: 'AAPL',
                data: data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });*@
</script>