﻿@model IEnumerable<CGM.Areas.Telemetry.Models.VReport>
@using CGM.Helpers
@{
    int? dest = ViewBag.dest; //Se produce un error cuando es nulo.
    bool fBool = ViewBag.dest == 1; //Fronteras
    bool mBool = ViewBag.dest == 0; //Medidores
}

@ViewSnippets.detailsMonitor()

<div class="card">
    <div class="card-header"><h2 class="display"><i class="fa fa-trash mr-1 text-black-50"></i>  Eliminados</h2></div>
    <div class="card-body">
        @if (Model.Count() != 0)
        {
            <div class="table-responsive small">

                <table id="tblFrontera" class="table tblCustom">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.code)</th>
                            <th>@Html.DisplayNameFor(model => model.name)</th>
                            <th>@Html.DisplayNameFor(model => model.operation_date)</th>
                            @*<th>@Html.DisplayNameFor(model => model.source)</th>*@
                            <th>@Html.DisplayNameFor(model => model.serial)</th>
                            <th>@Html.DisplayNameFor(model => model.is_backup)</th>
                            <th>@Html.DisplayNameFor(model => model.dateProgrammed)</th>
                            <th>Reintentos</th>

                            @*<th>@Html.DisplayNameFor(model => model.priority)</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><div>@Html.DisplayFor(modelItem => item.code)</div></td>
                            <td><div>@Html.DisplayFor(modelItem => item.name)</div></td>
                            <td>@item.operation_date.ToShortDateString()</td>
                            @*<td><div>@Html.DisplayFor(modelItem => item.source) </div></td>*@
                            @*@if (item.Meter != null)
        {*@
                            <td><div class="small"> @Html.DisplayFor(modelItem => item.brand) - #@Html.DisplayFor(modelItem => item.serial) </div></td>
                            @*else
        {
        <td>--</td>}*@
                            <td>@ViewHelpers.backupHelper(item.is_backup)</td>
                            <td>@item.dateProgrammed.ToString("dd/MM/yyyy - HH:mm:ss")</td>
                            <td>
                                @ViewSnippets.retryBadge(item.id, item.retries)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        }
        else
        {
            <div class="col-6"><h6 class="alert alert-secondary">No se registra tareas completadas en este periodo.</h6></div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/dataTablesScript")
<script src="@Url.Content("~")Scripts/Monitor.js"></script>
<script>
    $(function () {
         table = $('#tblFrontera').DataTable(
            {
                "language": {
                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                 }
                 ,
                 "pageLength": 15
                //    ,
                //"columnDefs": [
                //     {
                //         "targets": 1, // your case first column
                //         "className": "text-center",
                //         "width": "4%"
                //     },
                //     {
                //         "targets": 0,
                //         "width": "15%"
                //     }],
                 @*"ajax": {
                     method: "GET",
                     url: "@Url.Content("~")Monitor/Page",
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     data: function (d) {
                         return $.extend({}, d, { page: page, dest: dest, update: update })
                     }
                 }*@
                     @*function (data, callback, settings) {
                     $.ajax({
                         url: "@Url.Content("~")Monitor/Page",
                         method: 'GET',
                         data: { page: page, dest: dest, update: update },
                         //dataSrc: "d.data",
                     }).done(callback);*@

            }
         );
    })
    $(".detailsBtn").click(function () {
        $("#detailsWrapper").empty()
        $('#loaderModal').show();
        var id = $(this).prop("id").split('d')[1];
        $.ajax({
            type: "GET",
            url: "@Url.Content("~")Telemetry/Monitor/Details",
            data: { id_ri: id},
            success: function (data) {
                $('#loaderModal').hide();
                $("#detailsWrapper").html(data);
            }
            })
        }
    )
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>