﻿@model CGM.Models.MyModels.SimpleBoundary
@using Newtonsoft.Json
@{ 
    DateTime fechaOp = Model.measures.First().time.Date;
}
@if (ViewBag.AlreadyRead == "Registros ya adquiridos.")
{
    <div class="alert alert-light"><p>Se muestran los datos activos que corresponden a la adquisición activa. La presente instrucción omitió la adquisición de medidas, al ya tenerse un registro previo. </p>
    <hr />
    <p><strong>Fecha y hora de adquisición: @ViewBag.datetime.ToString("dd/MM/yyyy - hh:mm:ss tt", new System.Globalization.CultureInfo("en-US"))</strong></p></div>
}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="row">
            <div class="col-3"><h5>Frontera</h5></div>
            <div class="col-2"><h5>Código</h5></div>
            <div class="col-3"><h5>Medidor</h5></div>
            <div class="col-2"><h5>Tipo</h5></div>
            <div class="col-2"><h5>- Fecha</h5></div>
        </div>
        <div class="row">
            <div class="col-3"><label class="small">@Model.name</label></div>
            <div class="col-2"><label class="small">@Model.code</label></div>
            <div class="col-3"><label class="small">@Model.Meter</label></div>
            <div class="col-2"><label class="small">@Model.Tipo</label></div>
            <div class="col-2"><label class="small">@fechaOp.ToShortDateString()</label></div>
        </div>
    </div>
</div>
<hr />
<div class="row" >
    <div class="col-xl-12">
        <div id="detailsChart"></div>
    </div>
</div>
<br />
<div class="row justify-content-center">
    <div class="col-xl-8">
        <table class="table table-striped table-sm small tblDetails">
            <thead>
                <tr>
                    <th>Hora</th>
                    @foreach (var item in Model.measures.GroupBy(q => q.quantity).GroupBy(q => q.Key))
                    {
                        <th>@item.Key</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.measures.GroupBy(m => m.time).OrderBy(it => it.Key))
                {
                    <tr>
                        <td class="tblDetails">
                            @if (item.Key.Hour == 0) // En la hora 24 corresponde al día siguiente
                            {
                                @(item.Key.ToString("HH:mm tt") + " + 1 ")
                            }
                            else
                            {
                                @item.Key.ToString("HH:mm tt")
                            }
                        </td>
                        @foreach (var measure in item.OrderBy(m => m.quantity))
                        {
                            <td class="align-content-center">@Math.Round(@measure.measure, 3)</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    debugger;
    data = parseViewBagJSONData("@JsonConvert.SerializeObject(Model)")

    //// Group measures by quantities
    //quantities = data.measures.reduce(function (r, a) { // traté de hacerlo en un solo ciclo pero estaba modo zombie y no pude
    //    r["measures"] = r["measures"] || [];
    //    r["measures"].push(a);



    //    r = r || { name: a.quantity, measures:[] };
    //    r.measures.push(a);
    //    return r;
    //}, Object.create(null));

    // Group measures by quantities
    quantities = data.measures.reduce(function (r, a) {
        r[a.quantity] = r[a.quantity] || [];
        r[a.quantity].push(a);
        return r;
    }, Object.create(null));

    data.Quantities = []

    Object.entries(quantities).forEach(([key, value]) =>
        data.Quantities.push({ name: key, measures: value, unit: value[0].unit })
    )
    
    chart_basicline = Chart_BasicLine([data], 1, 'detailsChart', "@Model.name - @fechaOp.ToShortDateString()", "@Model.Tipo")

</script>

