﻿@model IEnumerable<CGM.Areas.Telemetry.Models.VReport>
@using CGM.Helpers
@{
    int? dest = ViewBag.dest; //Se produce un error cuando es nulo.
    bool fBool = ViewBag.dest == 1; //Fronteras
    bool mBool = ViewBag.dest == 0; //Medidores
}

@ViewSnippets.detailsMonitor()

<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-6">
                <h2 class="display"><i class="fa fa-times mr-1 text-danger"></i> Con errores</h2>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-info small btnState" value="600"><i class="fa fa-retweet"></i>  Poner en cola seleccionados</button>
                @ViewHelpers.DeleteButton("Cancelar operación")
                @*<button class="btn btn-outline-danger small btnState" value="1"><i class="fa fa-trash"></i>  Cancelar operación</button>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Count() != 0)
        {
            <div class="table-responsive small">
                <table id="tblFrontera" class="table tblCustom">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.jobid)</th>
                            <th>@Html.DisplayNameFor(model => model.code)</th>
                            <th>@Html.DisplayNameFor(model => model.name)</th>
                            <th>@Html.DisplayNameFor(model => model.is_backup)</th>
                            <th>@Html.DisplayNameFor(model => model.operation_date)</th>
                            <th>@Html.DisplayNameFor(model => model.brand)</th>
                            <th>@Html.DisplayNameFor(model => model.dateProgrammed)</th>
                            <th>@Html.DisplayNameFor(model => model.retries)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.jobid)</td>
                            <td><div>@Html.DisplayFor(modelItem => item.code)</div></td>
                            <td><div>@Html.DisplayFor(modelItem => item.name)</div></td>
                            <td>@ViewHelpers.backupHelper(item.is_backup)</td>
                            <td>@item.operation_date.ToShortDateString()</td>
                            <td><div class="small"> @Html.DisplayFor(modelItem => item.brand) - #@Html.DisplayFor(modelItem => item.serial) </div></td>
                            <td>@item.dateProgrammed.ToString("dd/MM/yyyy - HH:mm:ss")</td>
                            <td>
                                @ViewSnippets.retryBadge(item.id, item.retries)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="col-6"><h6 class="alert alert-secondary">No se registra tareas completadas en este periodo.</h6></div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/dataTablesScript")
<script src="@Url.Content("~")Content/vendor/datatablesCHK/dataTables.checkboxes.min.js"></script>
<script src="@Url.Content("~")Scripts/Monitor.js"></script>
<script>
    $(function () {
         table = $('#tblFrontera').DataTable(
            {
                "language": {
                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                 }
                 ,
                 "pageLength": 15,
                 'columnDefs': [
                     {
                         'targets': 0,
                         'checkboxes': {
                             'selectRow': true
                         },
                         "className": "text-center",

                     },
                     {
                         'targets': 0, //Boxes
                         "className": "text-center",
                         "width" : "8%"
                     },
                     {
                         'targets': 6, //Retries
                         "className": "text-center",
                     },
                 ],
                 'select': {
                     'style': 'multi'
                 }
                 ,
                 'order': [[6, 'desc']]
            }
         );
    })

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
