﻿@{
    ViewBag.Title = "Monitor";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
@ViewHelpers.NavBar("Telemetría", "Monitor", Url.Content("~"))

@Html.Partial("_TempResult")
<br />

<div class="row">
    <div class="col-lg-2">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="pr-4 ml-2"><div class="fa fa-wifi"></div></div>
                            <div class="">
                                <h2 class="display">Monitor  @*<i class="small fa fa-info-circle text-info" data-toggle="tooltip" data-placement="right" title="Se muestran los datos de @(ViewBag.daysBack) días atrás." data-html="true"></i>*@</h2>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col" align="center"><button id="stopbtn" class="btn btn-outline-danger  btn-sm small btnrunstop"><i class="fa fa-stop"></i></button></div>
                            <div class="col small" align="center">
                                <div id="playicon" style="display:none; height:50px"><i class="sk-spinner sk-spinner-pulse"></i></div>
                                <div id="stopicon" style="display:none; height:50px"><i class="fa fa-square text-danger pt-2"></i></div>
                            </div>
                            <div class="col" align="center"><button id="playbtn" class="btn btn-outline-success  btn-sm small btnrunstop"><i class="fa fa-play"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg p-0 ">
            <div id="summary" class="small" style="width:100%">
                <label class="btn btn-block  btn-outline-success">
                    Resumen
                </label>
            </div>
        </div>
        <div class="col-lg p-0">
            <div id="stats" class="small">
                <div class="btn-group-vertical btn-group-toggle small btn-block bg-white" data-toggle="buttons">
                    <label class="btn btn-outline-primary listSelectItem active">
                        En cola
                        <span class="pull-right">
                            <span data-metric="enqueuedqueuescount" class="metric metric-default"></span>
                        </span>
                        <input class="btnSelector" type="radio" name="optInf" value="6" autocomplete="off" checked>
                    </label>
                    <label id="opt1" class="btn btn-outline-primary listSelectItem">
                        Programadas
                        <input class="btnSelector" type="radio" name="optInf" value="1" autocomplete="off">
                        <span class="pull-right">
                            <span data-metric="scheduledcount" class="metric metric-default"></span>
                        </span>
                    </label>
                    <label class="btn btn-outline-primary listSelectItem">
                        Procesando
                        <span class="pull-right">
                            <span data-metric="processingcount" class="metric metric-default"></span>
                        </span>
                        <input class="btnSelector" type="radio" name="optInf" value="2" autocomplete="off">
                    </label>
                    <label id="opt5" class="btn btn-outline-primary listSelectItem">
                        Completadas
                        <span class="pull-right">
                            <span data-metric="succededcount" class="metric metric-default"></span>
                        </span>
                        <input class="btnSelector" type="radio" name="optInf" value="5" autocomplete="off">
                    </label>
                    <label class="btn btn-outline-primary listSelectItem">
                        Con errores
                        <span class="pull-right">
                            <span data-metric="failedcount" class="metric metric-default monitorSel"></span>
                        </span>
                        <input class="btnSelector" type="radio" name="optInf" value="3" autocomplete="off">
                    </label>
                    <label class="btn btn-outline-primary listSelectItem">
                        Eliminados
                        <span class="pull-right">
                            <span data-metric="deletedcount" class="metric metric-default"></span>
                        </span>
                        <input class="btnSelector" type="radio" name="optInf" value="7" autocomplete="off">
                    </label>
                </div>
            </div>
            <br />
            <small>*Se muestra los datos de hace @(ViewBag.daysBack) días en adelante (@Html.ActionLink("Modificar","Telemetry","Settings",new { Area=""} , null ))</small>
            <br />
            <div class="text-center"><div id="loader" style="display:none" class="lds-ellipsis p-4"><div></div><div></div><div></div><div></div></div></div>
        </div>
    </div>
    <div class="col-lg-10">
        <div id="tblWrapper" class=""></div>
    </div>
</div>

<div id="modalMonitor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalMonitorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMonitorTitle">Programa rápido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Content("~")Programs/CreateQuickProgram" method="post">
                <div class="modal-body">
                    <p class="text-gray">Se creará una instrucción de única adquisición (kWh) con las fronteras seleccionadas para la fecha del día anterior al presente (@DateTime.Now.AddDays(-1).ToShortDateString()).</p>
                    @Html.Partial("~/Views/Boundaries/_BoundaryPickerInit.cshtml")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear programa rápido</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scriptshead{
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/dataTablesScript")
    @*@Scripts.Render("~/bundles/tablebuttons")*@
    
    <script src="@Url.Content("~")Scripts/customMonitor.js"></script>
    <script src="@Url.Content("~")Scripts/chartsCustom.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/moment-with-locales.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tether.min.js"></script>
    <script src="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.js"></script>

}
@section scriptsbody{
    <script>

        function quickProgram() {  // shows the modal to add an quick instruction
            $('#modalMonitor').modal('show')
            $("#radioMarket1").click() //Activa la lista de fronteras de comercialización para inicialización
        }

        $(function initPage() {
            update = false
            //$("input[name=optInf][value='1']").prop('checked', true);
            //$("#summary").click()
            $("#opt5").click()
            if (@ViewBag.activeserver.ToString().ToLower()) { $('#playicon').show(); }
            else { $('#stopicon').show(); }

            // Add the new Program button, and new Quick program to the navbar

            $("#navbar-list").append(
                    "<li class='nav-item'><a class='btn btn-success small btn-sm btn-xs ml-2' target='_blank' style='vertical-align: -webkit-baseline-middle' href='@Url.Content("~")Programs/Create'>+ Nuevo programa</a></li>",
                    "<li class='nav-item'><a class='btn btn-primary small btn-sm btn-xs ml-2' id='quickProgram' style='vertical-align: -webkit-baseline-middle' href='#' title='Programa de una única ejecución para la fecha presente, con las fronteras seleccionadas.'>+ Programa rápido</a></li>"
            )

            $("#quickProgram").click(function () {
                quickProgram()
            })
        })
    </script>

    <script>

        $("#summary").on('click', function () {
            $.ajax({
                    type: "GET",
                    url: "@Url.Content("~")Monitor/Summary",
                    contentType: "application/json; charset=utf-8",
                    UpdateTargetId: "tblWrapper",
                    success: function (data) {
                        $("#tblWrapper").empty();
                        $("#tblWrapper").html(data);
                        $("#loader").hide();
                }
            })
        })

        // Cada vez que se cambia la opción del menú de la izquierda
        $(document.body).on('change', '.listSelectItem', function ()
        {
            $("#loader").show();
            updateTable(false)
        })

        $(".btnrunstop").click(function () { //Method to stop and start the background server
            var idbtn = $(this).attr('id')
            var urlrest = "";
            if (idbtn == "playbtn") { urlrest = 'RestartServer'}
            if (idbtn == "stopbtn") { urlrest = 'StopServers'}
            $.ajax({
                url: ROOT + 'api/Monitor/' + urlrest,
                type: 'GET',
                success: function (data) {
                    if (data == "ok") {
                        console.log(data)
                        if (idbtn == "playbtn") { $('#playicon').show(); $('#stopicon').hide(); }
                        if (idbtn == "stopbtn") { $('#playicon').hide(); $('#stopicon').show(); }
                    }
                    else {
                        alert(data)
                    }
                }
            })
        })

        function updateTable() {
            page = $('input[name=optInf]:checked').val();
            console.log(page)
            $.ajax({
                    type: "GET",
                    url: "@Url.Content("~")Monitor/Page",
                    contentType: "application/json; charset=utf-8",
                    data: { page: page, update: update },
                    UpdateTargetId: "tblWrapper",
                    success: function (data) {
                        $("#tblWrapper").empty();
                        $("#tblWrapper").html(data);
                        $("#loader").hide();
                }
            })
        }
        //$(upPageTimer = setInterval(function () {
        //    updateTable()
        //   //update = true;
        //    //table.ajax.reload();
        //}, 10000))



    </script>
}
@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
    <link href="@Url.Content("~")Content/vendor/datatablesCHK/dataTables.checkboxes.css " rel="stylesheet" />
    <link href="@Url.Content("~")Content/vendor/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

}