﻿@model IEnumerable<CGM.Areas.Telemetry.Models.VReport>
@{
    int? dest = ViewBag.dest; //Se produce un error cuando es nulo.
    bool fBool = ViewBag.dest == 1; //Fronteras
    bool mBool = ViewBag.dest == 0; //Medidores
}
<!-- Modal -->
@ViewSnippets.detailsMonitor()

<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-6">
                <h2 class="display"><i class="fa fa-check mr-1 text-success"></i> Tareas Completadas</h2>
            </div>
            <div class="col-6 text-right">
                @ViewHelpers.DeleteButton("Descartar medidas")
                @*<button class="btn btn-outline-danger small btnState" value="1"><i class="fa fa-trash"></i>  Cancelar operación</button>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Count() != 0)
        {
            <div class="table-responsive small">
                <table id="tblFrontera" class="table tblCustom">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.jobid)</th>
                            <th>@Html.DisplayNameFor(model => model.code)</th>
                            <th>@Html.DisplayNameFor(model => model.name)</th>
                            @*<th>@Html.DisplayNameFor(model => model.source)</th>*@
                            <th>@Html.DisplayNameFor(model => model.brand)</th>
                            <th>@Html.DisplayNameFor(model => model.is_backup)</th>
                            <th>@Html.DisplayNameFor(model => model.operation_date)</th>
                            <th>@Html.DisplayNameFor(model => model.dateProgrammed)</th>
                            <th>@Html.DisplayNameFor(model => model.end_time)</th>
                            <th>@Html.DisplayNameFor(model => model.time_elapsed)</th>
                            <th>Detalles</th>
                            <th>Reintentos</th>

                            @*<th>@Html.DisplayNameFor(model => model.priority)</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.jobid)</td>
                                <td><div>@Html.DisplayFor(modelItem => item.code)</div></td>
                                <td><div>@Html.DisplayFor(modelItem => item.name)</div></td>
                                @*<td><div>@Html.DisplayFor(modelItem => item.source) </div></td>*@
                                @*@if (item.Meter != null)
                                    {*@
                                <td><div class="small"> @Html.DisplayFor(modelItem => item.brand) - #@Html.DisplayFor(modelItem => item.serial) </div></td>
                                @*else
                                                        {
                                    <td>--</td>}*@
                                <td>@ViewHelpers.backupHelper(item.is_backup)</td>
                                <td class="text-dark h6">@item.operation_date.ToShortDateString()</td>
                                <td>@item.dateProgrammed.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                <td class="text-dark h6">@item.end_time.Value.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                <td>@Html.DisplayFor(modelItem => item.time_elapsed, "{0:hh\\:mm}")</td>
                                @*<td><div>@Html.DisplayFor(modelItem => item.priority) </div></td>*@
                                <td>
                                    <a id="d@(item.id)" class="fa fa-list detailsBtn" data-target="#detailsMonitor" data-toggle="modal" href="#"></a>
                                </td>
                                <td>
                                    @if (item.retries.StartsWith("\"")) //Cuando comienza con "es-US" o "es-ES"
                                    {
                                        <span>0</span>
                                    }
                                    else
                                    {
                                        if (int.Parse(item.retries) > 0)
                                        {<h3> <a id="@item.id" class="badge badge-warning retryBadge" data-target="#detailsMonitor" data-toggle="modal" href="#">@Html.DisplayFor(modelItem => item.retries)</a></h3> }
                                    else
                                    { <span>@Html.DisplayFor(modelItem => item.retries)</span>}
                            }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="col-6"><h6 class="alert alert-secondary">No se registra tareas completadas en este periodo.</h6></div>
        }
    </div>
</div>

<script src="@Url.Content("~")Content/vendor/datatablesCHK/dataTables.checkboxes.min.js"></script>
<script src="@Url.Content("~")Scripts/Monitor.js"></script>
<script>
    $(function () {
         table = $('#tblFrontera').DataTable(
            {
                "language": {
                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                 }
                 ,
                 "pageLength": 15,
                 
                 'columnDefs': [
                     {
                         'targets': 0,
                         'checkboxes': {
                             'selectRow': true
                         },
                         "className": "text-center",

                     },
                     {
                         'targets': 0, //Boxes
                         "className": "text-center",
                         "width": "8%"
                     },
                     {
                         'targets': 6, //Retries
                         "className": "text-center",
                     },
                 ],
                 'select': {
                     'style': 'multi'
                 }
                 ,
                 'order': [[7, 'desc']]
                //    ,
                //"columnDefs": [
                //     {
                //         "targets": 1, // your case first column
                //         "className": "text-center",
                //         "width": "4%"
                //     },
                //     {
                //         "targets": 0,
                //         "width": "15%"
                //     }],
                 @*"ajax": {
                     method: "GET",
                     url: "@Url.Content("~")Monitor/Page",
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     data: function (d) {
                         return $.extend({}, d, { page: page, dest: dest, update: update })
                     }
                 }*@
                     @*function (data, callback, settings) {
                     $.ajax({
                         url: "@Url.Content("~")Monitor/Page",
                         method: 'GET',
                         data: { page: page, dest: dest, update: update },
                         //dataSrc: "d.data",
                     }).done(callback);*@

            }
         );
    })
    $(".detailsBtn").click(function () {
        $("#detailsWrapper").empty()
        $('#loaderModal').show();
        var id = $(this).prop("id").split('d')[1];
        $.ajax({
            type: "GET",
            url: "@Url.Content("~")Telemetry/Monitor/Details",
            data: { id_ri: id},
            success: function (data) {
                $('#loaderModal').hide();
                $("#detailsWrapper").html(data);
            }
            })
        }
    )
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>