﻿@model CGM.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase">
                    @if (USER.CLIENT == "ASC")
                    {
                        <img src="@Url.Content("~")Images/LogoLoginASC.png" style="width:90%" alt="" />
                    }
                    @if (USER.CLIENT == "CEDENAR")
                    {
                        <img src="@Url.Content("~")Images/LogoLoginCEDENAR.png" style="width:90%" />
                    }
                    @*<img src="~/Images/HeaderLettersBlack.png" style="width:90%" alt="" />*@
                </div>
                <br />
                <h2 class="text-primary text-xl-center">Iniciar sesión</h2>
                <form id="frm_login" class="text-left form-validate" re>
                    @Html.AntiForgeryToken()

                    <div class="form-group-material">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "input-material", required = "" })
                        @Html.LabelFor(m => m.UserName, new { @class = "label-material" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>

                    <div class="form-group-material">
                        @Html.PasswordFor(m => m.Password, new { @class = "input-material", required = "" })
                        @Html.LabelFor(m => m.Password, new { @class = "label-material" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <input type="hidden" name="grant_type" value="password" />

                    @*<label class="checkbox pull-left">
                            <input type="checkbox" value="remember-me">
                            Recordarme
                        </label>*@

                    <div class="form-group-material">
                        <div class="form-grouptext-center">
                            <input id="recordarme" name="recordarme" type="checkbox" value="remember-me" class="form-control-custom">
                            <label for="recordarme">Recordarme</label>
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="form-group text-center">
                            <button type="submit" id="login" class="btn btn-primary">Iniciar sesión</button>
                            <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                        </div>
                    </div>
                </form>
                <div id="loader" style="display:none" class="lds-ellipsis p-4"><div></div><div></div><div></div><div></div></div>

            </div>
            <div class="copyrights text-center">
                <p>&copy; @DateTime.Now.Year - Ingeniería y Desarrollo de Nariño - IDENAR S.A.S.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 id="modalMessage"></h5>
            </div>
        </div>
    </div>
</div>

@section scriptsbody {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>

        $(function () {
            clat = "";
            clon = "";
            cip = "";
           navigator.geolocation.getCurrentPosition(successCoords, errorCoords);
        })

        $(function () {
                returnUrl = "@ViewBag.ReturnUrl"
            $("#frm_login").submit(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~")token",
                    data: $("#frm_login").serialize(),
                    beforeSend: function () {
                        $('#registerModal').modal('hide');
                        $("#loader").show();
                        $("#msj_error").hide();
                    },
                    success: function (data, textStatus, jqXHR) {
                        sessionStorage.setItem('token_type', data.token_type);
                        sessionStorage.setItem('access_token', data.access_token);

                        saveLog(clat, clon,cip); //Estos parámetros pueden ser nulos

                        if (returnUrl == "") {
                            window.location="@Url.Action("Index", "Home")";
                        }
                        else {
                            window.location = returnUrl;
                        }
                        $("#loader").hide();
                    },
                    error: function (data) {
                        $("#loader").hide();
                        $('#registerModal').modal('show');
                        $("#msj_error").show();
                        var msg = data.responseJSON.error_description
                        if (msg == "The user name or password is incorrect.") {
                            msg = "Nombre de usuario o contraseña incorrectos." //Los mensajes llegan en inglés
                        }

                        $('#modalMessage').text(msg)
                    }
                });
                return false;
            });
        });
    </script>

    <script>
       
    </script>
}