﻿@model CGM.Models.CGMModels.ParamQuestion
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @*<input id="group_id" value="@ViewBag.group_id" style="display:none" />*@
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group m-1">
                @Html.LabelFor(model => model.Group, htmlAttributes: new { @class = "" })
                @Html.DropDownList("groups", null, "---- Seleccionar grupo ----", htmlAttributes: new { @class = "form-control", @style = "width: 100%", required = "required" })
            </div>
            <div class="form-group m-1">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de pregunta", required = "required" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group m-1">
                @Html.LabelFor(model => model.alias, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.alias, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de pregunta", required = "required" } })
                @Html.ValidationMessageFor(model => model.alias, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group m-1">
                @Html.LabelFor(model => model.type_id, htmlAttributes: new { @class = "" })
                @Html.DropDownList("type", null, "---- Seleccionar tipo de pregunta ----", htmlAttributes: new { @class = "form-control", @style = "width: 100%", required = "required" })
            </div>

        </div>
    </div>
    
    if (ViewBag.edit)
    {
        @Html.HiddenFor(model => model.id)
        <script>
            $('#groups').val('@Model.group_id')
            $('#type').val('@Model.type_id')
        </script>
    }
    else
    {
        <script>
            $('#groups').val('@ViewBag.group_id')
        </script>
    }

    <hr />
    @Html.Partial("_BtnSubmit", "Guardar")
}
