﻿@model CGM.Areas.Telemetry.Models.Model_Meter

@{
    ViewBag.Title = "Details";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Detalles</h1>
        </div>
    </div>
    <hr />
</header>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h4>Modelo de Medidor</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.brand)</td>
                                <th><h3>@Html.DisplayFor(model => model.brand)</h3></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.model)</td>
                                <th><h3>@Html.DisplayFor(model => model.model)</h3></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    
    <button type="submit" class="btn btn-lg btn-info edit">
        Editar
        <span class="fa fa-pencil"></span>
    </button>

    <button type="button" class="btn btn-lg btn-default back">
        Volver
        <span class="icon fa fa-arrow-left "></span>
    </button>

<p/>

@section scriptsbody{
<script>
    $(".edit").click(function (e) {
        document.location = "@Url.Action("Edit", new { id = Model.id })";
    });
    $(".back").click(function (e) {
        document.location = "@Url.Action("Index")";
        });
</script>
}