/* your styles go here */
.page-header-custom {
    padding-bottom: 1rem !important;
}

/* Loader ellipsis */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 15px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 13px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #f1b100;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 6px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 6px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 26px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 45px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}

.scroll200 {
    max-height: 300px;
    overflow-y: scroll;
}

.boxNoScrollBar::-webkit-scrollbar {
    display: none;
}

.boxNoScrollBar {
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
    max-height: 150px;
    width: 100%;
}

.boxNoScrollBar2 {
    overflow-y: scroll;
    height: auto;
    max-height: 100px;
    width: 100%;
    margin-bottom: -1.5em;
    margin-top: -1.5em;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.tblCustom {
    line-height: 1;
}

    .tblCustom td {
        vertical-align: middle;
        padding: .2rem
    }

.tblDetails {
    line-height: 1.4;
}

    .tblDetails td {
        text-align: center
    }

    .tblDetails th {
        text-align: center
    }

.whiteRight {
    color: white;
    float: right
}

.listSelectItem {
    text-align: left !important;
    line-height: 1;
    font-size: 0.8rem;
    padding: 0.8rem;
}

#input-select,
#input-number {
    padding: 7px;
    margin: 15px 5px 5px;
    width: 70px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.dataTables_info {
    font-size: 0.8rem;
}

.pagination {
    font-size: 0.8rem;
}

.DTFC_Cloned {
    background-color: white
}

.smallfontsize {
    font-size: 11px
}

.lineleft {
    border-left: groove
}

.negativeMarginChkIcon {
    margin-top: -20px;
    margin-left: -2px
}

.negativeMarginChkIconCol {
    margin-left: -20px
}

.displaynone {
    display: none
}

/*#region jquery-sortable*/
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.sortlist li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    list-style: none;
}

ul.sortlist li.placeholder:before {
    position: absolute;
    content: "";
    border: 5px solid transparent;
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border-left-color: red;
    border-right: none;

}
/*#endregion */

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

.container-custom {
    position: relative;
}

.vertical-center-custom {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
}

/*Fit images inside columns*/

.fit-image {
    width: 100%;
    object-fit: cover;
}
