﻿@model CGM.Areas.SurveyApp.Models.Response_Type

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(model=>model)
    
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
