﻿@model IEnumerable<CGM.Areas.SurveyApp.Models.Norm>

@{
    ViewBag.Title = "Normas";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row">
        <div class="col-sm-6">
            <h1 class="">
                <i class="fa fa-file-text" width="50"></i>
                Normas
            </h1>
        </div>
        <div class="col-sm-6 text-right">
            @if (User.IsInRole("Administrator") || User.IsInRole("Creator"))
            {
                <p>
                    @Html.ActionLink("+ Nueva norma", "Create", null, new { @class = "btn btn-primary" })
                </p>
            }
        </div>
    </div>
</header>
<div class="card">
    <div class="card-body">
        <table class="table" id="tbl_norm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a href="@Url.Content("~"+item.Url)" target="_blank"><span class="glyphicon glyphicon-download"></span>Descargar</a>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Creator"))
                            {
                                <label>|</label>
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                                <label>|</label>
                                @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                                <label>|</label>
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript");
    <script>
        $(function () {
            $('#tbl_norm').DataTable({
                "language": {
                    "url": "@Url.Content("~/Scripts/es-CO.txt")"
                }
            });
        })
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}

