﻿@model List<CGM.Areas.SurveyApp.Models.MyModels.CVModel>

@{
    ViewBag.Title = "SurveyManagerList";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}

<header>
    <div class="row">
        <div class="col-sm-6">
            <h1 class="">
                <i class="fa fa-file-text" width="50"></i>
                Hojas de vida
            </h1>
        </div>
        <div class="col-sm-6 text-right">
            @Html.ActionLink("Nueva hoja de vida", "AutoShare", "ShareSurveys", new { id = 1 }, new { @class = "btn btn-primary" })
        </div>
    </div>
</header>
<div class="card">
    <div class="card-body">
        <table id="tbl_SML" class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        COD NIU
                    </th>
                    <th>
                        Ultima actualización
                    </th>
                    <th>
                        Municipio
                    </th>
                    <th>
                        Tensión.S(Kv)
                    </th>
                    <th>
                        Capacidad.I(kVA)
                    </th>
                    <th>
                        Estado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NiuCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LasUpdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Municipality)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            @switch (item.StateCV)
                            {
                                case CGM.Areas.SurveyApp.Models.MyModels.StateCV.inicio:
                                    <img src="@Url.Content("~/Areas/SurveyApp/Images/rojo.png")" />
                                    break;
                                case CGM.Areas.SurveyApp.Models.MyModels.StateCV.Ejecucion:
                                    <img src="@Url.Content("~/Areas/SurveyApp/Images/amarillo.png")" />
                                    break;
                                case CGM.Areas.SurveyApp.Models.MyModels.StateCV.Fin:
                                    <img src="@Url.Content("~/Areas/SurveyApp/Images/verde.png")" />
                                    break;

                            }
                        </td>

                        <td>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Creator"))
                            {
                                @Html.ActionLink("Editar", "ConductSurvey", "SurveyManager", new { id = item.Id }, null)
                            }
                            |
                            @Html.ActionLink("Ver", "Details", "SurveyManager", new { id = item.Id }, null)|
                            @Html.ActionLink("Descargar soportes", "DowloadSuport", "SurveyManager", new { id = item.Id }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")

    <script>
        $('#tbl_SML').DataTable({
            "language": {
                "url": "@Url.Content("~/Scripts/es-CO.txt")"
            }
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}

