﻿@model CGM.Models.CGMModels.PQRS

@{
    ViewBag.Title = "Crear";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Añadir nuevo </h1>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")


<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>Create</h2></div>
        <div class="card-body">

		@using (Html.BeginForm()) 
				{
			@Html.AntiForgeryToken()
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="row">
				<div class="col-lg-12">
							<div class="form-group-material">
													@Html.DropDownList("user_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%"})
																@Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger small" })
														@Html.LabelFor(model => model.user_id, "user_id", htmlAttributes: new { @class = "label-material" })
								</div>
							<div class="form-group-material">
		  
										<div class="input-control text full-size" data-role="datepicker">
											<input type="text" id="date_created" name="date_created">
											<button class="button"><span class="mif-calendar"></span></button>
										</div>
														@Html.ValidationMessageFor(model => model.date_created, "", new { @class = "text-danger small" })
														@Html.LabelFor(model => model.date_created, htmlAttributes: new { @class = "label-material" })
								</div>
							<div class="form-group-material">
		  
										<div class="input-control text full-size" data-role="datepicker">
											<input type="text" id="date_closed" name="date_closed">
											<button class="button"><span class="mif-calendar"></span></button>
										</div>
														@Html.ValidationMessageFor(model => model.date_closed, "", new { @class = "text-danger small" })
														@Html.LabelFor(model => model.date_closed, htmlAttributes: new { @class = "label-material" })
								</div>
							<div class="form-group-material">
									<label class="switch" >
								<input type="checkbox" />
								<span class="check"></span>
							</label>
									@Html.EditorFor(model => model.solved, "", new { htmlAttributes = new { @class = "input-material"} })
    														@Html.ValidationMessageFor(model => model.solved, "", new { @class = "text-danger small" })
    													<label class="switch" >
										<input type="checkbox" />
										<span class="check"></span>
									</label>
												@Html.LabelFor(model => model.solved, htmlAttributes: new { @class = "label-material" })
								</div>
				</div>
		</div>
        @Html.Partial("_BtnSubmit", "Crear")
		}
		</div>
    </div>
</div>

