﻿@using Newtonsoft.Json;
@model CGM.Models.CGMModels.PQRS

@{
    ViewBag.Title = "Detalles PQRS";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    List<string> paths = new List<string>();
}

<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Detalles PQRS</h1>
        </div>
    </div>
    <hr />
</header>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-3">Asunto:</h5>
                @Model.title
            </div>
            <div class="list-group card-list-group">
                @foreach (var message in Model.PQRS_Messages)
                {
                    { paths = JsonConvert.DeserializeObject<List<string>>(message.files); }
                    <div class="list-group-item py-5 pl-5">
                        <div class="media">
                            <div class="media-body">
                                <div class="media-heading">
                                    <small class="float-right text-muted">
                                        <span data-utcdate="@message.date_created.ToString("s", System.Globalization.CultureInfo.InvariantCulture)" id="@message.id"></span>
                                    </small>
                                    <h5>
                                        @message.User.UserName
                                        @if (User.IsInRole("Desarrollador") || USER.USERNAME == Model.User.UserName)
                                        {
                                            if (!Model.solved)
                                            {
                                                <a id="delete_@message.id" class="delete_message_btn fa fa-trash small btn-sm text-danger"></a>
                                            }
                                        }
                                    </h5>

                                </div>
                                <div class="text-muted text-small">@message.message</div>
                                <br />
                                @if (paths.Count > 0)
                                {
                                    <div class="row">
                                        @foreach (var item in paths)
                                        {
                                            <div class="col-3">
                                                <a href="@Url.Content("~")PQRS/DownloadAttachment?path=@item" target="_blank">
                                                    <img class="img-responsive fit-image" alt="Descargar" src="@Url.Content("~")@item" onerror="this.onerror=null;this.src='@Url.Content("~")Images/download.png';" />
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (!Model.solved)
            {
                <div class="card-footer">
                    <form id="form_new_message" method="post" action="@Url.Content("~")PQRS/AddMessage">
                        <div class="input-group">
                            @Html.HiddenFor(h => h.id)
                            <textarea id="message" placeholder="Mensaje" name="message" required class="form-control"></textarea>
                            <div class="input-group-append">
                                <button id="new_message_button" type="button" class="btn btn-outline-secondary"><i class="fa fa-send"></i></button>
                            </div>
                        </div>
                    </form>
                    <form class="dropzone dz-clickable" id="fileUploadNewMessage" action="@Url.Content("~")PQRS/AddMessage">
                        <div class="dz-message">
                            <p>Arrastre el archivo hasta aquí.</p>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4>@Model.title</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>

                            <tr>
                                <td scope="row">Creador</td>
                                <th><h5>@Html.DisplayFor(model => model.User.UserName)</h5></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.date_created)</td>
                                <th><h5>@Html.DisplayFor(model => model.date_created)</h5></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.date_closed)</td>
                                <th><h5>@ViewHelpers.AbiertoOCerrado(Model.date_closed != null, Model.date_created.ToString())</h5></th>
                            </tr>
                            <tr>
                                <td scope="row">@Html.DisplayNameFor(model => model.solved)</td>
                                <th><h5>@ViewHelpers.AbiertoOCerrado(Model.solved, "Cerrado")</h5></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                @if (User.IsInRole("Desarrollador"))
                {
                    if (!Model.solved)
                    {
                        <button id="solved_@Model.id" class="small btn btn-sm btn-success">Marcar como resuelto</button>
                    }
                    else
                    {
                        <button id="solved_@Model.id" class="small btn btn-sm btn-warning">Marcar como no resuelto</button>
                    }
                }
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("Desarrollador") || USER.USERNAME == Model.User.UserName)
{
    <script>
        $(".delete_message_btn").click(function () {
            res = confirm('¿Está seguro que desea eliminar este elemento? Los cambios no se podrán deshacer.');

            id =  this.id.split('_')[1] // delete_23

            if (res) {
                $.ajax({
                    type: "POST",
                    xhrFields: {
                        withCredentials: true
                    },
                    url: "@Url.Content("~")PQRS/DeleteMessage/" + id,
                    success: function (data, textStatus, jqXHR) {
                        window.location.reload();
                    },
                    error: function (err) {
                        alert("Se produjo un error en el proceso:" + err);
                    }
                });
            }
         })
    </script>
    <script>
        $("#solved_@Model.id").click(function () {
            res = confirm('¿Está seguro que desea marcar como resuelto este elemento?');

            id =  this.id.split('_')[1] // solved_23

            if (res) {
                $.ajax({
                    type: "POST",
                    xhrFields: {
                        withCredentials: true
                    },
                    url: "@Url.Content("~")PQRS/MarkAsSolved/" + id,
                    success: function (data, textStatus, jqXHR) {
                        window.location.reload();
                    },
                    error: function (err) {
                        alert("Se produjo un error en el proceso:" + err);
                    }
                });
            }
         })
    </script>
}
<script src="@Url.Content("~")Content/vendor/tempusdominus/moment-with-locales.min.js"></script>
<script type="text/javascript">
    moment.locale('es')
    $(function () {
        $('[data-utcdate]').each(function () {
            var d = moment($(this).attr('data-utcdate')).fromNow();
            $(this).text(d);
        });
    });
</script>
<script src="@Url.Content("~")Content/vendor/dropzone/dropzone.js"></script>
<script>

Dropzone.options.fileUploadNewMessage = {
//prevents Dropzone from uploading dropped files immediately
autoProcessQueue: false,
uploadMultiple: true,

init: function () {
    var myDropzone = this; //closure
    $("#new_message_button").click(function (e) {
        if ($("#message").val() == "") {
            alert("Por favor introduzca un mensaje.");
            return;
        }
        //debugger;
        // If no files were uploaded, do not prevent default and submit
        if (myDropzone.files.length != 0) {
            e.preventDefault();
            myDropzone.processQueue();
        }
        else {
            $('#form_new_message').submit()
        }

    });

    this.on('sending', function (file, xhr, formData) {
        // Append all form inputs to the formData Dropzone will POST
        var data = $('#form_new_message').serializeArray();
        $.each(data, function (key, el) {
            formData.append(el.name, el.value);
        });
    });

    this.on('success', function () {
        window.location.href = "@Url.Content("~")PQRS/Details/" + @Model.id;
        })
    },
}


</script>