﻿@model IEnumerable<CGM.Models.CGMModels.PQRS>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "PQSR - Listado";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                <i class="fa fa-users"></i>
                <i class="fa fa-cogs mr-3"></i>PQRS
            </h1>
        </div>
    </div>
</header>


<div class="row">
    <div class="col-lg-10">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2>Listado</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@modelName" class="table">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>@Html.DisplayNameFor(model => model.title)</th>
                                <th>@Html.DisplayNameFor(model => model.date_created)</th>
                                <th>@Html.DisplayNameFor(model => model.date_closed)</th>
                                <th>@Html.DisplayNameFor(model => model.solved)</th>
                                <th>Mensajes</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                                <td>@Html.DisplayFor(modelItem => item.title)</td>
                                <td>@Html.DisplayFor(modelItem => item.date_created)</td>

                                <td> @ViewHelpers.AbiertoOCerrado(item.date_closed != null, item.date_created.ToString()) </td>
                                <td> @ViewHelpers.AbiertoOCerrado(item.solved, "Cerrado") </td>

                                <td>@item.PQRS_Messages.Count</td>
                                <td>
                                    @Html.ActionLink(" ", "Details", new { id = item.id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Detalles" })
                                    @if (User.IsInRole("Desarrollador"))
                                    {
                                        @Html.ActionLink(" ", "Delete", new { id = item.id, }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Eliminar" })
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    }
                }
            );
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


