﻿@model CGM.Areas.SurveyApp.Models.DataSourceItem

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

@Html.DisplayFor(model=>model)
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index", new {id=Model.Id_DataSource })
</p>
