﻿@model CGM.Areas.SurveyApp.Models.DataSource

@{
    ViewBag.Title = "Editar";
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index",null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1>Editar elemento</h1>
        </div>
    </div>
</header>
<div class="card col-lg-6">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(model => model)
        @Html.Partial("_BtnSubmit", "Guardar")
    }

</div>
