﻿@model CGM.Areas.SurveyApp.Models.Norm
@{
    ViewBag.Title = "Norm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Norma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>       

    </dl>

</div>

