﻿@model CGM.Areas.SurveyApp.Models.Response_Type

@{
    ViewBag.Title = "Eliminar";
}

<h2>Borrar</h2>

<h3>¿Está seguro de eliminar este tipo de pregunta?</h3>
@Html.DisplayFor(model=>model)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        @Html.ActionLink("Regresar", "Index")
    </div>
}
