﻿@model IEnumerable<CGM.Areas.SurveyApp.Models.Response_Type>

@{
    ViewBag.Title = "Index";
}

<h2>Tipo de respuesta</h2>

<p>
    @Html.ActionLink("Nuevo tipo de respuesta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
