﻿@{
    ViewBag.Title = "ErrorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Html.Raw(TempData["msg"])*@

<br />

<div class="container-fluid padding40 col-sm-6" style="background-color:white">
    <div class="centeredAcross"><img src="~/Images/Error404.png" style="max-width:100%; height:auto" /></div>
    <br />
    <br />
    <h3>El recurso que buscaba no pudo ser encontrado.</h3>
    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <h4>Mensaje de Error: @ViewBag.ErrorMessage</h4>
    }
    <h4>Por favor regrese al inicio</h4>
    <button class="shortcut-button bg-cyan bg-active-darkBlue fg-white" style="margin:20px" onclick="location.href='@Url.Action("Index","Home")'">
        <span class="fa fa-2x fa-home"></span>
    </button>
</div>




