﻿@{
    ViewBag.Title = "Error de servidor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container-fluid" style="background-color:white">
    <div class="row padding40">
        <div class="col-lg-2" ></div>
        <div class="col-lg-4">
            <div class="">
                <img src="~/Images/Error500.png" style="max-width:100%; height:auto" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="">
                <img src="~/Images/Error500-Num.png" style="max-width:100%; height:auto" />
            </div>
        </div>
        <div class="col-lg-2" ></div>
    </div>

    <h3>Hubo un problema en el proceso.</h3>

    <h4>Lo sentimos, algo salió mal. Por favor vuelva a intentar.</h4>

    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <h4>Mensaje de Error: @ViewBag.ErrorMessage</h4>
    }

    <button class="shortcut-button bg-cyan bg-active-darkBlue fg-white" style="margin:20px" onclick="location.href='@Url.Action("Index","Home")'">
        <span class="fa fa-2x fa-home"></span>
    </button>
</div>
