﻿@model CGM.Areas.SurveyApp.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Preguntas</h2>
@Html.DisplayFor(model=>model)

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index", new { id = Model.Id_SurveyTemplate })
</p>
