﻿@model CGM.Areas.SurveyApp.Models.Question

@{
    ViewBag.Title = "Editar";
}
<header class="page-header-custom">
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index",new {id=Model.Id_SurveyTemplate}, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>

<div class="card col-sm-6">
    @using (Html.BeginForm())

    {
        @Html.EditorFor(model => model)
    }
</div>

@section scriptsbody{
    <script src="@Url.Content("~")Areas/SurveyApp/Scripts/Questions.js"></script>
}