﻿@model CGM.Areas.SurveyApp.Models.MyModels.QuestionList

@{
    ViewBag.Title = "Preguntas";
}

<header>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="pr-4 col-1">@Html.ActionLink(" ", "Index", "SurveyTemplates", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
                <div>
                    <h1 class="">
                        <i class="fa fa-question-circle" width="50"></i>
                        Preguntas
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            @if (User.IsInRole("Administrator") || User.IsInRole("Creator"))
            {
                @*<p>
                        @Html.ActionLink("+ Nueva pregunta", "Create", new { id = Model.SurveyTemplate.Id }, new { @class = "btn btn-primary" })
                    </p>*@
                @Ajax.ActionLink("+ Nueva pregunta", "Create", new { id = Model.SurveyTemplate.Id}, new AjaxOptions()
                 {
                     HttpMethod = "GET",
                     UpdateTargetId = "createWrapper"
                 }, new { @class = "btn btn-primary" })

            }
        </div>
    </div>
    <hr />
</header>
<div class="row">
    <div class="col-lg-8">
        <div class="alert alert-info">
            <h4 class="alert-heading p-2">
                @Model.SurveyTemplate.Name
            </h4>
            <div class="">
                <p class="">
                    @Model.SurveyTemplate.Description
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_question" class="table">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th> 
                                <th>
                                    Orden
                                </th>
                                <th>
                                    Enumeración
                                </th>
                                <th>
                                    Titulo
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.Questions)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderQuestion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EnumLabel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Opciones de respuesta", "Index", "Responses", new { id = item.Id }, null) |
                                        @Ajax.ActionLink(" ", "Edit", new { id = item.Id }, new AjaxOptions()
                                   {
                                       HttpMethod = "GET",
                                       UpdateTargetId = "createWrapper"
                                   }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_placement = "top", title = "Editar" })
                                        @Html.ActionLink(" ", "Details", new { id = item.Id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_placement = "top", title = "Detalles" }) |
                                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_placement = "top", title = "Borrar" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div id="createWrapper"></div>
    </div>

</div>

@*<div class="card col-sm-4">
        <ol class="list-group nested_with_switch vertical">

            <li class="list-group-item">
                Item 2
            </li>
            <li class="list-group-item">
                Item 3
            </li>
            <li class="list-group-item">
                Item 1
            </li>
            <li class="list-group-item">
                Item 4
                <ol class="list-group">

                    <li class="list-group-item">Item 3.2</li>
                    <li class="list-group-item">Item 3.3</li>
                    <li class="list-group-item">Item 3.1</li>
                    <li class="list-group-item">Item 3.4</li>
                    <li class="list-group-item">Item 3.5</li>
                    <li class="list-group-item">Item 3.6</li>
                </ol>
            </li>
            <li class="list-group-item">
                Item 5
            </li>
            <li class="list-group-item">
                Item 6
            </li>
        </ol>
    </div>*@

@section scriptsbody {
    <script src="@Url.Content("~")Areas/SurveyApp/Scripts/Questions.js"></script>
    <script src='@Url.Content("~")Content/js/jquery-sortable.js'></script>

    <script>
        var oldContainer;
        $("ol.nested_with_switch").sortable({
            group: 'nested',
            afterMove: function (placeholder, container) {
                if (oldContainer != container) {
                    if (oldContainer)
                        oldContainer.el.removeClass("active");
                    container.el.addClass("active");

                    oldContainer = container;
                }
            },
            onDrop: function ($item, container, _super) {
                container.el.removeClass("active");
                _super($item, container);
            }
        });

        $(".switch-container").on("click", ".switch", function (e) {
            var method = $(this).hasClass("active") ? "enable" : "disable";
            $(e.delegateTarget).next().sortable(method);
        });
    </script>


    <!-- Data Tables-->
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#tbl_question').DataTable(
                {
                    "language": {
                        "url": "@Url.Content("~")Scripts/es-CO.txt"
                    },

                    "columnDefs": [
                        { "width": "5%", "targets": 0 },
                        { "width": "30%", "targets": 3 }
                    ],
                    "order": [[1, "asc"]]
                }
            );
        });
    </script>

}


@section styles {
    <link href="@Url.Content("~")Content/css/jquery-sortable.css" rel="stylesheet">
    @Styles.Render("~/bundles/dataTablesStyle")

}
