﻿@using CGM.Models.MyModels;
@model List<Tuple<string, CGM.Areas.Telemetry.Models.VMeter>>
@{ List<string> ansNames = ViewBag.ansNames;
    VAnswer vans = new VAnswer();}

<div class="card">
    <div class="card-header">Archivo de configuración</div>
    <div class="card-body">
        <table class="table" id="tbl">
            <thead>
                <tr>
                    <th>Nuevo?</th>
                    <th>Código SIC</th>
                    <th>Frontera</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Serie</th>
                    @foreach (var ansName in ansNames)
                    {
                        <th>@ansName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.Item1 == "new")
                        {
                            <td class="text-success">Nuevo</td>}
                        @if (item.Item1 == "existing")
                        {
                            <td class="text-secondary">Existente</td>}
                        <td>@item.Item2.boundaryCode</td>
                        <td>@item.Item2.boundaryName</td>
                        <td>@item.Item2.brand</td>
                        <td>@item.Item2.model</td>
                        <td>@item.Item2.serial</td>

                        @foreach (var ansName in ansNames)
                        {
                            { vans = item.Item2.vAnswers.Where(a => a.answerOptionName == ansName).FirstOrDefault();  }
                            if (vans != null){<td>@vans.value</td>}
                            else{<td>""</td>}
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@if (ViewBag.errors != null)
{
    if (ViewBag.errors.Count != 0)
    {
        <div class="card">
            <div class="card-header">Errores en archivo</div>
            <div class="card-body">
                <table>
                    @foreach (var error in ViewBag.errors)
                    {
                        <tr>
                            <td>@error</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
}

<script>
    table = $("#tbl").DataTable({
        "scrollY": "1000px",
        "paging": false
        //"colReorder": true
    });
</script>



