﻿@model CGM.Areas.Telemetry.Models.Meter

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-12">

                    <div class="form-group m-1">
                        @Html.LabelFor(model => model.serial, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.serial, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Serial" } })
                        @Html.ValidationMessageFor(model => model.serial, "", new { @class = "text-danger small" })
                    </div>

                    @*<div class="form-group m-1">
                        @Html.LabelFor(model => model.multiplicative_factor, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.multiplicative_factor, "", new { htmlAttributes = new { @class = "form-control" , placeholder="Factor multiplicativo" } })
                        @Html.ValidationMessageFor(model => model.multiplicative_factor, "", new { @class = "text-danger small" })
                    </div>*@

                    <div class="form-group-material m-1">
                        @Html.LabelFor(model => model.info, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.info, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Información" } })
                        @Html.ValidationMessageFor(model => model.info, "", new { @class = "text-danger small" })
                    </div>
                    <div class="form-group-material m-1">
                        @Html.LabelFor(model => model.Model_Meter, htmlAttributes: new { @class = "label-material" })
                        @Html.DropDownList("model_meter_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.model_meter_id, "", new { @class = "text-danger small" })
                    </div>
                </div>
            </div>
            @Html.Partial("_BtnSubmit", "Crear")

        }
