﻿@model CGM.Areas.Telemetry.Models.Meter
@*// Received the ID of the form*@
@{
    ViewBag.Title = "Configuración de medidor";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> <i class="fa fa-gear text-gray"></i> Configuración de medidor </h1>
        </div>
    </div>
    <hr />
</header>


@Html.DisplayFor(model => model)
<div id="FormInstancePartial"></div>

<script>
    $(function initForm() {
        $.ajax({
            url: ROOT + 'ParamFormInstances/EditFormPartial',
            method: 'GET',
            data: {
                id: @Model.formConfiguration_id
            },
            success: function (data) {
                $("#FormInstancePartial").html(data)
                // The following parameters are only to be shown, but not modified.
                // This could be done in a much more elegant way tho.
                // Internally, the modifications are not allowed as well.
                $("#questionSet1007").find('*').attr("disabled", "disabled") // Disable models
                $("#questionSet1008").find('*').attr("disabled", "disabled") // Disable protocols
            }
        })
    })
</script>