﻿@model CGM.Areas.Telemetry.Models.Meter

@{
    ViewBag.Title = "Crear";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Añadir nuevo </h1>
        </div>
    </div>
</header>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger col-lg-6"><span>@ViewBag.Error</span></div>
}

<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>Medidor</h2></div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-lg-12">

                        <div class="form-group-material m-1">
                            @Html.EditorFor(model => model.serial, "", new { htmlAttributes = new { @class = "input-material"} })
                            @Html.LabelFor(model => model.serial, htmlAttributes: new { @class = "label-material" })
                            @Html.ValidationMessageFor(model => model.serial, "", new { @class = "text-danger small" })
                        </div>

                        @*<div class="form-group-material m-1">
                            @Html.EditorFor(model => model.multiplicative_factor, "", new { htmlAttributes = new { @class = "input-material"} })
                            @Html.LabelFor(model => model.multiplicative_factor, htmlAttributes: new { @class = "label-material" })
                            @Html.ValidationMessageFor(model => model.multiplicative_factor, "", new { @class = "text-danger small" })
                        </div>*@

                        <div class="form-group-material m-1">
                            @Html.EditorFor(model => model.info, "", new { htmlAttributes = new { @class = "input-material"} })
                            @Html.LabelFor(model => model.info, htmlAttributes: new { @class = "label-material" })
                            @Html.ValidationMessageFor(model => model.info, "", new { @class = "text-danger small" })
                        </div>
                        <div class="form-group-material m-1">
                            @Html.LabelFor(model => model.Model_Meter, htmlAttributes: new { @class = "label-material" })
                            @Html.DropDownList("model_meter_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.model_meter_id, "", new { @class = "text-danger small" })
                        </div>
                    </div>
                </div>
                @Html.Partial("_BtnSubmit", "Crear")

            }
        </div>
    </div>
</div>

