﻿@model IEnumerable<CGM.Models.CGMModels.VMeasure>  

<div class="card">
    <div class="card-header">
        <h4>Reporte preliminar</h4>        
    </div>
    <div class="card-body"> 
      
                <div class="table-responsive"> 
                    <table id="tblMeasures" class="table small">
                        <thead>
                            <tr>
                                <th style="width:100px;">CODIGO SIC</th>
                                <th style="width:170px;">USUARIOS</th>
                                <th>ACTIVA MEDIDOR</th>
                                <th>REACTIVA MEDIDOR</th>
                                <th>ACTIVA REPORTADA MEM</th>
                                <th>DIFERENCIA</th>
                                <th>PORCENTAJE</th>
                                <th>PROYECTADO</th>
                                @foreach (var boundary in Model.GroupBy(m => new Tuple<int,int>(m.operation_date.Month, m.operation_date.Year)).OrderBy(m => new Tuple<int,int>(m.Key.Item2, m.Key.Item1)))
                                {
                                <th style="width:80px;">@boundary.Key.Item1 / @boundary.Key.Item2</th>  
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var boundary in Model.GroupBy(m => new Tuple<string, string, bool?>(m.name, m.code, m.is_backup)))
                            {
                            <tr>
                                <td>@Html.DisplayFor(model => boundary.Key.Item2)</td>
                                <td>@Html.DisplayFor(model => boundary.Key.Item1)</td>
                                <td>@Math.Round(@boundary.Where(m => m.unit == "kWh").Sum(m => m.measure), 3).ToString().Replace(",", ".")</td>
                                <td>@Math.Round(@boundary.Where(m => m.unit == "kVARh").Sum(m => m.measure), 3).ToString().Replace(",", ".")</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                @foreach (var boundaryDate in Model.GroupBy(m => new Tuple<int, int>(m.operation_date.Month, m.operation_date.Year)).OrderBy(m => new Tuple<int,int>(m.Key.Item2, m.Key.Item1)))
                                {
                                    var valor = boundary.Where(m => m.unit == "kWh" && m.operation_date.Month == boundaryDate.Key.Item1 && m.operation_date.Year == boundaryDate.Key.Item2).Sum(m => m.measure);

                                    if (valor > 0)
                                    {
                                        <td class="text-center" style="width:80px;">@Math.Round(@valor, 3).ToString().Replace(",", ".")</td>
                                    }
                                    else
                                    {
                                        <td class="text-center" style="width:80px;">0</td>
                                    }
                                }                                

                            </tr>
                            }
                        </tbody>
                    </table> 
                </div>
                <script>
                    $(function () {
                        var table = $('#tblMeasures').DataTable(
                          {
                             dom:`<'row'<'col-sm-9 text-left'B><'col-sm-3'f>>
                                  <'row'<'col-sm-12'tr>>
                                  <'row'<'col-sm-5'i><'col-sm-7'p>>`
                                  ,
                            lengthChange: false,
                              buttons: [
                                  {
                                      extend: 'csv',
                                      title: 'COMPARATIVO MENSUAL'
                                  },
                                  {
                                      extend: 'excel',
                                      title: 'Titulo de Reporte'
                                  }
                              ],
                               "language": {
                                    "url": "@Url.Content("~")Scripts/es-CO.txt"
                                  },
                            "columnDefs": [
                                { "width": "90px", "targets": 1 }
                            ],
                              scrollY: "500px",
                              scrollX: true,
                              scrollCollapse: true,
                              paging: false,
                              fixedColumns: {
                                  leftColumns: 2
                            },
                              "order": [[2, "desc"], [3, "desc"], [4, "desc"]]
                          })

                        table.buttons().container()
                            .appendTo($('.col-md-6:eq(0)', table.table().container()));                       
                    })
                </script>        
        <hr />
    </div>
</div>
