﻿@model CGM.Models.CGMModels.CurvaTip

@{
    ViewBag.Title = "Editar";
    String ctrl=ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";    
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>

@Html.Partial("_TempResult")

<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>CurvaTip</h2></div>
        <div class="card-body">

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.month, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.month, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.month, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.year, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.year, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
                @Html.DropDownList("acquisition_item_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%"})
            @Html.LabelFor(model => model.acquisition_item_id, "acquisition_item_id", htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.acquisition_item_id, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
              
  							@Html.EditorFor(model => model.scope, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
            @Html.LabelFor(model => model.scope, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.scope, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group-material">
  
                                <div class="input-control text full-size" data-role="datepicker">
                                    <input type="text" id="dateCreated" name="dateCreated">
                                    <button class="button"><span class="mif-calendar"></span></button>
                                </div>
            @Html.LabelFor(model => model.dateCreated, htmlAttributes: new { @class = "label-material" })
                @Html.ValidationMessageFor(model => model.dateCreated, "", new { @class = "text-danger small" })
            </div>
        @Html.Partial("_BtnSubmit","Guardar")

}
        </div>
    </div>
</div>

        
