﻿@model List<CGM.Models.CGMModels.ParamGroup>
@using CGM.Models.CGMModels

@{
    /**/

    ViewBag.Title = "Editar datos de formulario";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
    bool radioTitleFlag = true; //To print the title of the question in radio only once
    List<VParam> vParams = ViewBag.VAnswers;
    Dictionary<int, string> vParamDict = vParams.ToDictionary(v => v.idAnswerOption, v => v.value);
    string checkedStr = "";
    int[] AnswersIds = vParams.Select(vp => vp.idAnswerOption).ToArray();
    string valueInField = "";

}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>



@Html.AntiForgeryToken()

@Html.Partial("_TempResult")
@using (Html.BeginForm("Edit", "ParamFormInstances", FormMethod.Post, new { @id = "FormInstanceForm" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        @foreach (var group in Model.OrderBy(g => g.index))
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header mb-2"><h4 class="display">@group.name</h4></div>
                    <div class="card-body">

                        @foreach (var question in group.Questions.OrderBy(q => q.index))
                        {
                            <div id="questionSet@(question.id)">

                                @{ radioTitleFlag = true; }
                                @if (question.type_id != 6) // Radio. Sólo por motivos de organización estéticos
                                {
                                <p class="display">@question.name</p>
                                }

                                @foreach (var answerOption in question.AnswerOptions.OrderBy(a=>a.index))
                                {
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        @if (answerOption.type_id != 4) //Radio
                                        {
                                            <label>@answerOption.name</label>
                                        }
                                        else
                                        {
                                            if (radioTitleFlag == true)
                                            {
                                                <p class="display m-0">@question.name</p>
                                                { radioTitleFlag = false; }
                                            }
                                        }
                                    </div>
                                    <div class="col-sm-9">
                                        @{
                                            if (vParamDict.ContainsKey(answerOption.id))
                                            {
                                                valueInField = vParamDict[answerOption.id];
                                            }
                                            else
                                            {
                                                valueInField = "";
                                            }
                                        }
                                        @if (answerOption.type_id == 1) //Text
                                        {
                                            <input id="@(answerOption.id)" name="@(answerOption.id)" type="text" placeholder="@(answerOption.name)" value="@valueInField" class="form-control">
                                        }
                                        @if (answerOption.type_id == 2) //Password
                                        {
                                            <div class="row ml-2">
                                                <input id="@(answerOption.id)" name="@(answerOption.id)" type="password" placeholder="@(answerOption.name)" value="@valueInField" class="form-control col-lg-10">
                                                <i class="fa fa-eye p-3 unveilPass col-lg-1"></i>
                                            </div>
                                        }
                                        @if (answerOption.type_id == 3) //Number
                                        {
                                            <input id="@(answerOption.id)" name="@(answerOption.id)" type="number" placeholder="@(answerOption.name)" value="@valueInField" class="form-control">
                                        }
                                        @if (answerOption.type_id == 4) //Radio
                                        {
                                            {
                                                if (AnswersIds.Contains(answerOption.id))
                                                {
                                                    checkedStr = "checked";
                                                }
                                                else
                                                {
                                                    checkedStr = "";
                                                }
                                            }
                                            <div class="i-checks">
                                                <input id="@(answerOption.id)" type="radio" name="@(question.id),radio" value="@answerOption.value" @checkedStr class="form-control-custom radio-custom m-0 p-0">
                                                <label for="@(answerOption.id)">@answerOption.name</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                }
                            </div>

                            <hr />
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    @Html.Partial("_BtnSubmit", "Guardar")
}

<script>
    $('#btnSubmit').click(function (event) {
        event.preventDefault();
        var xcn = sessionStorage.getItem('token_type') + ' ' + sessionStorage.getItem('access_token');

        $.ajax({
            url: ROOT + 'ParamFormInstances/Edit',
            method: 'POST',
            xhrFields: {
                withCredentials: true
            },

            dataType: 'json',
            data: {
                formdata: JSON.stringify($('#FormInstanceForm').serializeArray()),
                __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val()
            },
            success: function (data) {
                console.log(data)
                window.location.reload()
                window.scrollTo(0, 0)
            }
        });
    });

    $(".unveilPass").on("mouseenter", function () { // Reveal password
        $($(this).siblings()[0]).prop("type", "text")
    })
    $(".unveilPass").on("mouseout", function () { // Hide password
        $($(this).siblings()[0]).prop("type", "password")
    })

    // Conditional script to block the options that have conditional clauses
    if ("@ViewBag.conditionsSet" != "") {
        conditionsSet = JSON.parse("@ViewBag.conditionsSet".replace(/&quot;/g, '"'))
        // Para cualquier tipo de cambio se corre el algoritmo
        // Se puede hacer más eficiente haciendo un mapeo inverso de las condiciones

        function checkConditionals() {
            $.each(conditionsSet, function (index, elementWithConditions) {
                if (elementWithConditions.Class == 0) { // AnswerOptions
                    field = $("#" + elementWithConditions.id)
                }
                if (elementWithConditions.Class == 1) { // Questions
                    field = $("#questionSet" + elementWithConditions.id).children()
                }
                disFlagAnd = [] // Disable flags. performs an AND operator

                // iterate over all the conditionals of the element, and evaluate every expression
                $.each(elementWithConditions.conditionals, function (ind, condition) {
                    evalField = $("#" + condition.Id)
                    disFlag = false; // Determines if the element gets disabled or not
                    if (condition.type == 4) { // If it's radio button
                        if (condition.operatorId == 0) { // EqualsTo
                            if (evalField.prop("checked")) { disFlag=true }
                        }
                        if (condition.operatorId == 1) { // Not equals to
                            if (!evalField.prop("checked")) { disFlag = true }
                        }
                    }
                    else { // Choose between operators
                        switch (condition.operatorId) {
                            case 0: if (field.val() == condition.value) { disFlag = true; }
                            case 1: if (field.val() != condition.value) { disFlag = true; }
                            case 2: if (parseFloat(field.val()) > parseFloat(condition.value)) {disFlag = true; }
                            case 3: if (parseFloat(field.val()) < parseFloat(condition.value)) {disFlag = true; }
                            default:
                        }
                        // If the object did not get diabled, enable it
                        field.prop("disabled", disFlag);
                    }
                    disFlagAnd.push(disFlag);
                })

                // If any of the conditions was not met, the element does not gets disabled.
                // If all of them were met (all true, not even one false), it gets disabled
                if (!disFlagAnd.includes(false)) { 
                    field.prop("disabled", true)
                    if (elementWithConditions.type == 4) {// if it's radio
                        if (field.prop("checked")) { // Si se bloquea, y este estaba seleccionado, que se desseleccione
                            field.prop("checked", false)
                        }
                    }
                    else {
                        field.text("")
                    }
                }
                else {
                    field.prop("disabled", false)
                }

            })
        }

        $("input").on('change', function () {
            checkConditionals()
        })

        checkConditionals()
    }



</script>

