﻿
@{
    ViewBag.Title = "Carga de medidas";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<!-- Page Header-->
<header>
    <h1>Carga de Archivos - PDA</h1>
</header>
@Html.Partial("_TempResult")

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4>Medidas en archivo plano - PDA</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <span>
                            Puede cargar información de medidas manualmente hacia la base de datos, por medio del formato utilizado en versiones anteriores de reportes.
                            
                            El documento a cargar es un archivo sin extensión (encriptado), se genera desde el aplicativo portátil del CGMPro. 
                        </span>
                    </div>
                    <div class="col-md-6">
                        <form class="dropzone dz-clickable" id="fileUpload" action="@Url.Content("~")Measures/PDAFilePreview">
                            <div class="dz-message">
                                <p>Arrastre el archivo hasta aquí.</p>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
<div id="LoadResult"></div>

@section scriptsbody{
    <!-- Dropzone.js-->
    <script src="~/Content/vendor/dropzone/dropzone.js"></script>
    <!-- Dropzone Init-->
    <script src="~/Content/js/forms-dropzone.js?v=0.4"></script>

    @*El archivo forms-dropzone está bastante editado por mí*@

    @Scripts.Render("~/bundles/dataTablesScript")

    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
}

@section styles{
    @Styles.Render("~/bundles/dataTablesStyle")
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css" rel="stylesheet" />
}



