﻿@model CGM.Models.CGMModels.AlarmCase

@{
    ViewBag.Title = "Crear";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Añadir Caso de Alarma</h1>
        </div>
    </div>
</header>

@Html.Partial("_TempResult")

<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>Crear</h2></div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group-material">

                            @Html.EditorFor(model => model.name, "", new { htmlAttributes = new { @class = "input-material" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger small" })
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "label-material" })
                        </div>
                        <div class="form-group-material">
                            <label>Destino</label>
                            @Html.DropDownList("destination_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.destination_id, "", new { @class = "text-danger small" })
                        </div>
                        <div class="form-group-material">
                            <label>Prioridad</label>
                            @Html.DropDownList("priority_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.priority_id, "", new { @class = "text-danger small" })
                        </div>
                        <div class="form-group-material">
                            @Html.EditorFor(model => model.description, "", new { htmlAttributes = new { @class = "input-material" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger small" })
                            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "label-material" })
                        </div>
                        <div class="form-group-material">

                            @Html.EditorFor(model => model.parameters, "", new { htmlAttributes = new { @class = "input-material" } })
                            @Html.ValidationMessageFor(model => model.parameters, "", new { @class = "text-danger small" })
                            @Html.LabelFor(model => model.parameters, htmlAttributes: new { @class = "label-material" })
                        </div>
                    </div>
                </div>
                @Html.Partial("_BtnSubmit", "Crear")
            }
        </div>
    </div>
</div>

