﻿@model CGM.Areas.SurveyApp.Models.MyModels.ResponseList

@{
    ViewBag.Title = "Opciones de respuesta";
}

<header>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="pr-4 col-1">@Html.ActionLink(" ", "Index", "Questions", new { id = Model.Question.Id_SurveyTemplate }, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
                <div>
                    <h1 class="">
                        Opciones de respuesta
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            @if (User.IsInRole("Administrator") || User.IsInRole("Creator"))
            {
                @*<p>
                @Html.ActionLink("+ Nueva pregunta", "Create", new { id = Model.SurveyTemplate.Id }, new { @class = "btn btn-primary" })
                  </p>*@
                @Ajax.ActionLink("+ Nueva opción de respuesta", "Create", new { id = Model.Question.Id}, new AjaxOptions()
                 {
                     HttpMethod = "GET",
                     UpdateTargetId = "createWrapper"
                 }, new { @class = "btn btn-primary" })
            }
        </div>
    </div>
    <hr />
</header>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <h4 class="card-header">
                @string.Format("{0} - Pregunta {1}", Model.Question.SurveyTemplate.Name, Model.Question.EnumLabel)
            </h4>
            <div class="card-body">
                <P>@Model.Question.Title</P>
                <table class="table">
                    <tr>
                        @if (Model.Question.Id_SurveyTemplate == 2)
                        {
                            <th> @Html.Label("ID")</th>
                        }
                        <th>
                            @Html.Label("#")
                        </th>
                        <th>
                            @Html.Label("Titulo")
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Responses)
                    {
                        <tr>
                            @if (Model.Question.Id_SurveyTemplate == 2)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.EnumLabel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Ajax.ActionLink("Editar", "Edit", new { id = item.Id }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "createWrapper"
                               })|
                                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div id="createWrapper"></div>
    </div>
</div>