﻿@model CGM.Areas.SurveyApp.Models.ShareSurvey

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
@Html.DisplayFor(model=>model)
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id  }) |
    @Html.ActionLink("Regresar", "ConductSurvey", "SurveyManager", new { id = Model.Id }, null)
</p>
