﻿@model CGM.Areas.Telemetry.Models.Meter
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><h2>Medidor</h2></div>
            <div class="card-body">
                <div>
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.formConfiguration_id)
                    @Html.HiddenFor(model => model.boundary_id)
                    @Html.HiddenFor(model => model.is_backup)

                    <div class="form-group-material">
                        @Html.EditorFor(model => model.serial, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                        @Html.LabelFor(model => model.serial, htmlAttributes: new { @class = "label-material" })
                        @Html.ValidationMessageFor(model => model.serial, "", new { @class = "text-danger small" })
                    </div>

                    @*<div class="form-group-material">
                        @Html.EditorFor(model => model.multiplicative_factor, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                        @Html.LabelFor(model => model.multiplicative_factor, htmlAttributes: new { @class = "label-material" })
                        @Html.ValidationMessageFor(model => model.multiplicative_factor, "", new { @class = "text-danger small" })
                    </div>*@

                    <div class="form-group-material">
                        @Html.EditorFor(model => model.info, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                        @Html.LabelFor(model => model.info, htmlAttributes: new { @class = "label-material" })
                        @Html.ValidationMessageFor(model => model.info, "", new { @class = "text-danger small" })
                    </div>
                    @Html.LabelFor(model => model.Model_Meter, htmlAttributes: new { @class = "label-material" })
                    @Html.DropDownList("model_meter_id", null, htmlAttributes: new { @class = "js-select full-size form-control", @style = "width: 100%" })

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><h2>Frontera asociada</h2></div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">Tipo de medidor</label>
                    <div class="col-sm-8">
                        <div>

                        </div>
                        <div>
                            <input id="metermain" type="radio" value="false" name="metertype">
                            <label for="metermain">Medidor principal</label>
                        </div>
                        <div>
                            <input id="meterbackup" type="radio" value="true" name="metertype">
                            <label for="meterbackup">Medidor de respaldo</label>
                        </div>
                        <div>
                            <input id="meterbackup" type="radio" value="" name="metertype">
                            <label for="meterbackup">Medidor no asignado</label>
                        </div>
                    </div>
                </div>
                <hr />
                @if (Model.boundary_id != null)
                {


                <div>
                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">
                            Código
                        </label>
                        <div class="col-sm-8">
                            @Html.DisplayFor(m => m.Boundary.code)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">
                            Nombre
                        </label>
                        <div class="col-sm-8">
                            @Html.DisplayFor(m => m.Boundary.name)
                        </div>
                    </div>
                    <hr />

                    <div class="form-group row justify-content-md-center">
                        <div class=""><a href="@Url.Content("~" + "/Telemetry/Meter/DesasociarFrontera/" + Model.id)" id="btn_des" class="btn btn-warning">Desasociar</a></div>
                    </div>
                </div>

                }
                <div id="boundaryDDMenu0" class="form-group bddm">
                    <label>Frontera - medidor principal</label>
                    <select class="js-select full-size form-control" id="boundaryDropDown0" name="boundaryDD" style="width: 100%"></select>
                </div>
                <div id="boundaryDDMenu1" class="form-group bddm">
                    <label>Frontera - medidor de respaldo</label>
                    <select class="js-select full-size form-control" id="boundaryDropDown1" name="boundaryDD" style="width: 100%"></select>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_BtnSubmit", "Guardar")
