﻿@model CGM.Areas.SurveyApp.Models.DataSourceItem
<div>
    <h4>Elementos del conjunto de datos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataSource.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSource.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>
