﻿@model CGM.Areas.Telemetry.Models.Acquisition_Item

@{
    ViewBag.Title = "Edit";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1 class="display"> Editar elemento</h1>
        </div>
    </div>
    <hr />
</header>

@Html.Partial("_TempResult")

<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2"><h2>Acquisition_Item</h2></div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group-material">
                    @Html.DropDownList("tag_line_id", null, htmlAttributes: new { @class = "js-select full-size", @style = "width: 100%" })
                    @Html.LabelFor(model => model.tag_line_id, "tag_line_id", htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.tag_line_id, "", new { @class = "text-danger small" })
                </div>
                <div class="form-group-material">
                    @Html.DropDownList("quantity_id", null, htmlAttributes: new { @class = "js-select full-size", @style = "width: 100%" })
                    @Html.LabelFor(model => model.quantity_id, "quantity_id", htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.quantity_id, "", new { @class = "text-danger small" })
                </div>
                <div class="form-group-material">

                    @Html.EditorFor(model => model.register_id, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                    @Html.LabelFor(model => model.register_id, htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.register_id, "", new { @class = "text-danger small" })
                </div>
                <div class="form-group-material">

                    @Html.EditorFor(model => model.waveform_id, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                    @Html.LabelFor(model => model.waveform_id, htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.waveform_id, "", new { @class = "text-danger small" })
                </div>
                <div class="form-group-material">

                    @Html.EditorFor(model => model.meter_events_id, "", new { htmlAttributes = new { @class = "input-material", @type = "text" } })
                    @Html.LabelFor(model => model.meter_events_id, htmlAttributes: new { @class = "label-material" })
                    @Html.ValidationMessageFor(model => model.meter_events_id, "", new { @class = "text-danger small" })
                </div>

                @Html.Partial("_BtnSubmit", "Guardar")

            }
        </div>
    </div>
</div>


