﻿@model IEnumerable<CGM.Areas.Telemetry.Models.Acquisition_Item>

@{
    String ctrl = ViewBag.ControllerName;
    var modelName = "tbl_" + ctrl;
    ViewBag.Title = "Elemento de grupo de adquisición";
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";
}


<header>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display">
                Elementos de grupo de adquisición
            </h1>
        </div>
        <div class="col-lg-6 text-right">
            <div class="btn-group">
                @Html.ActionLink("+ Añadir nuevo elemento", "Create", null, new { @class = "btn btn-primary", data_toggle = "tooltip", data_placement = "top", title = "Agregar elemento" })
            </div>
        </div>
    </div>
</header>


<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2> Listado</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@modelName" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity.name)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Tag_Line.name)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.register_id)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.waveform_id)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.meter_events_id)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tag_Line.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.register_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.waveform_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.meter_events_id)
                                    </td>
                                    <td>
                                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Editar" }) &nbsp;
                                        @Html.ActionLink(" ", "Details", new { id = item.Id, }, new { @class = "fa fa-list", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Detalles" }) &nbsp;
                                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash", data_toggle = "tooltip", data_hint_background = "bg-blue", data_placement = "top", title = "Archivar" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsbody{
    @Scripts.Render("~/bundles/dataTablesScript")
    <script>
        $(document).ready(function () {
            $('#@modelName').DataTable(
                    {
                    "language": {
                        "url": "../Scripts/es-CO.txt"
                    },
                    "pageLength": 100
                }
            );
        });
    </script>
}

@section styles{
    <!-- Datatables stylesheet-->
    @Styles.Render("~/bundles/dataTablesStyle")
}


