﻿@model CGM.Areas.SurveyApp.Models.DataSource

@{
    ViewBag.Title = "Crear";
    String ctrl = ViewBag.ControllerName;
    Layout = "~/Views/Shared/_LayoutCGM.cshtml";

}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1> Añadir nuevo </h1>
        </div>
    </div>
    <hr />
</header>
<div class="col-sm-6">
    <div class="card">
        <div class="card-header mb-2">
            <h2>
                @Html.DisplayNameForModel()
            </h2>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.EditorFor(model => model)
                @Html.HiddenFor(model => model.Group, new { @Value = ViewBag.dataset })
                @Html.Partial("_BtnSubmit", "Crear")

            }
        </div>
    </div>
</div>
