﻿@model CGM.Areas.SurveyApp.Models.DataSource

@{
    ViewBag.Title = "Eliminar";
}
<header>
    <div class="row">
        <div class="pr-4">@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", data_toggle = "tooltip", data_placement = "top", title = "Regresar" })</div>
        <div>
            <h1>Borrar elemento</h1>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-lg-6">
        @Html.DisplayFor(model => model)

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.Partial("_BtnSubmit", "Borrar")
            </div>
        }
    </div>
</div>
