﻿@using CGM.Models.MyModels
@model CGM.Models.MyModels.CriticSummary

@Html.Partial("_TempResult")
@{ List<CriticBoundary> boundariesViolate = new List<CriticBoundary>();}

@if (Model.boundaries.Count > 0)
{
    @Html.Partial("~/Views/Critic/_Critic_Tabla_Medidas.cshtml", Model.boundaries)
    <hr />
    <h2>Crítica de medidas</h2>
    <br />
    <div class="row">
        <div class="col-xl-6">
            @*Summary of the critic parameters*@
            <table class="table">
                <thead>
                    <tr>
                        <th>Parámetro</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Valores de comparación</td>
                        <td>@CriticSummary.parameterReadableNames("compareTo", Model.parameters["compareTo"])</td>
                    </tr>
                    <tr>
                        <td>Valor de exceso</td>
                        <td>@CriticSummary.parameterReadableNames("excessValuePick", Model.parameters["excessValuePick"])</td>
                    </tr>
                    <tr>
                        <td>Valor de exceso (referencia)</td>
                        <td>@Model.parameters["excessValue"]</td>
                    </tr>
                    @if (Model.parameters["compareTo"] == "1")
                    {
                        <tr>
                            <td>Curva típica</td>
                            <td>@ViewBag.curvaTipName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            @*Show different elements menu*@
            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Mostrar <br><small class="text-primary">Custom elements</small></label>
                <div class="col-sm-10">
                    <div class="i-checks">
                        <input id="checkboxshow2" name="showValues" type="checkbox" value="criticValue" checked="" class="form-control-custom">
                        <label for="checkboxshow2">Valor de comparación (p. ej. Curva Típica)</label>
                    </div>
                    <div class="i-checks"> 
                        <input id="checkboxshow3" name="showValues" type="checkbox" value="diff" checked="" class="form-control-custom">
                        <label for="checkboxshow3">Diferencia</label>
                    </div>
                    <div class="i-checks">
                        <input id="checkboxshow4" name="showValues" type="checkbox" value="percent" checked="" class="form-control-custom">
                        <label for="checkboxshow4">Porcentaje</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <br />
    <div class="row">
        @if (Model.violates)
        {
            {
                boundariesViolate = Model.boundaries.Where(b => b.violates != null).Where(b => b.violates.Value).ToList();
            }
            <div class="col-lg-4 container-custom">
                <h3 class="mb-3">Elementos fuera de rango</h3>
                <div class="vertical-center-custom">
                    <table id="table_violate" class="table ">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Frontera</th>
                                <th>P/R</th>
                                <th>Elementos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CriticBoundary boundary in boundariesViolate)
                            {
                                if (boundary.violates.Value)
                                {
                                    <tr>
                                        <td>@boundary.code</td>
                                        <td>@boundary.name</td>
                                        <td>@(boundary.is_backup ? "R" : "P") </td>
                                        <td>
                                            @boundary.criticMeasures.Where(m => m.violates.Value).Count()
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-8">
                <div id="critic_chart_line" style="height: 500px; margin: 0 auto"></div>
                @* Table with measures out of range *@
                <div class="m-4">
                    <div style="width:auto; overflow-x:scroll;">
                        <table class="table small table-sm">
                            <tr id="row_measures_out_of_range"></tr>
                        </table>
                    </div>
                </div>

            </div>
        }
        else
        {
            <div class="alert alert-success" role="alert">
                No existen elementos que superen los valores establecidos
            </div>
        }
    </div>

}

<script>

    var chartData = JSON.parse("@ViewBag.chartData".replace(/&quot;/g, '"'));
    var criticSummary = JSON.parse("@ViewBag.criticSummary".replace(/&quot;/g, '"'));

    // Init table of boundaries that violate the range
    $(function () {
        table_violate = $('#table_violate').DataTable();
        //$(".innerColumn").children().addClass("row")

        // Single row selection
        $('#table_violate tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table_violate.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            updateChartSeries()
        });

    })

    // Updates the series of the chart depending on the current selection in the table.
    function updateChartSeries() {
        var name = table_violate.rows('.selected').data()[0][1] // Nombre de la frontera
        var code = table_violate.rows('.selected').data()[0][0] // Selects the code from the table (1st column)
        var isbackup = table_violate.rows('.selected').data()[0][2] // P o R
        //drawAreaChart(code + "_" + isbackup, name)
        drawLineChart(code + "_" + isbackup, name)
        updateTableOutOfRange(code, isbackup)

    }    

    @*function drawAreaChart(code_isbackup, name) { // code_isbackup = "FRT02443_False" (i.e.)
        var criticChart = Highcharts.stockChart('critic_chart_line', {
            chart: {type: 'arearange'},

            rangeSelector: {selected: 2},

            title: {text: "Frontera: " + name},

            tooltip: {valueSuffix: ' @ViewBag.quantity_unit'},

            series: [{
                name: '@ViewBag.quantity_name',
                data: chartData[code_isbackup]
            }]

        });
    }*@

    var seriesSelector = [["Original", 1], ["Crítica", 2]] // 1 and 2 are the positions of the measures in the array

    function drawLineChart(code_isbackup, name) { // code_isbackup = "FRT02443_False" (i.e.)
        // chartData[code_isbackup] => Es un Array of Arrays. Cada elemento es una tripleta de [fecha, original, crítica]
        seriesElements = []
        seriesSelector.forEach(function(selector, i){
            var dataseries = [];

            $.each(chartData[code_isbackup], function (index, value) {
                dataseries.push([value[0], value[selector[1]]]) //selector[1] = 1 o 2, representa la medida original o la crítica
            })

            seriesElements[i] = {
                name: selector[0],
                data: dataseries
            }
        });

        // Show range area in line
        var areaRange = []
        var valueToAdd = 0

        $.each(seriesElements[1].data, function (i, pair) { // Just take the critic, and add the determined range.
            if (@Model.parameters["excessValuePick"] == 0) { // Valor fijo
                valueToAdd = pair[1] + @Model.parameters["excessValue"];
            }
            if (@Model.parameters["excessValuePick"] == 1) { // Percentage
                valueToAdd = pair[1]*(1 + @Model.parameters["excessValue"]/100); 
            }
            areaRange.push([pair[0], pair[1], valueToAdd])
        })

        seriesElements.push({ // This adds the area on top of the critic line
            name: "Range",
            data : areaRange,
            type: 'arearange',
            lineWidth: 0,
            color: Highcharts.getOptions().colors[0],
            fillOpacity: 0.3,
            zIndex: 0,
            marker: {
                enabled: false
            },
            tooltip: {
                pointFormat: ''
            }
        })

        // Show trespassed area
        var areaRangeTrespassed = []
        $.each(areaRange, function (i, triplet) { // Just take the critic, and add the determined range.
            var valueToAdd = 0
            if (seriesElements[0].data[i][1] > triplet[2]) { // If the original value is higher that the critic plus the limit, add the original
                valueToAdd = seriesElements[0].data[i][1]
            }
            else { // else, add the critic value, in order to maintain continuity
                valueToAdd = triplet[2]
            }

            areaRangeTrespassed.push([triplet[0], triplet[2], valueToAdd]) // [datetime, border, border or original if it trespass]
        })

        seriesElements.push({ // This adds the area on top of the critic line
            name: "Overpassed",
            data: areaRangeTrespassed,
            type: 'arearange',
            lineWidth: 0,
            color: "#c41902", //red
            fillOpacity: 0.3,
            zIndex: 0,
            marker: {
                enabled: false
            },
            tooltip: {
                pointFormat: ''
            }
        })

        // Draw the chart
        var criticChart = Highcharts.stockChart('critic_chart_line', {
            rangeSelector: { selected: 2 },

            title: { text: "Frontera: " + name },
            plotOptions: {
                series: {
                    showInNavigator: true
                }
            },
            tooltip: { valueSuffix: ' @ViewBag.quantity_unit' },

            series: seriesElements

        });
    }

    // Update little table below that shows which measures are out of range
    function updateTableOutOfRange(code, is_backup) {
        var is_backup_bool = is_backup == "P" ? false : true;

        // Selects the measures for the corresponding arguments
        var measures = criticSummary.boundaries.filter(
            function (x) {
                if (x.code == code && x.is_backup == is_backup_bool && x.violates == true) { return x }
            })
        [0].criticMeasures

        var table_OOR = $('#row_measures_out_of_range'); // OOR = Out of range
        table_OOR.empty()

        // Add first column with titles
        table_OOR.append('<td><p class="m-0"><strong>Hora</strong></p><p class="m-0">Original</p><p class="m-0">Crítica</p><p class="m-0">Diferencia</p><p class="m-0">Porcentaje</p></td>')
        $.each(measures.filter(x => x.violates == true), function (index, measure) {
            var date = new Date(measure.datetime)
            var colsToappend = '<td class="innerColumn" >' +
                '<p class="m-0"><strong>' + date.getHours() + ":00" + (date.getHours() == 0 ? " (+1)" : "") + '</strong></p>' + // Add +1 if the hour is midnight, to indicate the next day
                '<p class="m-0">' + round(measure.original) + '</p>' +
                '<p class="m-0">' + round(measure.critic) + '</p>' +
                '<p class="m-0">' + round(measure.difference) + '</p>' +
                '<p class="m-0">' + round(measure.percentage) + '%</p>' +
                '</td>'
            table_OOR.append(colsToappend)
        })
    }

    function round(num) {
        return Math.round(num * 100) / 100;
    }

    $(function init() {
        // Click the first element of the list, to initialize the chart
        $($("#table_violate").find("tr")[1]).click()
    })

    $("input[name='showValues']").click(function () {
        chkBx = $(this)
        itemClass = chkBx.val() // the value of the element is the class to hide or show
        if (chkBx.prop("checked")) {
            $("." + itemClass).show()
        }
        else {
            $("." + itemClass).hide()
        }

    })

</script>
