﻿@model CGM.Areas.SurveyApp.Models.Procedure

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

@using (Html.BeginForm(Html.BeginForm("Create", "Procedures", FormMethod.Post, new { enctype = "multipart/form-data" }))) 
{
    @Html.EditorFor(model => model)
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
