﻿@model CGM.Areas.SurveyApp.Models.Procedure

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm(Html.BeginForm("Edit", "Procedures", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.HiddenFor(model => model.Id)
    @Html.EditorFor(model=>model)    
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
