﻿@model CGM.Areas.SurveyApp.Models.SurveyTemplate

@{
    ViewBag.Title = "Eliminar";
}

<h2>Borrar</h2>

<h3>¿Esta seguro de borrar esta plantilla?</h3>
@Html.DisplayFor(model=>model)
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
